﻿<%@ Page Language="C#" CodeFile="Planner_Del.aspx.cs"
    Inherits="DigiSign_Planner_Del" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Import Namespace="System.Data.SqlClient" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <a href="../../Zeus/DigiSign/Planner_Lst.aspx">◄◄◄ back ◄◄◄</a>

        </div>
    </form>
</body>
</html>
