﻿@import '../base/_variables.scss';
@import '../base/_mixin.scss';

ul.MenuLv1 {
    @include flexElement();
    @include flexWrap(wrap);
    width: 100%;
    background-color: $grigio_700;
    border: 0;
    list-style-type: none;
    padding: 0;

    li {
        position: relative;

        border: {
            style: none;
            bottom: 1px solid $bianco;
        }

        margin: 0;

        &:hover {
            background-color: $rosso_500;
        }

        a {
            display: block;
            color: $bianco;

            font: {
                family: Arial,Helvetica,sans-serif;
                size: 14px;
            }

            text-decoration: none;
            padding: 10px 20px;
        }

        ul {
            display: none;
            position: absolute;
            background-color: $grigio_800;
            border-radius: 0;
            border: 0;
            min-width: 200px;
            list-style-type: none;
            margin: 0;
            padding: 0;

            &.MenuLv2 {
                top: calc(100% - 1px);
                left: 0;
            }

            &.MenuLv3 {
                top: 0;
                left: 200px;
            }
        }
    }

    > li {
        border: 0;

        &:hover ul.MenuLv2 {
            display: block;
        }

        > ul.MenuLv2 li:hover ul.MenuLv3 {
            display: block;
        }
    }

    ul.MenuLv2 {
        li {
            @include flexElement(space-between, center);

            span {
                color: $bianco;

                font: {
                    size: 10px;
                }

                padding: 0 10px;
            }
        }
    }
}
