﻿/***** TESTO *****/
@mixin wordBreak() {
    word-break: break-word;
    overflow-wrap: break-word;
}
/***** FINE TESTO *****/


/***** ANIMAZIONI *****/
@mixin transitionAll($seconds, $effect: ease-in-out) {
    -webkit-transition: all $seconds $effect;
    -moz-transition: all $seconds $effect;
    -o-transition: all $seconds $effect;
    transition: all $seconds $effect;
}

@mixin animationWithKeyframe($keyframe, $seconds, $effect) {
    -webkit-animation: $keyframe $seconds $effect; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: $keyframe $seconds $effect; /* Firefox < 16 */
    -ms-animation: $keyframe $seconds $effect; /* Internet Explorer */
    -o-animation: $keyframe $seconds $effect; /* Opera < 12.1 */
    animation: $keyframe $seconds $effect;
}
/***** FINE ANIMAZIONI *****/


/***** FLEX *****/
@mixin flexElement($justifyContent: flex-start, $alignItems: flex-start, $direction: row) {
    @include flex();
    @include flexJustifyContent($justifyContent);
    @include flexAlignItems($alignItems);
    @include flexDirection($direction);
}

@mixin flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flexDirection($direction) {
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

@mixin flexJustifyContent($value: flex-start) {
    @if $value == flex-start {
        -webkit-box-pack: start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
    }
    @else if $value == flex-end {
        -webkit-box-pack: end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
    }
    @else if $value == space-between {
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
    }
    @else if $value == space-around {
        -ms-flex-pack: distribute;
    }
    @else {
        -webkit-box-pack: $value;
        -moz-box-pack: $value;
        -ms-flex-pack: $value;
    }

    -webkit-justify-content: $value;
    justify-content: $value;
}

@mixin flexAlignItems($value: flex-start) {
    @if $value == flex-start {
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
    }
    @else if $value == flex-end {
        -webkit-box-align: end;
        -moz-box-align: end;
        -ms-flex-align: end;
    }
    @else {
        -webkit-box-align: $value;
        -moz-box-align: $value;
        -ms-flex-align: $value;
    }

    -webkit-align-items: $value;
    align-items: $value;
}

@mixin flexWrap($value: nowrap) {
    -webkit-flex-wrap: $value;

    @if $value == nowrap {
        -ms-flex-wrap: none;
    }
    @else {
        -ms-flex-wrap: $value;
    }

    flex-wrap: $value;
}

@mixin flexWidth($width) {
    -webkit-box-flex: $width;
    -moz-box-flex: $width;
    -webkit-flex: $width;
    -ms-flex: $width;
    flex: $width;
}

@mixin flexOrder($ordine) {
    -webkit-box-ordinal-group: $ordine;
    -moz-box-ordinal-group: $ordine;
    -ms-flex-order: $ordine;
    -webkit-order: $ordine;
    order: $ordine;
}
/***** FINE FLEX *****/
