﻿/********* Allineamento hr ***********/
hr {
    &.rightAlign {
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    &.leftAlign {
        margin-left: 0 !important;
        margin-right: auto !important;
    }

    &.centerAlign {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}


/********* BOOTSTRAP EXTENSIONS ***********/
.row {
    &.small-gutters {
        margin: 0 -0.5rem;

        > div[class^="col"] {
            padding: 0 0.5rem;
        }
    }

    &.half-gutters {
        margin: 0 -1rem;

        > div[class^="col"] {
            padding: 0 1rem;
        }
    }
}
