﻿//breakpoint
$break-xs: 576px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
$break-xl: 1600px;


//colori
$arancione_500: #e95a0c;

$rosso_500: #d61920;

$grigio_200: #d6d6d6;
$grigio_400: #b0b0b0;
$grigio_700: #999;
$grigio_800: #4a4a48;

$bianco: #fff;
$bianco_100: #fafafa;

$nero: #000;
