﻿main.home {
    .boxBanner {
        padding: 6rem 0;

        .row {
            margin: 0 -0.75rem;

            div[class^="col"] {
                margin-top: 1.5rem;
                padding: 0 0.75rem;

                &:nth-child(1) {
                    margin-top: 0;
                }

                @media screen and (min-width: 768px) {
                    &:nth-child(2) {
                        margin-top: 0;
                    }
                }

                a.box {
                    display: block;
                    position: relative;
                    text-decoration: none;

                    &:hover {
                        .wrapperTesto {
                            background-color: rgba(0,0,0,0.7);

                            .testo {
                                color: $bianco;
                            }

                            .titolo {
                                color: #fff;
                            }
                        }
                    }

                    .immagine {
                        width: 100%;

                        img {
                            max-width: 100%;
                        }
                    }

                    .wrapperTesto {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        background-color: rgba(255,255,255,0.7);
                        text-align: center;
                        padding: 3rem 2rem;
                        transition: all 0.3s ease-in-out;

                        .testo {
                            color: $grey;
                            font-weight: bold;
                            letter-spacing: .1rem;
                            transition: all 0.3s ease-in-out;
                        }

                        .titolo {
                            color: $nero;
                            /*font-size: 2.4rem;*/
                            text-transform: uppercase;
                            transition: all 0.3s ease-in-out;
                            margin-top: .8rem;
                        }
                    }
                }
            }
        }
    }
}
