﻿section.consiglioDirettivo {
    padding: 3rem 0;

    .boxTitolo {
        .titoloArchivio {
            font-size: 2.2rem;
        }
    }

    .boxContenuto {
        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
        }
    }

    .archivio {
        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            font-weight: bold;
            border-bottom: 1px solid gray;
            padding: 1rem 0.5rem;
            @include transitionAll(0.2s, ease-in);

            &:hover {
                color: #fff;
                background-color: rgba(34, 136, 194, 0.5);
                @include transitionAll(0.2s, ease-in);
            }
        }
    }
}
