﻿#cookieChoiceInfo {
    background-color: $grey;

    span {
        color: #fff;
        font-size: 1.3rem;
        font-weight: 700;
    }

    a:first-of-type {
        color: #fff;
        font-size: 1.3rem;
        font-weight: 700;
        text-decoration: underline;
    }

    #cookieChoiceDismiss {
        background-color: $blue;
        border: .1rem solid rgba(0,0,0,.1);
        border-radius: .2rem;
        color: #fff;
        line-height: 1.9rem;
        padding: .4rem .8rem;
        text-decoration: none;
        white-space: nowrap;
        font-weight: 700;
    }
}
