﻿section.corsoDettaglio {
    padding: 3rem 0;

    .innerBox {
        .immagine {
            text-align: center;
            margin-bottom: 2rem;
            overflow: hidden;

            @media (min-width: $break-md) {
                text-align: left;
            }

            img {
                border: 1px solid $lightGrey;
                max-width: 100%;
                padding: 0.3rem;
            }
        }

        .introduzione {

            .descBreve {
                padding-bottom: 1rem;
            }

            .listaPulsanti {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;

                .link {
                    margin-top: 2rem;
                    margin-right: 1.5rem;

                    a {
                        display: block;
                        color: #fff;
                        background-color: $blue;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-family: $fontTitolo;
                        font-size: 1.2rem;
                        font-weight: bold;
                        width: 100%;
                        text-align: center;
                        border-radius: 4%;
                        padding: 0.7rem 2rem;
                        @include transitionAll(0.2s, ease-in);

                        @media (min-width: $break-md) {
                            font-size: 1.4rem;
                            padding: 1rem 2rem;
                        }

                        &:hover {
                            background-color: $grey;
                        }
                    }

                    &.iscriviti {
                    }

                    &.file {
                        a {
                            background-color: $grey;

                            &:hover {
                                background-color: $blue;
                            }
                        }
                    }
                }
            }
        }
    }
}
