﻿footer {
    background-color: $darkGrey;

    ul {
        list-style-type: none;
    }

    .upperArea {
        padding: 2rem 0;

        @media (min-width: $break-md) {
            padding: 5rem 0;
        }

        .logo {
            img {
                max-width: 100%;
            }
        }

        .menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding-top: 1rem;

            @media (min-width: $break-md) {
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding-top: 0;
                padding-left: 3rem;
            }

            .itemLink {
                text-align: center;

                @media (min-width: $break-md) {
                    &:first-child {
                        a {
                            padding-left: 0;
                        }
                    }

                    &:last-child {
                        a {
                            padding-right: 0;
                        }
                    }
                }

                a {
                    color: #fff;
                    font-size: 1.5rem;
                    font-weight: bold;
                    font-family: $fontTitolo;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 0 1.5rem;
                    @include transitionAll(0.2s, ease-in);

                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }

    .lowerArea {
        background-color: #000;
        padding: 1.5rem 0;

        .info {
            color: #fff;
            font-size: 1.4rem;
            /*font-weight: bold;*/
            text-align: center;

            @media (min-width: $break-md) {
                text-align: left;
            }

            a {
                color: #fff;
                font-size: 1.4rem;
                /*font-weight: bold;*/
                @include transitionAll(0.2s, ease-in);

                &:hover {
                    color: $red;
                }
            }
        }

        .menuPrivacy {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 1rem;
            margin-bottom: 0;

            @media (min-width: $break-md) {
                justify-content: flex-end;
                padding-top: 0;
            }

            li {
                a {
                    color: #fff;
                    font-size: 1.4rem;
                    font-weight: bold;
                    text-decoration: none;
                    /*padding: 0 0.5rem;*/
                    @include transitionAll(0.2s, ease-in);

                    &:after {
                        content: "|";
                        color: #fff;
                        font-size: 1.4rem;
                        padding: 0 0.5rem;
                    }

                    &:hover {
                        color: $red;
                        text-decoration: underline;
                    }
                }

                &:last-child {
                    a {
                        padding-right: 0;

                        &:after {
                            content: none;
                        }
                    }
                }
            }
        }
    }
}


/*footer {
    position: relative;
    width: 100%;
    padding: 20px 0;
    background-color: #d2d9de;
    text-align: center;
}

footer img {
    float: none;
    position: relative;
    width: 60%;
    height: auto;
    margin: auto;
    display: block;
    clear: both;
    margin-bottom: 20px;
}

footer p {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    color: #444;
    display: block;
    clear: both;
    padding: 0 20px;
}

footer ul {
    width: 100%;
    position: relative;
    display: inline;
    padding: 0px;
    text-align: center;
    padding: 0 20px;
}

footer ul li {
    position: relative;
    display: inline;
    margin: 0 6px;
}

footer a {
    font-size: 1.4rem;
    color: #1d76ba;
    text-decoration: underline;
    white-space: nowrap;
}

@media (min-width: 768px) {
    footer img {
        width: 360px;
    }
}

@media (min-width: 992px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer img {
        margin-top: 30px;
        margin-left: 20px;
        width: 280px;
    }

    footer p {
        width: auto;
    }

    footer ul {
        width: auto;
        min-width: 30%;
        text-align: right;
        display: inline-block;
    }
}*/
