﻿section.galleryDettaglio {
    padding: 3rem 0;

    .innerBox {
        .immagine {
            text-align: center;
            margin-bottom: 2rem;
            overflow: hidden;

            @media (min-width: $break-md) {
                text-align: left;
            }

            img {
                border: 1px solid $lightGrey;
                max-width: 100%;
                padding: 0.3rem;
            }
        }

        .elencoFoto {
            padding-top: 2rem;

            .foto {
                .immagine {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 300px;
                    border: none;
                    cursor: pointer;
                    margin: 0 0.2rem;
                    overflow: hidden;

                    .fotoLinkGallery {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 300px;
                        border: none;
                        cursor: pointer;
                        margin: 0 0.2rem;
                        overflow: hidden;

                        &.verticalImg {
                            flex-direction: column;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }

                        &.horizontalImg {
                            img {
                                width: auto;
                                height: 100%;
                            }
                        }

                        img {
                            max-width: none;
                            width: auto;
                            height: 100%;
                            border: none;
                            @include transitionAll(0.3s, ease-in);
                        }
                    }
                }
            }
        }
    }
}
