﻿section.gallery {
    padding: 3rem 0;

    .descrizione {
        padding-bottom: 2rem;
    }

    .galleryItem {
        .immagineLibro {
            img {
                border: 1px solid $lightGrey;
                max-width: 100%;
                padding: 0.3rem;
            }
        }

        .testoLibro {
            .volume {
                color: $grey;
                font-size: 1.6rem;
                font-weight: bold;
            }

            .titolo {
                padding-top: 0.8rem;
            }

            .autori {
                color: $lightGrey;
                font-size: 1.6rem;
                padding-top: 0.8rem;

                p {
                    font-size: 1.6rem;
                }
            }

            .link {
                a {
                    display: inline-block;
                    color: #fff;
                    background-color: $blue;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: $fontTitolo;
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-align: center;
                    border-radius: 4%;
                    margin-top: 2rem;
                    padding: 0.5rem 2rem;
                    @include transitionAll(0.2s, ease-in);

                    @media (min-width: $break-md) {
                        font-size: 1.4rem;
                        padding: 0.7rem 3rem;
                    }

                    &:hover {
                        background-color: $grey;
                    }
                }
            }
        }
    }
}
