﻿header {
    /*background-color: rgba(235,235,235, 0.7);*/
    /*background-color: rgba(34, 136, 194, 0.9);*/
    background-color: $lightGrey;

    .upperArea {
        padding: 1rem 0;

        .logo {
            overflow: hidden;
            padding-bottom: 2rem;

            @media (min-width: $break-md) {
                padding-bottom: 0;
            }

            img {
                max-width: 100%;
            }
        }

        .areaLink {
            width: 100%;

            a {
                display: block;
                color: #730F11;
                text-transform: uppercase;
                text-decoration: none;
                font-family: $fontTitolo;
                font-size: 1.5rem;
                font-weight: bold;
                width: 100%;
                text-align: center;
                border: 2px solid #730F11;
                border-radius: 4%;
                padding: 0.7rem 2rem;
                @include transitionAll(0.2s, ease-in);

                @media (min-width: $break-md) {
                    font-size: 1.5rem;
                    padding: 1rem 2rem;
                }

                &:hover {
                    color: #fff;
                    background-color: #730F11;
                }
            }

            &.soci {
            }

            &.pazienti {
                a {
                    color: $grey;
                    border-color: $grey;

                    &:hover {
                        color: #fff;
                        background-color: $grey;
                    }
                }
            }
        }
    }

    .navbar {
        background-color: $nero;
        padding-top: 0.5rem;

        @media (min-width: $break-lg) {
            padding: 0;
        }

        .navbar-toggler {
            border-color: rgba(255, 255, 255, 1);
            margin-bottom: 0.5rem;

            &:focus {
                outline: none;
            }

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
        }

        .navbar-collapse {
            .navbar-nav {
                width: 100%;
                justify-content: space-between;

                .nav-item {
                    @include transitionAll(0.2s, ease-in);

                    &.active {
                        .nav-link {
                            color: #fff;
                        }
                    }

                    .nav-link {
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 1.5rem;
                        font-weight: bold;
                        font-family: $fontTitolo;
                        text-align: center;
                        padding: 1rem 0.3rem;
                        @include transitionAll(0.2s, ease-in);

                        &:after {
                            border: none;
                        }
                    }

                    &:focus, &:hover {
                        background-color: $lightestGrey;

                        .nav-link {
                            color: $nero;
                        }
                    }

                    .dropdown-menu {
                        background-color: #fff;
                        border: none;
                        text-align: center;
                        padding: 0;
                        margin: 0;

                        @media (min-width: $break-lg) {
                            text-align: left;
                        }

                        .dropdown-item {
                            color: $grey;
                            font-size: 1.5rem;
                            font-family: $fontTitolo;
                            text-decoration: none;
                            border-bottom: 1px solid $lightGrey;
                            border-left: 0 solid $nero;
                            border-right: 3px solid rgba(255, 255, 255, 0);
                            padding: 0.8rem 1.5rem;
                            @include transitionAll(0.2s, ease-in);

                            &.active, &:active, &:focus, &:hover {
                                color: $nero;
                                border-left: 3px solid $nero;
                                border-right: 0 solid rgba(255, 255, 255, 0);
                                @include transitionAll(0.2s, ease-in);
                            }
                        }
                    }
                }
            }
        }
    }
    /*.navbar {
        .navbar-collapse {
            background-image: url('/asset/img/menu_bar.png');
            background-repeat: repeat-x;
            background-position: center 5.3rem;
            min-height: 7.8rem;

            .nav-item {
                background: url('/asset/img/head_btn_bg.png') no-repeat center center;
                background-size: contain;
                width: 15.85rem;

                &.active {
                    background-image: url('/asset/img/head_btn_bg_hover.png');

                    .nav-link {
                        color: #fff;
                    }
                }

                .nav-link {
                    color: $lightGrey;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 1.4rem;
                    text-align: center;
                }

                .dropdown-menu {
                    background-color: $lightGrey;
                    border: none;

                    .dropdown-item {
                        text-decoration: none;

                        &.active, &:active, &:focus, &:hover {
                            color: #212529;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }*/
}
