﻿section.newsDettaglio {
    padding: 3rem 0;

    .innerBox {
        .immagine {
            text-align: center;
            margin-bottom: 2rem;
            overflow: hidden;

            @media (min-width: $break-lg) {
                text-align: left;
            }

            img {
                border: 1px solid $lightGrey;
                max-width: 100%;
                padding: 0.3rem;
            }
        }
    }
}
