﻿section.registrazione {
    padding: 3rem 0;

    .linkButton {
        input {
            color: #fff;
            background-color: #730F11;
            border: none;
            text-transform: uppercase;
            font-family: $fontTitolo;
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            border-radius: 4%;
            cursor: pointer;
            margin-top: 2rem;
            padding: 0.5rem 2rem;
            @include transitionAll(0.2s, ease-in);

            @media (min-width: $break-md) {
                font-size: 1.4rem;
                padding: 0.7rem 3rem;
            }

            &:hover {
                background-color: $grey;
            }
        }
    }

    .panel1 {
        .boxIscriviti {
        }

        .boxRinnova {

            .link {
                a {
                    display: inline-block;
                    color: #fff;
                    background-color: $blue;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: $fontTitolo;
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-align: center;
                    border-radius: 4%;
                    margin-top: 2rem;
                    padding: 0.5rem 2rem;
                    @include transitionAll(0.2s, ease-in);

                    @media (min-width: $break-md) {
                        font-size: 1.4rem;
                        padding: 0.7rem 3rem;
                    }

                    &:hover {
                        background-color: $grey;
                    }
                }
            }
        }

        .richText {
            padding-top: 5rem;
        }
    }

    .panel2 {
        .labelDisplayInline label {
            display: inline !important;
        }
    }

    .panel3 {
    }
}
