﻿main.home {
    .slider {
        position: relative;
        width: 100%;
        margin-bottom: 0 !important;
        overflow: hidden;

        .boxSlide {
            position: relative;
            width: 100%;
            height: auto;

            .immagine {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-height: 40rem;
                overflow: hidden;

                @media (min-width: $break-md) {
                    max-height: 50rem;
                }
                /*@media (min-width: $break-lg) {
                    max-height: 50rem;
                }*/
                @media (min-width: $break-xl) {
                    max-height: 60rem;
                }

                img {
                    max-width: none;
                    width: auto;
                }

                .foregroundOpaco {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.3);
                }
            }

            .boxTesto {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                .contentContainer {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    color: #fff;
                    text-decoration: none;

                    .container {
                        position: relative;

                        .innerBox {
                            text-align: center;
                            padding: 0 3rem;

                            .data {
                                color: #fff;
                                font-size: 1.5rem;
                                font-weight: bold;
                                text-transform: uppercase;
                                margin: 0;
                            }

                            .testo {
                                color: #fff;
                                font-size: 2rem;
                                font-weight: bold;
                                text-transform: uppercase;
                                margin: 0;
                                padding-top: 1.5rem;

                                @media (min-width: $break-md) {
                                    font-size: 2.3rem;
                                }
                            }

                            .titolo {
                                color: #fff;
                                text-transform: none;
                                font-weight: bold;
                                font-size: 3rem;
                                margin: auto;
                                padding-top: 1.5rem;

                                @media (min-width: $break-md) {
                                    font-size: 4rem;
                                }

                                @media (min-width: $break-lg) {
                                    max-width: 50rem;
                                }
                            }

                            .link {
                                margin-top: 5rem;

                                a {
                                    display: inline-block;
                                    color: #fff;
                                    background-color: rgba(255, 255, 255, 0);
                                    text-transform: uppercase;
                                    text-decoration: none;
                                    font-family: $fontTitolo;
                                    font-size: 1.2rem;
                                    font-weight: bold;
                                    text-align: center;
                                    border: 2px solid #fff;
                                    border-radius: 4%;
                                    padding: 0.7rem 2.5rem;
                                    @include transitionAll(0.2s, ease-in);

                                    @media (min-width: $break-md) {
                                        font-size: 1.4rem;
                                        padding: 1rem 2rem;
                                    }

                                    &:hover {
                                        color: $blue;
                                        background-color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }

                .arrowContainer {
                    position: relative;

                    .sliderArrow {
                        position: absolute;
                        top: -20rem;
                        height: 40rem;
                        display: flex;
                        cursor: pointer;
                        z-index: 900;

                        &.leftArrow {
                            display: none !important;
                            left: 0.5rem;
                            z-index: 1000;

                            @media (min-width: $break-md) {
                                display: inline !important;
                                left: -0.5rem;
                            }

                            @media (min-width: $break-xl) {
                                left: -2.5rem;
                            }
                        }

                        &.rightArrow {
                            display: none !important;
                            right: 0.5rem;
                            z-index: 1000;

                            @media (min-width: $break-md) {
                                display: inline !important;
                                right: -0.5rem;
                            }

                            @media (min-width: $break-xl) {
                                right: -2.5rem;
                            }
                        }

                        i, svg, i:hover, svg:hover {
                            color: #fff;
                            height: 100%;
                            font-size: 4rem !important;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }

        .slick-dots {
            bottom: 3rem;

            li {
                width: 12px;
                height: 12px;

                button {
                    width: 12px;
                    height: 12px;
                    border: none;
                    border-radius: 100%;
                    background-color: $grey;
                    opacity: 0.5;

                    &:before {
                        content: '';
                    }
                }

                &.slick-active button {
                    background-color: #fff;
                }
            }
        }
    }
}
