﻿section.soci {
    padding: 3rem 0;

    .filtro {
        background-color: $lightestGrey;
        border-top: 4px solid $lightGrey_200;
        margin-top: 1rem;
        padding: 2rem 1.5rem;

        .titoletto {
            color: $blue;
            font-size: 2.2rem;
            font-weight: bold;
            margin-top: 2rem;
            padding-left: 1rem;
            padding-bottom: 1rem;
        }

        input[type="text"] {
            height: 5rem;
            width: 100%;
            border: 1px solid $lightGrey;
            border-radius: 3%;
            padding: 1rem;
        }

        select {
            height: 5rem;
            width: 100%;
            border: 1px solid $lightGrey;
            border-radius: 3%;
            padding: 1rem;
        }

        .link {
            a[id$="Cerca_Button"] {
                display: inline-block;
                color: #fff;
                background-color: $blue;
                text-transform: uppercase;
                text-decoration: none;
                font-family: $fontTitolo;
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
                border-radius: 4%;
                margin-top: 2rem;
                padding: 0.7rem 2rem;
                @include transitionAll(0.2s, ease-in);

                @media (min-width: $break-md) {
                    font-size: 1.4rem;
                    padding: 1.2rem 3rem;
                }

                &:hover {
                    background-color: $grey;
                }
            }
        }
    }

    .elencoSoci {
        padding-top: 2rem;

        .socio {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 3rem; 

            .logo {
                max-width: 80px;
                border: 2px solid $lightGrey;
                border-radius: 100%;
                overflow: hidden;

                img {
                    max-width: 100%;
                    border: 3px solid #fff;
                    border-radius: 100%;
                }
            }

            .contenuto {
                padding-left: 2rem;

                .nome {
                    color: $blue;
                    font-size: 2.4rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 0;

                    .onorario {
                        font-family: $fontTitolo;
                        font-size: 1.4rem;
                    }
                }

                .link {
                    color: $lightGrey;
                    text-decoration: none;
                    @include transitionAll(0.2s, ease-in);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .paginazione {
        text-align: center;
        padding-top: 5rem;

        .pagina {
            p {
                font-size: 1.5rem;
            }
        }

        .pager {
            padding-top: 1.5rem;

            .elementoSelezionato {
                color: $lightBlue;
                font-weight: bold;
            }

            a {
                font-weight: bold;
                text-decoration: none;
                @include transitionAll(0.2s, ease-in);

                &:hover {
                    color: $lightBlue;
                }

                &.aspNetDisabled {
                    color: $lightGrey;
                }
            }
        }
    }
}
/*.mappaItalia {
        position: relative;
        left: 0;
        top: 0;
        height: auto;
        max-width: 50rem;
        margin: 3rem auto;

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        img.baseClear {
            position: relative;
            left: 0;
            top: 0;
            z-index: 100;
        }

        img.map {
            position: absolute;
            left: 0;
            top: 0;
        }

        img.regione {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
        }
    }*/
