﻿section.sociDettaglio {
    padding: 3rem 0;

    .boxDati {
        padding: 2rem 0;

        .immagine {
            max-width: 200px;
            border: 2px solid $lightGrey;
            border-radius: 100%;
            margin: 0 auto;
            overflow: hidden;

            img {
                max-width: 100%;
                width: 100%;
                border: 3px solid #fff;
                border-radius: 100%;
            }
        }

        .elencoDati {
            .row {
                text-align: center;

                @media (min-width: $break-md) {
                    text-align: left;
                }
            }

            .titolo {
                color: $blue;
                font-size: 1.6rem;
                font-weight: bold;
            }

            .valore {
                padding-bottom: 2rem;
            }
        }
    }

    .boxContenuti {
        padding-top: 3rem;
    }
}
