//breakpoint
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

//colori
$grey: #7c7a79;
$darkGrey: #1f1f1f;
$lightGrey_200: #EBEBEB;
$lightGrey: #dadada;
$lightestGrey: #fafafa;
$blue: #730F11;
$lightBlue: #2492D1;
$red: #730f11;
$nero: #000;
$bianco: #fff;

//FONTS
$fontTitolo: 'Oswald', sans-serif;
$fontTesto: 'Open Sans', sans-serif;

@mixin transitionAll($seconds, $effect) {
    -webkit-transition: all $seconds $effect;
    -moz-transition: all $seconds $effect;
    -o-transition: all $seconds $effect;
    transition: all $seconds $effect;
}
