﻿section.istituzionali {
    .innerBox {
        .immagineHeadline {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 100%;
            }
        }

        .firstTitle {
            padding-top: 2rem;
        }

        .immagine {
            text-align: center;
            margin-bottom: 2rem;
            overflow: hidden;

            img {
                max-width: 100%;
            }
        }

        .richText {
            margin-bottom: 3rem;
        }
    }

    .linkDownload {
        background-color: $lightGrey_200;
        margin-top: 3rem;
        padding: 3rem 0;

        .richText {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                position: relative;
                display: inline-block;
                color: $blue;
                text-decoration: none;
                font-size: 2.3rem;
                font-weight: bold;
                text-transform: uppercase;

                &:after {
                    content: url('/asset/img/download-icon.png');
                    position: absolute;
                    top: 3px;
                    right: -30px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .sezioneBlu {
        background-color: $lightBlue;
        padding: 3rem 0;

        .richText {
            color: #fff;

            h1, h2, h3, h4, h5, h6 {
                color: #fff;
            }

            hr {
                border-top: 1px solid $lightGrey;

                &:before {
                    border-top: 4px solid #fff;
                }
            }
        }
    }

    .sezioneRossa {
        background-color: $red;
        padding: 3rem 0;

        .richText {
            color: #fff;

            h1, h2, h3, h4, h5, h6 {
                color: #fff;
            }

            hr {
                border-top: 1px solid $lightGrey;

                &:before {
                    border-top: 4px solid #fff;
                }
            }
        }
    }
}
