﻿@charset "UTF-8";
#cookieChoiceInfo {
  background-color: #7c7a79; }
  #cookieChoiceInfo span {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700; }
  #cookieChoiceInfo a:first-of-type {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: underline; }
  #cookieChoiceInfo #cookieChoiceDismiss {
    background-color: #730F11;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: .2rem;
    color: #fff;
    line-height: 1.9rem;
    padding: .4rem .8rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700; }

header {
  /*background-color: rgba(235,235,235, 0.7);*/
  /*background-color: rgba(34, 136, 194, 0.9);*/
  background-color: #dadada;
  /*.navbar {
        .navbar-collapse {
            background-image: url('/asset/img/menu_bar.png');
            background-repeat: repeat-x;
            background-position: center 5.3rem;
            min-height: 7.8rem;

            .nav-item {
                background: url('/asset/img/head_btn_bg.png') no-repeat center center;
                background-size: contain;
                width: 15.85rem;

                &.active {
                    background-image: url('/asset/img/head_btn_bg_hover.png');

                    .nav-link {
                        color: #fff;
                    }
                }

                .nav-link {
                    color: $lightGrey;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 1.4rem;
                    text-align: center;
                }

                .dropdown-menu {
                    background-color: $lightGrey;
                    border: none;

                    .dropdown-item {
                        text-decoration: none;

                        &.active, &:active, &:focus, &:hover {
                            color: #212529;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }*/ }
  header .upperArea {
    padding: 1rem 0; }
    header .upperArea .logo {
      overflow: hidden;
      padding-bottom: 2rem; }
      @media (min-width: 768px) {
        header .upperArea .logo {
          padding-bottom: 0; } }
      header .upperArea .logo img {
        max-width: 100%; }
    header .upperArea .areaLink {
      width: 100%; }
      header .upperArea .areaLink a {
        display: block;
        color: #730F11;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Oswald", sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        width: 100%;
        text-align: center;
        border: 2px solid #730F11;
        border-radius: 4%;
        padding: 0.7rem 2rem;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        @media (min-width: 768px) {
          header .upperArea .areaLink a {
            font-size: 1.5rem;
            padding: 1rem 2rem; } }
        header .upperArea .areaLink a:hover {
          color: #fff;
          background-color: #730F11; }
      header .upperArea .areaLink.pazienti a {
        color: #7c7a79;
        border-color: #7c7a79; }
        header .upperArea .areaLink.pazienti a:hover {
          color: #fff;
          background-color: #7c7a79; }
  header .navbar {
    background-color: #000;
    padding-top: 0.5rem; }
    @media (min-width: 992px) {
      header .navbar {
        padding: 0; } }
    header .navbar .navbar-toggler {
      border-color: white;
      margin-bottom: 0.5rem; }
      header .navbar .navbar-toggler:focus {
        outline: none; }
      header .navbar .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
    header .navbar .navbar-collapse .navbar-nav {
      width: 100%;
      justify-content: space-between; }
      header .navbar .navbar-collapse .navbar-nav .nav-item {
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        header .navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link {
          color: #fff; }
        header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: bold;
          font-family: "Oswald", sans-serif;
          text-align: center;
          padding: 1rem 0.3rem;
          -webkit-transition: all 0.2s ease-in;
          -moz-transition: all 0.2s ease-in;
          -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }
          header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:after {
            border: none; }
        header .navbar .navbar-collapse .navbar-nav .nav-item:focus, header .navbar .navbar-collapse .navbar-nav .nav-item:hover {
          background-color: #fafafa; }
          header .navbar .navbar-collapse .navbar-nav .nav-item:focus .nav-link, header .navbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
            color: #000; }
        header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
          background-color: #fff;
          border: none;
          text-align: center;
          padding: 0;
          margin: 0; }
          @media (min-width: 992px) {
            header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
              text-align: left; } }
          header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
            color: #7c7a79;
            font-size: 1.5rem;
            font-family: "Oswald", sans-serif;
            text-decoration: none;
            border-bottom: 1px solid #dadada;
            border-left: 0 solid #000;
            border-right: 3px solid rgba(255, 255, 255, 0);
            padding: 0.8rem 1.5rem;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in; }
            header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item.active, header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:active, header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:focus, header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
              color: #000;
              border-left: 3px solid #000;
              border-right: 0 solid rgba(255, 255, 255, 0);
              -webkit-transition: all 0.2s ease-in;
              -moz-transition: all 0.2s ease-in;
              -o-transition: all 0.2s ease-in;
              transition: all 0.2s ease-in; }

footer {
  background-color: #1f1f1f; }
  footer ul {
    list-style-type: none; }
  footer .upperArea {
    padding: 2rem 0; }
    @media (min-width: 768px) {
      footer .upperArea {
        padding: 5rem 0; } }
    footer .upperArea .logo img {
      max-width: 100%; }
    footer .upperArea .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding-top: 1rem; }
      @media (min-width: 768px) {
        footer .upperArea .menu {
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          padding-top: 0;
          padding-left: 3rem; } }
      footer .upperArea .menu .itemLink {
        text-align: center; }
        @media (min-width: 768px) {
          footer .upperArea .menu .itemLink:first-child a {
            padding-left: 0; }
          footer .upperArea .menu .itemLink:last-child a {
            padding-right: 0; } }
        footer .upperArea .menu .itemLink a {
          color: #fff;
          font-size: 1.5rem;
          font-weight: bold;
          font-family: "Oswald", sans-serif;
          text-decoration: none;
          text-transform: uppercase;
          padding: 0 1.5rem;
          -webkit-transition: all 0.2s ease-in;
          -moz-transition: all 0.2s ease-in;
          -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }
          footer .upperArea .menu .itemLink a:hover {
            color: #730f11; }
  footer .lowerArea {
    background-color: #000;
    padding: 1.5rem 0; }
    footer .lowerArea .info {
      color: #fff;
      font-size: 1.4rem;
      /*font-weight: bold;*/
      text-align: center; }
      @media (min-width: 768px) {
        footer .lowerArea .info {
          text-align: left; } }
      footer .lowerArea .info a {
        color: #fff;
        font-size: 1.4rem;
        /*font-weight: bold;*/
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        footer .lowerArea .info a:hover {
          color: #730f11; }
    footer .lowerArea .menuPrivacy {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
      margin-bottom: 0; }
      @media (min-width: 768px) {
        footer .lowerArea .menuPrivacy {
          justify-content: flex-end;
          padding-top: 0; } }
      footer .lowerArea .menuPrivacy li a {
        color: #fff;
        font-size: 1.4rem;
        font-weight: bold;
        text-decoration: none;
        /*padding: 0 0.5rem;*/
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        footer .lowerArea .menuPrivacy li a:after {
          content: "|";
          color: #fff;
          font-size: 1.4rem;
          padding: 0 0.5rem; }
        footer .lowerArea .menuPrivacy li a:hover {
          color: #730f11;
          text-decoration: underline; }
      footer .lowerArea .menuPrivacy li:last-child a {
        padding-right: 0; }
        footer .lowerArea .menuPrivacy li:last-child a:after {
          content: none; }

/*footer {
    position: relative;
    width: 100%;
    padding: 20px 0;
    background-color: #d2d9de;
    text-align: center;
}

footer img {
    float: none;
    position: relative;
    width: 60%;
    height: auto;
    margin: auto;
    display: block;
    clear: both;
    margin-bottom: 20px;
}

footer p {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    color: #444;
    display: block;
    clear: both;
    padding: 0 20px;
}

footer ul {
    width: 100%;
    position: relative;
    display: inline;
    padding: 0px;
    text-align: center;
    padding: 0 20px;
}

footer ul li {
    position: relative;
    display: inline;
    margin: 0 6px;
}

footer a {
    font-size: 1.4rem;
    color: #1d76ba;
    text-decoration: underline;
    white-space: nowrap;
}

@media (min-width: 768px) {
    footer img {
        width: 360px;
    }
}

@media (min-width: 992px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer img {
        margin-top: 30px;
        margin-left: 20px;
        width: 280px;
    }

    footer p {
        width: auto;
    }

    footer ul {
        width: auto;
        min-width: 30%;
        text-align: right;
        display: inline-block;
    }
}*/
section.accountDefault .boxSezione {
  margin-bottom: 3rem; }

/*section.areaSociDefault {

}*/
body {
  /*background-size: auto 100%;*/
  background-color: #fff;
  /*
    menù li BG: #6bcede

    */
  /********************************************************************************/
  /***** Start Reset **************************************************************/
  /********************************************************************************/
  /** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }*/
  /******************************************************************************/
  /***** Float / Clear Classes **************************************************/
  /******************************************************************************/
  /********************************************************************************/
  /* Zeus ITem Container **********************************************************/
  /********************************************************************************/
  /********************************************************************************/
  /* LAYOUT START *****************************************************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** AGE01A Template **********************************************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** LAY01A Template **********************************************************/
  /********************************************************************************/
  /*.HEA01B_AreaHeader_menu {
	margin: 0px;
	padding: 0px;
	height:60px;
	width:680px;
	float:left;
	text-align:right;
}*/
  /********************************************************************************/
  /***** HEA01 Header01 ***********************************************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** FOO01 Footer01 ***********************************************************/
  /********************************************************************************/
  /*
    Mobile Menu Core Style
*/
  /* IE6/7 support */
  /*
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/
  /* Button */
  /* Button Text */
  /* Button Lines */
  /********************************************************************************/
  /***** MEX01B  ******************************************************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** BTN01B  ******************************************************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** BTN02B  ******************************************************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** DAT01B  ******************************************************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** DAT02B  ******************************************************************/
  /********************************************************************************/
  /*.DAT02B_Cnt:hover, .DAT02B_Cnt:active {
	background-color: #EAEAEA;
	text-decoration:none;
}*/
  /********************************************************************************/
  /***** LSS01B  ******************************************************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** LSS01C  ******************************************************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** LSS01D  ******************************************************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** LSS01E  ******************************************************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** PAGDL dataList Pager *****************************************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** SMN01B Responsive Menu ***************************************************/
  /********************************************************************************/
  /*#SMN01B li:hover li a:hover {background: #000;}*/
  /* Sub-SMN01B */
  /*#SMN01B ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #6e6f70;
}

#SMN01B ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}*/
  /* Clear floated elements */
  /* IE6 */
  /* IE7 */
  /********************************************************************************/
  /***** SMN02B Filter Menù *********************************************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** SMN03C  ******************************************************************/
  /********************************************************************************/
  /*************************************************************************/
  /* SMN04B - SiteMenu                                                      */
  /*************************************************************************/
  /********************************************************************************/
  /***** SMN07D Site Menù *********************************************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** LSS01A  ******************************************************************/
  /********************************************************************************/
  /*************** Block SOCIAL ***************/
  /********************************************************************************/
  /***** HIC Html Input Controls **************************************************/
  /********************************************************************************/
  /*.HIC_Button1, .HIC_Button1:link, .HIC_Button1:visited {
    cursor: pointer;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #333333;
    margin: 2px;
    text-align: center;
    border: 1px outset;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
}

.HIC_Button1:hover, .HIC_Button1:active {
    background-color: #666666;
}

.HIC_CheckBox1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: normal;
}

.HIC_Dropdown1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px;
    height: 22px;
    border-style: solid;
    border-width: 1px;
    border-color: #888888 #bbbbbb #bbbbbb #888888;
    background-color: #FFFFFF;
}


.HIC_GridView1 {
    margin: 5px 0 10px 0;
    border-collapse: collapse;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #999999;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #999999;
}

.HIC_GridView1 td {
    color: #333333;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
    font-size: 12px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999999;
}

.HIC_GridView1 td a { /* Bottoni Link 
    cursor: pointer;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    text-decoration: underline;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.HIC_GridView1 td a:hover { /* Bottoni Link 
    background-color: #333333;
    color: #FFFFFF;
}

.HIC_GridView1 th { /* Header 
    padding: 4px 2px;
    background-color: #CCCCCC;
    font-size: 11px;
    color: #333333;
    border: 1px solid #999999;
}

.HIC_GridView1 th a {
    color: #333333;
    text-decoration: underline;
    font-weight: bold;
}

.HIC_GridView1 th a:hover {
    color: #FFFFFF;
    text-decoration: underline;
    background-color: #333333;
}

.HIC_GridView1 .gvAltRow {
    background-color: #F0F0F0;
}

.HIC_GridView1 .gvSelRow {
    background-color: #CCCCCC;
}

.HIC_GridView1 .gvButton1 a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #333333;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px outset;
}

.HIC_GridView1 .gvButton1 a:hover {
    color: #FFFFFF;
    background-color: #666666;
}

.HIC_GridView1 .gvPager {
    background-color: #FFFFFF;
}

.HIC_GridView1 .gvPager table {
    margin: 5px 0;
    background-color: #FFFFFF;
}



.HIC_GridView1 .gvPager td {
    font-weight: bold;
    color: #333333;
    line-height: 12px;
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-left: 6px;
    background-color: #FFFFFF;
    margin: 20px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.HIC_GridView1 .gvPager a {
    color: #333333;
    text-decoration: none;
    background-color: #CCCCCC;
    padding-top: 3px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-left: 7px;
}

.HIC_GridView1 .gvPager a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #333333;
    padding-top: 3px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-left: 7px;
}



.HIC_HyperLinkCorpoTesto1, .HIC_HyperLinkCorpoTesto1:link, .HIC_HyperLinkCorpoTesto1:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    cursor: pointer;
    text-decoration: underline;
    font-weight: normal;
}

.HIC_HyperLinkCorpoTesto1:hover, .HIC_HyperLinkCorpoTesto1:active {
    color: #FFFFFF;
    background-color: #333333;
}

.HIC_HyperLinkButton1, .HIC_HyperLinkButton1:link, .HIC_HyperLinkButton1:visited {
    cursor: pointer;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #333333;
    margin: 2px;
    text-align: center;
    border: 1px outset;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
}

.HIC_HyperLinkButton1:hover, .HIC_HyperLinkButton1:active {
    background-color: #666666;
}

.HIC_LabelCorpoTesto1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #636b73;
    text-decoration: none;    
}

.HIC_LabelCorpoTesto1 a:link, .HIC_LabelCorpoTesto1 a:visited {
    color: #333333;
    text-decoration: underline;
}

.HIC_LabelCorpoTesto1 a:hover, .HIC_LabelCorpoTesto1 a:active, .HIC_LabelCorpoTesto1 a:focus {
    color: #FFFFFF;
    text-decoration: underline;
    background-color: #333333;
}

.HIC_LabelNote1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
    font-weight: normal;
}

.HIC_LabelNote1 a:link, .HIC_LabelNote1 a:visited {
    color: #333333;
    text-decoration: underline;
}

.HIC_LabelNote1 a:hover, .HIC_LabelNote1 a:active, .HIC_LabelNote1 a:focus {
    color: #FFFFFF;
    text-decoration: underline;
    background-color: #333333;
}

.HIC_LabelFieldDescription1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: normal;
}

.HIC_LabelFieldValue1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: normal;
}

.HIC_LabelTitolo1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
}

.HIC_LabelValidazione1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FF0000;
}

.HIC_LinkButton1, .HIC_LinkButton1:link, .HIC_LinkButton1:visited {
    cursor: pointer;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #333333;
    margin: 2px;
    text-align: center;
    border: 1px outset;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
}

.HIC_LinkButton1:hover, .HIC_LinkButton1:active {
    background-color: #666666;
}

.HIC_RadioButton1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: normal;
}

.HIC_TextBox1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px;
    height: 13px;
    border-style: solid;
    border-width: 1px;
    border-color: #888888 #bbbbbb #bbbbbb #888888;
    background-color: #FFFFFF;
}

.HIC_TextBoxMultiline1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #888888 #bbbbbb #bbbbbb #888888;
    background-color: #FFFFFF;
}

.HIC_Validator1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #F00;
}*/
  /********************************************************************************/
  /***** Responsive for Tablet - 768 px Layout  ***********************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** Responsive for Tablet & Smartphone - 600 px Layout  **********************/
  /********************************************************************************/
  /********************************************************************************/
  /***** Responsive for Smartphone - 480 px Layout  *******************************/
  /********************************************************************************/
  /********************************************************************************/
  /***** Webinar ******************************************************************/
  /********************************************************************************/ }
  body main {
    min-height: 60rem;
    padding: 3rem 0; }
  body .pageTitle {
    margin-bottom: 2rem; }
  body ul, body ol, body dl {
    padding: 0;
    margin: 0;
    list-style-image: none;
    list-style-type: none; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    /*font-weight: normal;*/
    /*margin: 0;*/ }
  body p {
    font-weight: normal;
    margin: 0; }
  body a img {
    border: none; }
  body .FloatDx {
    /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
    float: right;
    margin-left: 8px; }
  body .FloatSx {
    /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
    float: left;
    margin-right: 8px; }
  body .FloatClr {
    /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px; }
  body .ZITC000 {
    border: 0px;
    padding: 0px;
    margin: 0px 0px 0px 0px; }
  body .ZITC005 {
    border: 0px;
    padding: 0px;
    margin: 0px 0px 5px 0px; }
  body .ZITC010 {
    border: 0px;
    padding: 0px;
    margin: 0px 0px 10px 0px; }
  body .ZITC015 {
    border: 0px;
    padding: 0px;
    margin: 0px 0px 15px 0px; }
  body .ZITC020 {
    border: 0px;
    padding: 0px;
    margin: 0px 0px 20px 0px; }
  body body {
    background-color: #0a2550;
    /*background-image: url(/SiteImg/Bkg_Base0.jpg);
	background-repeat: no-repeat;
	background-position: center top;*/
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px; }
  body .AG01A_Block {
    float: left;
    width: 300px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px; }
  body .LAY01A {
    width: 100%;
    /* the auto value on the sides, coupled with the width, centers the layout */
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    position: relative;
    z-index: 100; }
  body .LAY01A_AreaHeader {
    padding: 0px;
    width: 960px;
    margin: 0 auto; }
  body .LAY01A_AreaHeader_FullTop {
    padding: 0px;
    width: 100%;
    margin: 0px;
    position: relative;
    background-color: #0b1439;
    background-image: url(/SiteImg/Header_BkgTop.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    /*background-repeat:repeat-x;*/
    z-index: 100;
    display: none; }
  body .LAY01A_AreaHeader_FullTop_Shadow {
    padding: 0px;
    width: 100%;
    margin: 0px;
    position: relative;
    background-image: url(/SiteImg/Shadow_TopDown.png);
    background-position: center bottom;
    background-repeat: repeat-x;
    z-index: 1000; }
  body .LAY01A_AreaHeader_Full {
    padding: 0px;
    width: 100%;
    margin: 0px;
    position: relative;
    background: #FFF; }
  body .LAY01B_AreaHeader {
    width: 960px;
    margin: 0 auto;
    padding: 0px;
    /*height: 115px;*/ }
  body .HEA01B_AreaHeader {
    padding: 0px;
    width: 960px;
    margin: 0 auto; }
  body .HEA01B_AreaHeader_Desc {
    margin: 0px;
    height: 30px;
    width: 650px;
    float: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 28px;
    vertical-align: middle;
    color: #FFF;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif; }
  body .HEA01B_AreaHeader_MenuTop {
    margin: 0px;
    height: 30px;
    width: 310px;
    float: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    /*line-height:28px;*/
    vertical-align: middle;
    color: #FFF;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    text-align: right; }
  body .HEA01B_AreaHeader_MenuTop a {
    margin: 0px;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    line-height: 30px;
    vertical-align: middle;
    color: #FFF;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: none; }
  body .HEA01B_AreaHeader_MenuTop a:hover {
    text-decoration: underline; }
  body .HEA01B_AreaHeader_img {
    margin: 0px;
    height: 98px;
    width: 200px;
    float: left;
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; }
  body .HEA01B_AreaHeader_flag {
    margin: 0px;
    padding: 0px;
    height: 30px;
    line-height: 30px;
    width: 680px;
    float: left;
    text-align: right;
    /*vertical-align:middle;
	display: table; */ }
  body .HEA01B_AreaHeader_flag .AreaFlags {
    /*display: table-cell;
  vertical-align: middle;
  text-align: right; */
    margin-top: 13px;
    float: right; }
  body .HEA01B_AreaHeader_flag .AreaFlags img {
    margin-left: 3px;
    margin-right: 3px; }
  body .HEA01B_AreaHeader_flag .AreaFlags a, body .HEA01B_AreaHeader_flag .AreaFlags a:link, body .HEA01B_AreaHeader_flag .AreaFlags a:visited, body .HEA01B_AreaHeader_flag .AreaFlags a:hover, body .HEA01B_AreaHeader_flag .AreaFlags a:active {
    text-decoration: none;
    border: 0px; }
  body .HEA01B_AreaHeader_flag .AreaLinks {
    /*display: table-cell;
  vertical-align: middle;
  text-align: right; */
    float: right;
    margin-top: 10px;
    margin-right: 20px; }
  body .HEA01B_AreaHeader_flag .AreaLinks a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #898989;
    text-decoration: none;
    line-height: 19px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px; }
  body .HEA01B_AreaHeader_flag .AreaLinks a:link, body .HEA01B_AreaHeader_flag .AreaLinks a:visited {
    color: #898989;
    text-decoration: none; }
  body .HEA01B_AreaHeader_flag .AreaLinks a:hover, body .HEA01B_AreaHeader_flag .AreaLinks a:active, body .HEA01B_AreaHeader_flag .AreaLinks a:focus {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #AAA9A6; }
  body .LAY01A_AreaMenu {
    width: 960px;
    margin: 0 auto;
    padding: 0px;
    min-height: 65px; }
  body .LAY01A_AreaContent {
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
    background-color: #FFF; }
  body .LAY01A_AreaPageTitle {
    min-height: 120px;
    width: 960px;
    margin: 0 auto;
    padding: 0px;
    overflow: hidden; }
  body .LAY01A_PageTitle {
    margin: 0px;
    /*height: 57px;*/
    margin-top: 35px;
    margin-right: 30px;
    margin-bottom: 35px;
    margin-left: 0px;
    width: 900px; }
  body .LAY01A_PageTitle_Full {
    width: 100%;
    background-image: url(/SiteImg/Header_BkgMain.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 100;
    background-color: #001461; }
  body .LAY01A_PageTitle_Full_ShadowT {
    width: 100%;
    background-image: url(/SiteImg/Shadow_HeadUp.png);
    background-position: top;
    background-repeat: repeat-x;
    z-index: 1000; }
  body .LAY01A_PageTitle_Full_ShadowB {
    width: 100%;
    background-image: url(/SiteImg/Shadow_HeadDown.png);
    background-position: bottom;
    background-repeat: repeat-x;
    z-index: 2000; }
  body .LAY01A_AreaBanner {
    overflow: hidden;
    margin-bottom: 0px;
    width: 960px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    /*min-height: 350px;*/
    padding-top: 0px;
    background-color: #FFFFFF; }
  body .LAY01A_AreaBanner_Full {
    width: 100%;
    /*position: relative;*/
    background-color: #FFFFFF; }
  body .LAY01A_ContentBox {
    overflow: hidden;
    margin-bottom: 0px;
    width: 960px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    min-height: 350px;
    padding-top: 15px;
    background-color: #FFFFFF; }
  body .LAY01A_ContentBoxHP {
    overflow: hidden;
    margin-bottom: 0px;
    width: 960px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    min-height: 350px;
    padding-top: 15px;
    background-color: #FFFFFF; }
  body .LAY01A_Content1 {
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px; }
  body .LAY01A_Content2 {
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px; }
  body .LAY01A_ContentFull {
    width: 960px;
    float: left;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    background-color: #FFFF00; }
  body .LAY01A_AreaFooter {
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
    width: 100%;
    margin: 0px;
    background-image: url(/SiteImg/Footer_BkgMain.jpg);
    background-color: #0a2550; }
  body .LAY01A_AreaFooter_News {
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
    width: 100%;
    background-image: url(/SiteImg/Footer_BkgMain.jpg);
    background-color: #4fc1d1;
    min-height: 80px;
    background-image: none;
    background-color: #dddddd; }
  body .LAY01A_AreaFooter_ShadowT {
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
    width: 100%;
    margin: 0px;
    /*
    background-image: url(/SiteImg/Shadow_FooterUp.png);
    background-repeat: repeat-x;
    background-position: top;
    */ }
  body .HEA01 {
    width: 900px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-color: #00CCFF;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    height: 130px; }
  body .FOO01A {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 20px;
    overflow: hidden;
    padding-top: 30px;
    background-image: url("/SiteImg/SfumRow.png");
    background-repeat: no-repeat;
    background-position: center top; }
  body .FOO01A_NavMenu1 {
    width: 130px;
    float: left;
    margin: 0px;
    padding: 0px; }
  body .FOO01A_NavMenu2 {
    width: 220px;
    float: left;
    margin: 0px;
    padding: 0px;
    visibility: hidden; }
  body .FOO01A_Disclaimer {
    width: 420px;
    float: left;
    padding: 0px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #8f8f8f; }
  body .FOO01A_LogoArea {
    width: 155px;
    float: left;
    margin: 0px;
    padding: 0px;
    text-align: right; }
  body .FOO01A_LogoArea img {
    margin-bottom: 5px; }
  body .FOO01A_Logo1 {
    margin-bottom: 20px; }
  body .FOO01A_Logo2 {
    padding-left: 70px; }
  body .slicknav_menu {
    display: none;
    z-index: 9999;
    margin-top: 26px; }
  body .slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    padding: 0.438em 3em 0.438em 3em;
    line-height: 1.125em;
    cursor: pointer; }
  body .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
  body .slicknav_menu .slicknav_icon {
    float: left;
    margin: 0.188em 0 0 0.438em; }
  body .slicknav_menu .slicknav_no-text {
    margin: 0; }
  body .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  body .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em; }
  body .slicknav_nav {
    clear: both; }
  body .slicknav_nav ul,
  body .slicknav_nav li {
    display: block; }
  body .slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em; }
  body .slicknav_nav .slicknav_item {
    display: block;
    cursor: pointer; }
  body .slicknav_nav a {
    display: block; }
  body .slicknav_nav .slicknav_item a {
    display: inline; }
  body .slicknav_menu:before,
  body .slicknav_menu:after {
    content: " ";
    display: table; }
  body .slicknav_menu:after {
    clear: both; }
  body .slicknav_menu {
    *zoom: 1; }
  body .slicknav_menu {
    font-size: 16px; }
  body .slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration: none;
    /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #53b2c1; }
  body .slicknav_menu .slicknav_menutxt {
    color: #FFF;
    font-weight: bold;
    /*text-shadow: 0 1px 3px #000;*/ }
  body .slicknav_menu .slicknav_icon-bar {
    background-color: #f5f5f5; }
  body .slicknav_menu {
    background: #53b2c1;
    background-image: url(/SiteImg/SFXMenu.gif);
    background-position: left top;
    background-repeat: repeat-x;
    /*padding: 5px;*/
    z-index: 9999; }
  body .slicknav_nav {
    color: #fff;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-size: 0.875em;
    z-index: 9998; }
  body .slicknav_nav, body .slicknav_nav ul {
    list-style: none;
    overflow: hidden; }
  body .slicknav_nav ul {
    padding: 0;
    margin: 0 0 0 20px; }
  body .slicknav_nav .slicknav_item {
    padding: 5px 10px;
    margin: 2px 5px; }
  body .slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #FFF;
    font-family: 'Open Sans',sans-serif; }
  body .slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0; }
  body .slicknav_nav .slicknav_item:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #730F11
    color: #fff; }
  body .slicknav_nav li a:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #730F11
    color: #fff; }
  body .slicknav_nav a:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /*background:#ccc;*/
    color: #FFF; }
  body .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }
  body .bx-wrapper .bx-viewport {
    background: none; }
  body .bx-wrapper img {
    z-index: 1; }
  body .MEX01B {
    padding: 15px;
    margin: 15px 0;
    /*background-color:#2cb1c3;*/
    background-color: #cb2323;
    overflow: hidden; }
  body .MEX01B:first-child {
    margin-top: 0; }
  body .MEX01B_Content {
    width: 100%;
    background-color: #cb2323; }
  body .MEX01B_text {
    width: 85%;
    /*background-color:#2cb1c3;*/
    float: left;
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }
  body .MEX01B_btn, body .MEX01B_btn:link, body .MEX01B_btn:visited {
    width: 15%;
    /*background-color:#2cb1c3;*/
    float: left;
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
    color: #FFF;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }
  body .MEX01B_btn:hover, body .MEX01B_btn:active {
    width: 15%;
    /*background-color:#2cb1c3;*/
    float: left;
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
    color: #FFF;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }
    body .BTN01B, body .BTN01B:link, body .BTN01B:visited {
        cursor: pointer;
        font-size: 12px;
        line-height: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        text-decoration: none;
        background-color: #730f11;
        padding: 6px 15px;
        margin: 2px;
        text-align: center;
        vertical-align: middle;
    }
        body .BTN01B:hover, body .BTN01B:active {
            background-color: #7c7a79;
        }
    body .BTN02B, body .BTN02B:link, body .BTN02B:visited {
        cursor: pointer;
        font-size: 12px;
        line-height: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        text-decoration: none;
        background-color: #730f11;
        padding: 6px 0px;
        margin: 2px;
        text-align: center;
        vertical-align: middle;
        width: 100%;
    }
        body .BTN02B:hover, body .BTN02B:active {
            background-color: #7c7a79;
        }
  body .DAT01B {
    margin: 0 auto;
    /*margin-top: 15px;*/
    width: 960px;
    background-color: #FFFFFF;
    overflow: hidden;
    /*margin-bottom: 15px;*/ }
  body .DAT01B_Title {
    color: #339933;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none; }
  body .DAT01B_Desc {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #535353;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }
  body .DAT01B_TRP {
    display: block;
    float: left;
    border: 0px;
    background-color: #FFF;
    width: 310px;
    /*margin-bottom: 15px;*/
    color: #333;
    text-decoration: none; }
  body .DAT01B_TRP a, body .DAT01B_TRP a:link, body .DAT01B_TRP a:visited, body .DAT01B_TRP a:hover, body .DAT01B_TRP a:active {
    text-decoration: none; }
  body .DAT01B_Cnt, body .DAT01B_Cnt:link, body .DAT01B_Cnt:visited {
    display: block;
    border: 0px;
    background-color: #FFF;
    color: #333;
    text-decoration: none; }
  body .DAT01B_Cnt:hover, body .DAT01B_Cnt:active {
    background-color: #EAEAEA;
    text-decoration: none; }
  body .DAT01B_Cnt img {
    width: 310px;
    height: auto; }
  body .ImgVetr {
    height: 90px;
    width: 310px; }
  body .DAT01B_spc {
    max-width: 15px;
    width: 15px;
    padding-top: 15px;
    float: left; }
  body .DAT02B {
    margin: 0 auto;
    /*margin-top: 15px;*/
    width: 960px;
    /*background-color: #FFFFFF;*/
    overflow: hidden;
    /*margin-bottom: 15px;*/ }
  body .DAT02B_Title {
    color: #339933;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none; }
  body .DAT02B_Desc {
    width: 235px;
    font-size: 15px;
    /*padding-top: 8px;*/
    padding-bottom: 8px;
    /*padding-bottom:10px;*/
    text-decoration: none;
    color: #535353;
    line-height: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    float: left;
    margin-left: 15px; }
  body .DAT02B_TRP, body .DAT02B_TRP:link, body .DAT02B_TRP:visited {
    padding-bottom: 10px;
    display: block;
    float: left;
    border: 0px;
    /*background-color: #FFF;*/
    width: 310px;
    margin-top: 15px;
    color: #333;
    text-decoration: none; }
  body .DAT02B_TRP:hover, body .DAT02B_TRP:active {
    background-color: #730F11 }
  body .DAT02B_TRP:hover .DAT02B_Desc, body .DAT02B_TRP:active .DAT02B_Desc {
    color: #FFF; }
  body .DAT02B_TRP a, body .DAT02B_TRP a:link, body .DAT02B_TRP a:visited, body .DAT02B_TRP a:hover, body .DAT02B_TRP a:active {
    text-decoration: none; }
  body .DAT02B_Cnt_mon {
    width: 50px;
    height: 18px;
    min-width: 50px;
    min-height: 18px;
    float: left;
    vertical-align: top;
    color: #FFF;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase; }
  body .DAT02B_Cnt_date {
    width: 50px;
    height: 22px;
    min-width: 50px;
    min-height: 22px;
    vertical-align: bottom;
    float: left;
    color: #FFF;
    line-height: 22px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none; }
  body .DAT02B_Cnt {
    display: block;
    border: 0px;
    background-color: #0a2550;
    color: #333;
    text-decoration: none;
    float: left;
    width: 50px;
    height: 45px;
    min-width: 50px;
    min-height: 45px;
    text-align: center;
    padding-top: 5px; }
  body .DAT02B_spc {
    max-width: 15px;
    float: left; }
  body .LSS01B {
    padding: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px; }
  body .LSS01B_NoUnderline {
    text-decoration: none; }
  body .LSS01B_LayBoxTitle {
    /*background-color: #002c52;*/
    background-image: url(/SiteImgTemp/NewsSFX.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-color: #6acedd;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px; }
  body .LSS01B_Row {
    border-bottom: solid 1px #b4b3b3;
    clear: both;
    overflow: hidden;
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0px;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    cursor: pointer; }
  body .LSS01B_Row:hover {
    background-color: #EAEAEA;
    cursor: pointer; }
  body .LSS01B_Item {
    margin: 0px;
    border: 0px;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; }
  body .LSS01B_Item:hover {
    text-decoration: none; }
  body .LSS01B_ImgThumb {
    float: left;
    padding: 0px;
    border: 0px;
    width: 100px;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #FFFFFF;
    text-align: center;
    height: 100px; }
  body .LSS01B_ImgThumb img {
    border: 0px;
    width: 100px;
    height: 100px; }
  body .LSS01B_LayText {
    float: left;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    display: inline;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 190px; }
  body .LSS01B_LayTextAll {
    float: left;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    display: inline;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px; }
  body .LSS01B_LayTitolo {
    padding: 0 0 2px 0; }
  body .LSS01B_LayDesc {
    padding: 0 0 3px 0; }
  body .LSS01B_TitoloBox {
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: normal;
    line-height: 16px;
    /*cursor:pointer;*/ }
  body .LSS01B_Titolo, body .LSS01B_Titolo:link, body .LSS01B_Titolo:visited, body .LSS01B_Titolo:hover, body .LSS01B_Titolo:active {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: #730F11
    font-weight: normal;
    line-height: 18px;
    cursor: pointer; }
  body .LSS01B_Testo, body .LSS01B_Testo:link, body .LSS01B_Testo:visited, body .LSS01B_Testo:hover, body .LSS01B_Testo:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5C5E5F;
    line-height: 16px;
    cursor: pointer; }
  body .LSS01C {
    padding: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px; }
  body .LSS01C table {
    width: 100%; }
  body .LSS01C_NoUnderline {
    text-decoration: none; }
  body .LSS01C_LayBoxTitle {
    background-color: #730F11;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px; }
  body .LSS01C_Row {
    border-bottom: solid 1px #b4b3b3;
    clear: both;
    overflow: hidden;
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0px;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    cursor: pointer; }
  body .LSS01C_Row:hover {
    background-color: #EAEAEA; }
  body .LSS01C_Item {
    margin: 0px;
    border: 0px;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; }
  body .LSS01C_Item:hover {
    text-decoration: none; }
  body .LSS01C_ImgThumb {
    float: left;
    padding: 0px;
    border: 0px;
    width: 100px;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #FFFFFF;
    text-align: center;
    height: 100px; }
  body .LSS01C_ImgThumb img {
    border: 0px;
    width: 100px;
    height: 100px; }
  body .LSS01C_LayText {
    float: left;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    display: inline;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 530px; }
  body .LSS01C_LayTextAll {
    float: left;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    display: inline;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px; }
  body .LSS01C_LayTitolo {
    padding: 0 0 2px 0; }
  body .LSS01C_LayDesc {
    padding: 0.5rem 0 3px 0;
    line-height: 1; }
  body .LSS01C_LayBox {
    padding: 0 0 3px 0;
    margin-top: 10px; }
  body .LSS01C_LayBox_Ev {
    float: left;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 0px;
    margin-right: 10px;
    background-color: #339933;
    display: inline-block;
    vertical-align: middle; }
  body .LSS01C_LayBox_Ev_img {
    float: left; }
  body .LSS01C_LayBox_Ev_Txt {
    float: left;
    line-height: 25px;
    vertical-align: middle; }
  body .LSS01C_LayBox_Dt {
    float: left;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-right: 10px;
    background-color: #e6e6e6;
    display: inline-block;
    vertical-align: middle; }
  body .LSS01C_TitoloBox {
    font-size: 21px;
    text-decoration: none;
    color: #FFF;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }
  body .LSS01C_Titolo, body .LSS01C_Titolo:link, body .LSS01C_Titolo:visited, body .LSS01C_Titolo:hover, body .LSS01C_Titolo:active {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: #730F11
    font-weight: normal;
    line-height: 18px;
    cursor: pointer; }
  body .LSS01C_Titolo.bold {
    font-weight: bold; }
  body .LSS01C_Testo, body .LSS01C_Testo:link, body .LSS01C_Testo:visited, body .LSS01C_Testo:hover, body .LSS01C_Testo:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5C5E5F;
    line-height: 1;
    cursor: pointer; }
  body .LSS01C_LayBox_Ev, body .LSS01C_LayBox_Ev:link, body .LSS01C_LayBox_Ev:visited, body .LSS01C_LayBox_Ev:hover, body .LSS01C_LayBox_Ev:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
    line-height: 20px;
    cursor: pointer; }
  body .LSS01C_LayBox_Dt, body .LSS01C_LayBox_Dt:link, body .LSS01C_LayBox_Dt:visited, body .LSS01C_LayBox_Dt:hover, body .LSS01C_LayBox_Dt:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5C5E5F;
    line-height: 16px;
    cursor: pointer; }
  body .LSS01D {
    padding: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px; }
  body .LSS01D_NoUnderline {
    text-decoration: none; }
  body .LSS01D_LayBoxTitle {
    background-color: #730F11;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px; }
  body .LSS01D_Row {
    border-bottom: solid 1px #b4b3b3;
    clear: both;
    overflow: hidden;
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0px;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    cursor: pointer; }
  body .LSS01D_Row:hover {
    background-color: #EAEAEA; }
  body .LSS01D_Item {
    margin: 0px;
    border: 0px;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; }
  body .LSS01D_Item:hover {
    text-decoration: none; }
  body .LSS01D_ImgThumb {
    float: left;
    padding: 0px;
    border: 0px;
    width: 100px;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #FFFFFF;
    text-align: center;
    height: 100px; }
  body .LSS01D_ImgThumb img {
    border: 0px;
    width: 100px;
    height: 100px; }
  body .LSS01D_LayText {
    float: left;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    display: inline;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    /*width: 530px;*/ }
  body .LSS01D_LayTextAll {
    float: left;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    display: inline;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px; }
  body .LSS01D_LayTitolo {
    padding: 0 0 2px 0; }
  body .LSS01D_LayDesc {
    padding: 0 0 3px 0; }
  body .LSS01D_LayBox {
    padding: 0 0 3px 0;
    margin-top: 10px; }
  body .LSS01D_LayBox_Ev {
    float: left;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 0px;
    margin-right: 10px;
    background-color: #339933;
    display: inline-block;
    vertical-align: middle; }
  body .LSS01D_LayBox_Ev_img {
    float: left; }
  body .LSS01D_LayBox_Ev_Txt {
    float: left;
    line-height: 25px;
    vertical-align: middle; }
  body .LSS01D_LayBox_Dt {
    float: left;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-right: 10px;
    background-color: #e6e6e6;
    display: inline-block;
    vertical-align: middle; }
  body .LSS01D_TitoloBox {
    font-size: 21px;
    text-decoration: none;
    color: #FFF;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }
  body .LSS01D_Titolo, body .LSS01D_Titolo:link, body .LSS01D_Titolo:visited, body .LSS01D_Titolo:hover, body .LSS01D_Titolo:active {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: #730F11
    font-weight: normal;
    line-height: 18px;
    cursor: pointer; }
  body .LSS01D_Testo, body .LSS01D_Testo:link, body .LSS01D_Testo:visited, body .LSS01D_Testo:hover, body .LSS01D_Testo:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5C5E5F;
    line-height: 16px;
    cursor: pointer; }
  body .LSS01D_LayBox_Ev, body .LSS01D_LayBox_Ev:link, body .LSS01D_LayBox_Ev:visited, body .LSS01D_LayBox_Ev:hover, body .LSS01D_LayBox_Ev:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
    line-height: 20px;
    cursor: pointer; }
  body .LSS01D_LayBox_Dt, body .LSS01D_LayBox_Dt:link, body .LSS01D_LayBox_Dt:visited, body .LSS01D_LayBox_Dt:hover, body .LSS01D_LayBox_Dt:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5C5E5F;
    line-height: 16px;
    cursor: pointer; }
  body .LSS01E {
    padding: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px; }
  body .LSS01E_NoUnderline {
    text-decoration: none; }
  body .LSS01E_LayBoxTitle {
    /*background-color: #002c52;*/
    background-image: url(/SiteImgTemp/NewsSFX.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-color: #6acedd;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px; }
  body .LSS01E_Row {
    border-bottom: solid 1px #b4b3b3;
    clear: both;
    overflow: hidden;
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0px;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    cursor: pointer; }
  body .LSS01E_Row:hover {
    background-color: #EAEAEA;
    cursor: pointer; }
  body .LSS01E_Item {
    margin: 0px;
    border: 0px;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; }
  body .LSS01E_Item:hover {
    text-decoration: none; }
  body .LSS01E_ImgThumb {
    float: left;
    padding: 0px;
    border: 0px;
    width: 100px;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #FFFFFF;
    text-align: center;
    height: 100px; }
  body .LSS01E_ImgThumb img {
    border: 0px;
    width: 100px;
    height: 100px; }
  body .LSS01E_LayText {
    float: left;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    display: inline;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    width: 290px; }
  body .LSS01E_LayTextAll {
    float: left;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    display: inline;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px; }
  body .LSS01E_LayTitolo {
    padding: 0 0 2px 0; }
  body .LSS01E_LayDesc {
    padding: 0 0 3px 0; }
  body .LSS01E_TitoloBox {
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: normal;
    line-height: 16px;
    /*cursor:pointer;*/ }
  body .LSS01E_Titolo, body .LSS01E_Titolo:link, body .LSS01E_Titolo:visited, body .LSS01E_Titolo:hover, body .LSS01E_Titolo:active {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: #730F11
    font-weight: normal;
    line-height: 18px;
    cursor: pointer; }
  body .LSS01E_Testo, body .LSS01E_Testo:link, body .LSS01E_Testo:visited, body .LSS01E_Testo:hover, body .LSS01E_Testo:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5C5E5F;
    line-height: 16px;
    cursor: pointer; }
  body .PAGDL {
    padding: 0px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    /*background-color: #F2F2F2;*/
    min-height: 30px; }
  body .PAGDL_LayInnerCont {
    display: flex;
    justify-content: center;
    padding: 0px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    min-height: 30px; }
  body .PAGDL_LayItemCell {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    height: 30px; }
  body .PAGDL_LabelText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
    line-height: 30px; }
  body .PAGDL_DropDownList {
    color: #333333;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    border: 1px inset #333333;
    margin-top: 6px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    height: 15px; }
  body .PAGDL_LinkButton, body .PAGDL_LinkButton:link, body .PAGDL_LinkButton:visited {
    cursor: pointer;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF !important;
    text-decoration: none;
    background-color: #666666;
    padding: 2px 10px;
    margin: 6px 2px 4px 2px;
    text-align: center;
    border: 1px outset;
    display: inline-block; }
  body .PAGDL_LinkButton:hover, body .PAGDL_LinkButton:active {
    background-color: #333333; }
  body #SMN01B {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: block; }
  body .SMN01B_container {
    float: right;
    margin-top: 28px; }
  body #SMN01B li {
    display: table-cell;
    position: relative;
    float: left;
    margin-top: 14px;
    margin-right: 5px;
    margin-bottom: 14px;
    margin-left: 5px; }
  body #SMN01B li ul {
    display: none; }
  body #SMN01B li a {
    display: block;
    font-size: 15px;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-decoration: none;
    white-space: nowrap;
    color: #898989;
    padding: 5px 5px; }
  body #SMN01B li a:hover {
    background: #53b2c1;
    color: #FFF; }
  body #SMN01B li:hover ul {
    display: block;
    position: absolute; }
  body #SMN01B li:hover li {
    float: none; }
  body #SMN01B li:hover a {
    background: #53b2c1;
    color: #FFF; }
  body #SMN01B li ul li {
    border-top: 0px; }
  body #SMN01B ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 27px;
    left: 0;
    z-index: 99999;
    background-color: #3f4041;
    /*background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);*/
    /*-moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);*/
    /*-moz-border-radius: 5px;
    border-radius: 5px;*/ }
  body #SMN01B ul ul {
    top: 0;
    left: 150px; }
  body #SMN01B ul li {
    float: none;
    height: 30px;
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
    /*-moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;*/ }
  body #SMN01B ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  body #SMN01B ul a {
    padding: 10px;
    height: 10px;
    /*width: 130px;*/
    min-width: 150px;
    height: auto;
    line-height: 10px;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
    font-family: 'Open Sans', sans-serif; }
  body html #SMN01B ul a {
    height: 10px; }
  body *:first-child + html #SMN01B ul a {
    height: 10px; }
  body #SMN01B ul a:hover {
    /*background: #1ea4d2;
	background: -moz-linear-gradient(#04acec,  #0186ba);
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);*/
    background: #730F11
    background: -moz-linear-gradient(#348c9a, #348c9a);
    background: -webkit-gradient(linear, left top, left bottom, from(#348c9a), to(#348c9a));
    background: -webkit-linear-gradient(#348c9a, #348c9a);
    background: -o-linear-gradient(#348c9a, #348c9a);
    background: -ms-linear-gradient(#348c9a, #348c9a);
    background: linear-gradient(#348c9a, #348c9a); }
  body #SMN01B ul li:first-child > a {
    /*-moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;*/ }
  body #SMN01B ul li:first-child a:hover:after {
    border-bottom-color: #6e6f70; }
  body #SMN01B ul ul li:first-child a:hover:after {
    border-right-color: #6e6f70;
    border-bottom-color: transparent; }
  body #SMN01B ul li:last-child > a {
    /*-moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;*/ }
  body #SMN01B:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  body * html #SMN01B {
    zoom: 1; }
  body *:first-child + html #SMN01B {
    zoom: 1; }
  body .slicknav_menu {
    display: none;
    z-index: 9999; }
  body .SMN02B {
    width: 300px;
    padding: 0px;
    border: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    border-bottom: solid 1px #ddd; }
  body .SMN02B_LayTitolo {
    width: 100%;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    background-image: url(/SiteImgTemp/NewsSFX.jpg);
    background-position: left;
    background-color: #6acedd;
    background-repeat: no-repeat; }
  body .SMN02B_LayElenco {
    background-color: #b3b2b2; }
  body .SMN02B_TxtTitolo {
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF; }
  body .SMN02B_List a, body .SMN02B_List a:link, body .SMN02B_List a:visited {
    font-family: Arial, Helvetica, sans-serif;
    color: #5C5E5F;
    font-size: 14px;
    line-height: 15px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    background-position: right center;
    text-decoration: none;
    background-color: #FFFFFF;
    background-image: url(/SiteImg/ArrowGREEN1.png);
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 16px;
    border-top: solid 1px #ddd; }
  body .SMN02B_List a:hover, body .SMN02B_List a:active {
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #E9E9E9;
    color: #5C5E5F;
    background-image: url(/SiteImg/ArrowGREEN1.png); }
  body .SMN03C {
    width: 100%;
    padding: 0px;
    border: 0px;
    /*margin-top: 20px;*/
    /*DEBUG*/
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    border-bottom: solid 1px #ddd; }
  body .SMN03C_LayTitolo {
    max-width: 100%;
    /*background-color: #339933;*/
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px; }
  body .SMN03C_LayElenco {
    background-color: #b3b2b2; }
  body .SMN03C_TxtTitolo {
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF; }
  body .SMN03C_List a, body .SMN03C_List a:link, body .SMN03C_List a:visited {
    font-family: Arial, Helvetica, sans-serif;
    color: #5C5E5F;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    background-position: right center;
    text-decoration: none;
    background-color: #FFFFFF;
    background-image: url(/SiteImg/ArrowGREEN1.png);
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 7px;
    padding-left: 15px;
    border-top: solid 1px #ddd; }
  body .SMN03C_List a:hover, body .SMN03C_List a:active {
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #E9E9E9;
    color: #5C5E5F;
    background-image: url(/SiteImg/ArrowGREEN1.png); }
  body #SMN04B #content {
    clear: left;
    width: 100%;
    z-index: 10; }
  body #SMN04B_LayList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid #FFF;
    border-width: 0 1px 1px;
    z-index: 100; }
  body #SMN04B_LayList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; }
  body #SMN04B_LayList > li {
    float: left;
    background: #dedfde;
    position: relative;
    border-top: 1px solid #FFF; }
  body #SMN04B_LayList li a {
    border-top: 1px solid #eaeaea; }
  body #SMN04B_LayList li.sub {
    background: #eaeaea url(/SiteImg/Bkg_Bt_Off.png) no-repeat 98%;
    text-indent: 5px; }
  body #SMN04B_LayList li, body #SMN04B_LayList li a {
    display: block;
    color: #268e9e;
    font-family: Arial, helvetica, sans-serif;
    font-size: 17px;
    line-height: 28px;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    text-indent: 0px;
    /*font-weight:bold;*/ }
  body #SMN04B_LayList li ul li a {
    display: block;
    color: #268e9e;
    font-family: Arial, helvetica, sans-serif;
    font-size: 15px;
    line-height: 17px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    /*text-indent:5px;*/
    /*font-weight:bold;*/ }
  body #SMN04B_LayList li ul li a .SMN04B_InText {
    padding-left: 20px;
    padding-right: 20px; }
  body #SMN04B_LayList ul, body #SMN04B_LayList li.click ul ul, body #SMN04B_LayList li.click ul li.hover ul ul {
    display: none; }
  body #SMN04B_LayList li.hover {
    color: #FFF;
    z-index: 500;
    background: #4ebdce url(/SiteImg/Bkg_Bt_On.png) no-repeat 98%; }
  body #SMN04B_LayList li.click {
    color: #FFF;
    z-index: 500;
    background: #4ebdce url(/SiteImg/Bkg_Bt_On.png) no-repeat 98%;
    background-position: bottom; }
  body #SMN04B_LayList li.click ul {
    display: block; }
  body #SMN04B_LayList li.click ul li a {
    /*text-indent:20px;*/
    color: #5C5E5F; }
  body #SMN04B_LayList li.click ul li {
    background: #FFF url(/SiteImg/Bkg_SubBt_Off.png) no-repeat 98%; }
  body #SMN04B_LayList li.click ul li.hover {
    background: #dedfde url(/SiteImg/Bkg_SubBt_On.png) no-repeat 98%; }
  body #SMN04B img {
    display: block;
    float: right; }
  body #SMN04B p {
    margin: 0px;
    padding: 20px 0 0 0;
    color: #000;
    font-size: 15px;
    font-family: arial, sans-serif;
    text-align: justify; }
  body #SMN04B_LayList li.NoHover {
    background: #eaeaea;
    text-indent: 5px; }
  body #SMN04B_LayList li.NoHover:hover {
    color: #FFF;
    z-index: 500;
    background: #4ebdce; }
  body #SMN04B_LayList li.NoHover:hover a {
    color: #FFF;
    z-index: 500;
    background: #4ebdce; }
  body .SMN07D {
    width: 100%;
    padding: 0px;
    border: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px; }
  body .SMN07D_LayTitolo {
    /*width:530px;*/
    background-color: #2cb1c4;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px; }
  body .SMN07D_LayElenco {
    background-color: #b3b2b2;
    margin-bottom: 10px; }
  body .SMN07D_TxtTitolo {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: normal; }
  body .SMN07D_List a, body .SMN07D_List a:link, body .SMN07D_List a:visited {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    background-position: left center;
    text-decoration: none;
    background-color: #FFFFFF;
    background-image: url(/SiteImg/ArrowGR1.png);
    padding-top: 3px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 20px; }
  body .SMN07D_List a:hover, body .SMN07D_List a:active {
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #2cb1c4;
    color: #FFFFFF;
    background-image: url(/SiteImg/ArrowWHT.png); }
  body .LSS01A {
    padding: 0;
    margin: 0px; }
  body .LSS01A_NoUnderline {
    text-decoration: none; }
  body .LSS01A_LayBoxTitle {
    width: 650px;
    background-color: #CC0000;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px; }
  body .LSS01A_TxtBoxTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFFFFF; }
  body .LSS01A_Row {
    width: 600px;
    background-color: Transparent;
    border-top: solid 1px #b4b3b3;
    padding: 0px;
    clear: both;
    overflow: hidden;
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    background-image: url(/SiteFoundry/LSS01A/Bkg_Off.gif);
    background-repeat: no-repeat;
    background-position: right top; }
  body .LSS01A_Row:hover {
    background-image: url(/SiteFoundry/LSS01A/Bkg_On.gif);
    background-repeat: no-repeat;
    background-position: right top; }
  body .LSS01A_Item {
    margin: 0px;
    border: 0px;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px; }
  body .LSS01A_Item:hover {
    text-decoration: none; }
  body .LSS01A_ImgThumb {
    float: left;
    padding: 0px;
    border: 0px;
    width: 90px;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #FFFFFF;
    text-align: center;
    height: 90px; }
  body .LSS01A_ImgThumb img {
    border: 0px; }
  body .LSS01A_LayText {
    float: left;
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    display: inline;
    width: 450px; }
  body .LSS01A_LayTitolo {
    padding: 0 0 3px 0; }
  body .LSS01A_LayDesc {
    padding: 0 0 3px 0; }
  body .LSS01A_Titolo, body .LSS01A_Titolo:link, body .LSS01A_Titolo:visited, body .LSS01A_Titolo:hover, body .LSS01A_Titolo:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #CC0000;
    font-weight: bold; }
  body .LSS01A_Testo, body .LSS01A_Testo:link, body .LSS01A_Testo:visited, body .LSS01A_Testo:hover, body .LSS01A_Testo:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333; }
  body #social_block li {
    padding-left: 0px !important;
    margin: 5px 3px;
    font-size: 0px;
    float: left;
    text-indent: -999px;
    min-height: 22px; }
  body #social_block li.facebook {
    background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -1px -53px transparent;
    transition-duration: 300ms; }
  body #social_block li.facebook:hover {
    background-position: -1px -80px; }
  body #social_block li a {
    display: block;
    text-indent: -9999px;
    height: 25x;
    min-height: 25px;
    width: 25px; }
  body #social_block li.twitter {
    background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -1px -106px transparent;
    transition-duration: 300ms; }
  body #social_block li.twitter:hover {
    background-position: -1px -132px; }
  body #social_block li.Foursquare {
    background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -2px -1px transparent;
    transition-duration: 300ms; }
  body #social_block li.Foursquare:hover {
    background-position: -2px -27px; }
  body #social_block li.googleplus {
    background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -1px -159px transparent;
    transition-duration: 300ms; }
  body #social_block li.googleplus:hover {
    background-position: -1px -185px; }
  body #social_block li.youtube {
    background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -1px -266px transparent;
    transition-duration: 300ms; }
  body #social_block li.youtube:hover {
    background-position: -1px -292px; }
  body #social_block li.skype {
    background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -1px -213px transparent;
    transition-duration: 300ms; }
  body #social_block li.skype:hover {
    background-position: -1px -239px; }
  body #social_block li.pinterest {
    background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -1px -319px transparent;
    transition-duration: 300ms; }
  body #social_block li.pinterest:hover {
    background-position: -1px -347px; }
  body #social_block li.linkedin {
    background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -1px -373px transparent;
    transition-duration: 300ms; }
  body #social_block li.linkedin:hover {
    background-position: -1px -400px; }
  @media screen and (min-width: 768px) and (max-width: 959px) {
    body .AG01A_Block {
      width: 748px; }
    body .LAY01A_AreaPageTitle {
      /*height: 120px;*/
      width: 768px;
      /*padding-top: 50px;*/ }
    body .LAY01A_AreaMenu {
      width: 768px;
      min-height: 54px; }
    body .LAY01A_PageTitle {
      width: 738px;
      padding-top: 13px;
      padding-bottom: 0px;
      padding-left: 30px;
      padding-right: 0px; }
    body .LAY01A_ContentBox {
      width: 768px; }
    body .LAY01A_ContentBoxHP {
      width: 768px; }
    body .LAY01A_AreaBanner {
      width: 768px; }
    body .LAY01A_Content1 {
      /*width: 510px;*/ }
    body .LAY01A_Content2 {
      /*width: 238px;*/ }
    body .HEA01 {
      width: 708px;
      height: 130px; }
    body .HEA01B_AreaHeader {
      width: 768px; }
    body .HEA01B_AreaHeader_Desc {
      width: 70%; }
    body .HEA01B_AreaHeader_MenuTop {
      width: 30%; }
    body .DAT02B {
      width: 768px; }
    body .DAT02B_Desc {
      width: 180px;
      font-size: 14px; }
    body .DAT02B_TRP, body .DAT02B_TRP:link, body .DAT02B_TRP:visited {
      width: 246px; }
    body .FOO01A {
      width: 768px; }
    body .FOO01A_NavMenu1 {
      width: 110px; }
    body .FOO01A_NavMenu2 {
      width: 205px; }
    body .FOO01A_Disclaimer {
      width: 285px;
      margin-right: 10px; }
    body .SMN01B {
      width: 768px; }
    body .LSS01B_LayText {
      width: 490px; }
    body .LSS01E_LayText {
      width: 228px; }
    body .js #SMN01B_Menu {
      display: none; }
    body .js .slicknav_menu {
      display: block;
      position: absolute;
      right: 0; }
    body .HEA01B_AreaHeader_menu_resp {
      width: 568px;
      height: 90px;
      float: left;
      position: relative; }
    body .HEA01B_AreaHeader_menu {
      display: none; }
    body .DAT01B {
      width: 768px; }
    body .DAT01B_TRP {
      width: 246px; }
    body .DAT01B_Cnt img {
      width: 246px;
      /*height:71px;*/ } }
  @media screen and (min-width: 600px) and (max-width: 767px) {
    body .AG01A_Block {
      width: 560px;
      padding-left: 0px;
      padding-right: 0px; }
    body .LAY01A_AreaPageTitle {
      /*height: 120px;*/
      width: 600px;
      /*padding-top: 50px;*/ }
    body .LAY01A_AreaMenu {
      width: 600px;
      min-height: 54px; }
    body .LAY01A_PageTitle {
      width: 570px;
      padding-top: 13px;
      padding-bottom: 0px;
      padding-left: 30px;
      padding-right: 0px; }
    body .LAY01A_ContentBox {
      width: 600px;
      /*padding-left: 20px;
	padding-top: 20px;*/ }
    body .LAY01A_ContentBoxHP {
      width: 600px; }
    body .LAY01A_AreaBanner {
      width: 600px; }
    body .LAY01A_Content1 {
      /*width: 600px;
        margin: 0px;*/ }
    body .LAY01A_Content2 {
      /*width: 600px;
        float: left;*/ }
    body .HEA01 {
      width: 560px;
      padding-right: 20px;
      padding-left: 20px;
      height: 130px; }
    body .FOO01A {
      width: 600px; }
    body .FOO01A_NavMenu1 {
      width: 120px; }
    body .FOO01A_NavMenu2 {
      width: 200px; }
    body .FOO01A_Disclaimer {
      width: 250px;
      margin-right: 10px; }
    body .FOO01A_LogoArea {
      width: 170px; }
    body .DAT02B {
      width: 600px; }
    body .DAT02B_Desc {
      width: 135px;
      font-size: 11px;
      padding-top: 3px;
      padding-bottom: 3px; }
    body .DAT02B_TRP, body .DAT02B_TRP:link, body .DAT02B_TRP:visited {
      width: 190px; }
    body .DAT02B_Cnt {
      width: 40px;
      height: 35px;
      min-width: 40px;
      min-height: 35px; }
    body .DAT02B_Cnt_date {
      width: 40px;
      height: 18px;
      min-width: 40px;
      min-height: 18px;
      vertical-align: bottom;
      line-height: 18px;
      font-size: 16px; }
    body .DAT02B_Cnt_mon {
      width: 40px;
      height: 18px;
      min-width: 40px;
      min-height: 18px;
      line-height: 16px;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px; }
    body .HEA01B_AreaHeader {
      width: 600px;
      /*overflow:hidden;*/ }
    body .HEA01B_AreaHeader_Desc {
      width: 600px; }
    body .HEA01B_AreaHeader_MenuTop {
      width: 600px; }
    body .SMN01B {
      width: 600px; }
    body .LSS01B_LayText {
      width: 370px; }
    body .LSS01E_LayText {
      width: 580px; }
    body .js #SMN01B_Menu {
      display: none; }
    body .js .slicknav_menu {
      display: block;
      position: absolute;
      right: 0; }
    body .HEA01B_AreaHeader_menu_resp {
      width: 400px;
      height: 90px;
      float: left;
      position: relative; }
    body .HEA01B_AreaHeader_menu {
      display: none; }
    body .DAT01B {
      width: 600px; }
    body .DAT01B_TRP {
      width: 190px; }
    body .DAT01B_Cnt img {
      width: 190px;
      /*height: 47px;*/ } }
  @media screen and (max-width: 599px) {
    body .AG01A_Block {
      /*width: 440px;*/
      width: 100%;
      padding-left: 0px;
      padding-right: 0px; }
    body .LAY01A_AreaPageTitle {
      /*height: 120px;*/
      /*width: 480px;*/
      /*padding-top: 50px;*/
      width: 100%; }
    body .LAY01A_AreaMenu {
      /*width: 480px;*/
      min-height: 54px;
      width: 100%; }
    body .LAY01A_PageTitle {
      /*width: 450px;*/
      padding-top: 13px;
      padding-bottom: 0px;
      padding-left: 30px;
      padding-right: 0px;
      width: 100%; }
    body .LAY01A_ContentBox {
      /*width: 480px;*/
      /*padding-left: 20px;
	padding-top: 20px;*/
      width: 100%; }
    body .LAY01A_ContentBoxHP {
      /*width: 480px;*/
      width: 100%; }
    body .LAY01A_AreaBanner {
      /*width: 480px;*/
      width: 100%; }
    body .LAY01A_Content1 {
      /*width: 480px;*/
      /*max-width: 480px;*/
      /*width: 100%;*/ }
    body .LAY01A_Content2 {
      /*width: 480px;
        max-width: 480px;*/
      /*width: 100%;*/ }
    body .HEA01 {
      /*width: 440px;*/
      width: 100%;
      padding-right: 20px;
      padding-left: 20px;
      height: 130px; }
    body .HEA01B_AreaHeader {
      /*width: 480px;*/
      width: 100%; }
    body .HEA01B_AreaHeader_Desc {
      /*width: 480px;*/
      width: 100%; }
    body .HEA01B_AreaHeader_MenuTop {
      /*width: 480px;*/
      width: 100%; }
    body .FOO01A {
      /*width: 480px;*/
      width: 100%; }
    body .FOO01A_NavMenu1 {
      /*width: 180px;*/
      width: 100%;
      padding-bottom: 20px;
      padding-left: 0px; }
    body .FOO01A_NavMenu2 {
      /*width: 240px;*/
      width: 100%;
      padding-bottom: 20px; }
    body .FOO01A_NavMenu2 img {
      margin-right: 10px;
      float: left; }
    body .FOO01A_Disclaimer {
      /*clear:left;*/
      /*width: 280px;*/
      width: 100%;
      padding-left: 0px;
      padding-bottom: 20px;
      margin: 0; }
    body .FOO01A_LogoArea {
      /*width: 160px;*/
      width: 100%;
      /*padding-left: 20px;*/ }
    body .DAT02B {
      /*width: 415px;*/
      width: 100%; }
    body .DAT02B_Desc {
      /*width: 180px;*/
      width: 100%;
      font-size: 14px; }
    body .DAT02B_TRP, body .DAT02B_TRP:link, body .DAT02B_TRP:visited {
      /*width: 480px;*/
      width: 100%; }
    body .SMN01B {
      /*width: 480px;*/
      width: 100%; }
    body .LSS01E_LayText {
      /*width: 460px;*/
      width: 100%; }
    body .js #SMN01B_Menu {
      display: none; }
    body .js .slicknav_menu {
      display: block;
      position: absolute;
      width: 100%; }
    body .HEA01B_AreaHeader_menu_resp {
      /*width: 280px;*/
      width: 100%;
      height: 90px;
      float: left;
      position: relative; }
    body .HEA01B_AreaHeader_menu {
      display: none; }
    body .DAT01B {
      /*width: 480px;*/
      width: 100%; }
    body .DAT01B_TRP {
      /*width: 480px;*/
      width: 100%; }
    body .DAT01B_Cnt img {
      /*width: 480px;*/
      width: 100%; }
    body .HEA01B_AreaHeader_Desc, body .HEA01B_AreaHeader_MenuTop {
      float: none;
      height: auto; } }
  body .TFY_Titolo1 {
    font-size: 24px;
    color: #730F11; }
  body .ZSSM_Button01_Button,
  body .ZSSM_Button01_Button:link,
  body .ZSSM_Button01_Button:visited {
    background-color: #730F11 !important; }
  body .ZSSM_Button01_LinkButton,
  body .ZSSM_Button01_LinkButton:link,
  body .ZSSM_Button01_LinkButton:visited {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    /*border: 1px solid transparent;*/
    white-space: nowrap;
    padding: 6px 12px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    text-decoration: none;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    background-repeat: repeat-x;
    background-position: 0 -15px;
    text-shadow: 0 1px 0 #fff;
    border-color: #ccc;
    color: #fff;
    background-color: #730F11 !important;
    background-image: linear-gradient(to bottom, #fff 0, #730F11 100%) !important; }
  body .TFY_Sottotitolo3 {
    color: #730F11;
    font-size: 2.2rem; }
body .iscrivitiButton {
    background: none;
    border: none;
    background-color: #730f11;
    cursor: pointer;
    color: #fff;
    padding: 10px 30px;
    font-size: 14px;
    margin-top: 30px;
}
    body .iscrivitiButton:hover {
        background-color: #7c7a79;
    }
  body .labelIscrizione {
    background-color: #730F11;
    color: #fff;
    padding: 10px 30px;
    font-size: 14px;
    margin-top: 30px; }
  body .link {
    margin-top: 2rem;
    margin-right: 1.5rem; }
    body .link a {
      /*display: block;*/
      color: #fff !important;
      background-color: #730F11;
      text-transform: uppercase;
      text-decoration: none !important;
      font-family: "Oswald", sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      /*width: 100%;*/
      text-align: center;
      border-radius: 4%;
      padding: 0.7rem 2rem;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
      @media (min-width: 768px) {
        body .link a {
          font-size: 1.4rem;
          padding: 1rem 2rem; } }
      body .link a:hover {
        background-color: #7c7a79; }
