﻿@import '_variables.scss';
@import '_cookie.scss';

@import '_header.scss';
@import '_footer.scss';


body {
    background-color: #fff;


    main {
        min-height: 60rem;
        padding: 3rem 0;

        .titolo {
            h4 {
                color: $blue;
                text-align: center;
                text-transform: uppercase;
                font-size: 2.5rem;
                margin: 0;
                margin-bottom: 2rem;
            }

            hr {
                width: 5rem;
                /*border: 2px solid $blue;*/
                margin: 0 auto;
            }
        }

        .pageTitle {
            margin-bottom: 2rem;
        }
    }
}
