#cookieChoiceInfo {
  background-color: #7c7a79; }
  #cookieChoiceInfo span {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700; }
  #cookieChoiceInfo a:first-of-type {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: underline; }
  #cookieChoiceInfo #cookieChoiceDismiss {
    background-color: #730F11;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: .2rem;
    color: #fff;
    line-height: 1.9rem;
    padding: .4rem .8rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700; }

header {
  /*background-color: rgba(235,235,235, 0.7);*/
  /*background-color: rgba(34, 136, 194, 0.9);*/
    /*.navbar {
        .navbar-collapse {
            background-image: url('/asset/img/menu_bar.png');
            background-repeat: repeat-x;
            background-position: center 5.3rem;
            min-height: 7.8rem;

            .nav-item {
                background: url('/asset/img/head_btn_bg.png') no-repeat center center;
                background-size: contain;
                width: 15.85rem;

                &.active {
                    background-image: url('/asset/img/head_btn_bg_hover.png');

                    .nav-link {
                        color: #fff;
                    }
                }

                .nav-link {
                    color: $lightGrey;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 1.4rem;
                    text-align: center;
                }

                .dropdown-menu {
                    background-color: $lightGrey;
                    border: none;

                    .dropdown-item {
                        text-decoration: none;

                        &.active, &:active, &:focus, &:hover {
                            color: #212529;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }*/ }
  header .upperArea {
    padding: 1rem 0; }
    header .upperArea .logo {
      overflow: hidden;
      padding-bottom: 2rem; }
      @media (min-width: 768px) {
        header .upperArea .logo {
          padding-bottom: 0; } }
      header .upperArea .logo img {
        max-width: 100%; }
    header .upperArea .areaLink {
      width: 100%; }
      header .upperArea .areaLink a {
        display: block;
        color: #730F11;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        width: 100%;
        text-align: center;
        border: 2px solid #730F11;
        border-radius: 4%;
        padding: 0.7rem 2rem;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        @media (min-width: 768px) {
          header .upperArea .areaLink a {
            font-size: 1.4rem;
            padding: 1rem 2rem; } }
        header .upperArea .areaLink a:hover {
          color: #fff;
          background-color: #730F11; }
      header .upperArea .areaLink.pazienti a {
        color: #7c7a79;
        border-color: #7c7a79; }
        header .upperArea .areaLink.pazienti a:hover {
          color: #fff;
          background-color: #7c7a79; }
  header .navbar {
    background-color: #730F11;
    padding-top: 0.5rem; }
    @media (min-width: 992px) {
      header .navbar {
        padding: 0; } }
    header .navbar .navbar-toggler {
      border-color: white;
      margin-bottom: 0.5rem; }
      header .navbar .navbar-toggler:focus {
        outline: none; }
      header .navbar .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
    header .navbar .navbar-collapse .navbar-nav {
      width: 100%;
      justify-content: space-between; }
      header .navbar .navbar-collapse .navbar-nav .nav-item {
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        header .navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link {
          color: #fff; }
        header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 1.4rem;
          font-weight: bold;
          text-align: center;
          padding: 1rem 0.3rem;
          -webkit-transition: all 0.2s ease-in;
          -moz-transition: all 0.2s ease-in;
          -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }
          header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:after {
            border: none; }
        header .navbar .navbar-collapse .navbar-nav .nav-item:focus, header .navbar .navbar-collapse .navbar-nav .nav-item:hover {
          background-color: #fafafa; }
          header .navbar .navbar-collapse .navbar-nav .nav-item:focus .nav-link, header .navbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
            color: #730F11; }
        header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
          background-color: #fff;
          border: none;
          text-align: center;
          padding: 0;
          margin: 0; }
          @media (min-width: 992px) {
            header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
              text-align: left; } }
          header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
            color: #7c7a79;
            font-size: 1.5rem;
            text-decoration: none;
            border-bottom: 1px solid #b6b4af;
            border-left: 0 solid #2492D1;
            border-right: 3px solid rgba(255, 255, 255, 0);
            padding: 0.8rem 1.5rem;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in; }
            header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item.active, header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:active, header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:focus, header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
              color: #2492D1;
              border-left: 3px solid #2492D1;
              border-right: 0 solid rgba(255, 255, 255, 0);
              -webkit-transition: all 0.2s ease-in;
              -moz-transition: all 0.2s ease-in;
              -o-transition: all 0.2s ease-in;
              transition: all 0.2s ease-in; }

footer {
  background-color: #222; }
  footer ul {
    list-style-type: none; }
  footer .upperArea {
    padding: 2rem 0; }
    @media (min-width: 768px) {
      footer .upperArea {
        padding: 5rem 0; } }
    footer .upperArea .logo img {
      max-width: 100%; }
    footer .upperArea .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding-top: 1rem; }
      @media (min-width: 768px) {
        footer .upperArea .menu {
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          padding-top: 0;
          padding-left: 3rem; } }
      footer .upperArea .menu .itemLink {
        text-align: center; }
        @media (min-width: 768px) {
          footer .upperArea .menu .itemLink:first-child a {
            padding-left: 0; }
          footer .upperArea .menu .itemLink:last-child a {
            padding-right: 0; } }
        footer .upperArea .menu .itemLink a {
          color: #fff;
          font-size: 1.4rem;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
          padding: 0 0.8rem;
          -webkit-transition: all 0.2s ease-in;
          -moz-transition: all 0.2s ease-in;
          -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }
          footer .upperArea .menu .itemLink a:hover {
            color: #730F11; }
  footer .lowerArea {
    background-color: #000;
    padding: 0.8rem 0; }
    footer .lowerArea .info {
      color: #fff;
      font-size: 1.4rem;
      font-weight: bold;
      text-align: center; }
      @media (min-width: 768px) {
        footer .lowerArea .info {
          text-align: left; } }
      footer .lowerArea .info a {
        color: #fff;
        font-size: 1.4rem;
        font-weight: bold;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        footer .lowerArea .info a:hover {
          color: #730F11; }
    footer .lowerArea .menuPrivacy {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1rem; }
      @media (min-width: 768px) {
        footer .lowerArea .menuPrivacy {
          justify-content: flex-end;
          padding-top: 0; } }
      footer .lowerArea .menuPrivacy li a {
        color: #fff;
        font-size: 1.4rem;
        font-weight: bold;
        text-decoration: none;
        /*padding: 0 0.5rem;*/
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        footer .lowerArea .menuPrivacy li a:after {
          content: "|";
          color: #fff;
          font-size: 1.4rem;
          padding: 0 0.5rem; }
        footer .lowerArea .menuPrivacy li a:hover {
          color: #730F11;
          text-decoration: underline; }
      footer .lowerArea .menuPrivacy li:last-child a {
        padding-right: 0; }
        footer .lowerArea .menuPrivacy li:last-child a:after {
          content: none; }

/*footer {
    position: relative;
    width: 100%;
    padding: 20px 0;
    background-color: #d2d9de;
    text-align: center;
}

footer img {
    float: none;
    position: relative;
    width: 60%;
    height: auto;
    margin: auto;
    display: block;
    clear: both;
    margin-bottom: 20px;
}

footer p {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    color: #444;
    display: block;
    clear: both;
    padding: 0 20px;
}

footer ul {
    width: 100%;
    position: relative;
    display: inline;
    padding: 0px;
    text-align: center;
    padding: 0 20px;
}

footer ul li {
    position: relative;
    display: inline;
    margin: 0 6px;
}

footer a {
    font-size: 1.4rem;
    color: #1d76ba;
    text-decoration: underline;
    white-space: nowrap;
}

@media (min-width: 768px) {
    footer img {
        width: 360px;
    }
}

@media (min-width: 992px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer img {
        margin-top: 30px;
        margin-left: 20px;
        width: 280px;
    }

    footer p {
        width: auto;
    }

    footer ul {
        width: auto;
        min-width: 30%;
        text-align: right;
        display: inline-block;
    }
}*/
body {
  background-color: #fff; }
  body main {
    min-height: 60rem;
    padding: 3rem 0; }
    body main .titolo h4 {
      color: #730F11;
      text-align: center;
      text-transform: uppercase;
      font-size: 2.5rem;
      margin: 0;
      margin-bottom: 2rem; }
    body main .titolo hr {
      width: 5rem;
      /*border: 2px solid $blue;*/
      margin: 0 auto; }
    body main .pageTitle {
      margin-bottom: 2rem; }
