﻿@import '_variables.scss';
@import '_cookie.scss';

@import '_header.scss';
@import '_footer.scss';

@import '_accountDefault.scss';


/*section.areaSociDefault {

}*/

body {
    /*background-size: auto 100%;*/
    background-color: #fff;


    main {
        min-height: 60rem;
        padding: 3rem 0;
    }

    .pageTitle {
        margin-bottom: 2rem;
    }
    /*
    menù li BG: #6bcede

    */
    /********************************************************************************/
    /***** Start Reset **************************************************************/
    /********************************************************************************/
    /** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }*/
    ul, ol, dl {
        padding: 0;
        margin: 0;
        list-style-image: none;
        list-style-type: none;
    }

    h1, h2, h3, h4, h5, h6 {
        /*font-weight: normal;*/
        /*margin: 0;*/
    }

    p {
        font-weight: normal;
        margin: 0;
    }

    a img {
        border: none;
    }
    /******************************************************************************/
    /***** Float / Clear Classes **************************************************/
    /******************************************************************************/
    .FloatDx { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
        float: right;
        margin-left: 8px;
    }

    .FloatSx { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
        float: left;
        margin-right: 8px;
    }

    .FloatClr { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
        clear: both;
        height: 0;
        font-size: 1px;
        line-height: 0px;
    }
    /********************************************************************************/
    /* Zeus ITem Container **********************************************************/
    /********************************************************************************/
    .ZITC000 {
        border: 0px;
        padding: 0px;
        margin: 0px 0px 0px 0px;
    }

    .ZITC005 {
        border: 0px;
        padding: 0px;
        margin: 0px 0px 5px 0px;
    }

    .ZITC010 {
        border: 0px;
        padding: 0px;
        margin: 0px 0px 10px 0px;
    }

    .ZITC015 {
        border: 0px;
        padding: 0px;
        margin: 0px 0px 15px 0px;
    }

    .ZITC020 {
        border: 0px;
        padding: 0px;
        margin: 0px 0px 20px 0px;
    }
    /********************************************************************************/
    /* LAYOUT START *****************************************************************/
    /********************************************************************************/
    body {
        background-color: #0a2550;
        /*background-image: url(/SiteImg/Bkg_Base0.jpg);
	background-repeat: no-repeat;
	background-position: center top;*/
        padding: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    /********************************************************************************/
    /***** AGE01A Template **********************************************************/
    /********************************************************************************/
    .AG01A_Block {
        float: left;
        width: 300px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /********************************************************************************/
    /***** LAY01A Template **********************************************************/
    /********************************************************************************/
    .LAY01A {
        width: 100%; /* the auto value on the sides, coupled with the width, centers the layout */
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
        position: relative;
        z-index: 100;
    }

    .LAY01A_AreaHeader {
        padding: 0px;
        width: 960px;
        margin: 0 auto;
    }

    .LAY01A_AreaHeader_FullTop {
        padding: 0px;
        width: 100%;
        margin: 0px;
        position: relative;
        background-color: #0b1439;
        background-image: url(/SiteImg/Header_BkgTop.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        /*background-repeat:repeat-x;*/
        z-index: 100;
        display: none;
    }

    .LAY01A_AreaHeader_FullTop_Shadow {
        padding: 0px;
        width: 100%;
        margin: 0px;
        position: relative;
        background-image: url(/SiteImg/Shadow_TopDown.png);
        background-position: center bottom;
        background-repeat: repeat-x;
        z-index: 1000;
    }

    .LAY01A_AreaHeader_Full {
        padding: 0px;
        width: 100%;
        margin: 0px;
        position: relative;
        background: #FFF;
    }

    .LAY01B_AreaHeader {
        width: 960px;
        margin: 0 auto;
        padding: 0px;
        /*height: 115px;*/
    }

    .HEA01B_AreaHeader {
        padding: 0px;
        width: 960px;
        margin: 0 auto;
    }

    .HEA01B_AreaHeader_Desc {
        margin: 0px;
        height: 30px;
        width: 650px;
        float: left;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        line-height: 28px;
        vertical-align: middle;
        color: #FFF;
        font-size: 11px;
        font-family: 'Open Sans', sans-serif;
    }

    .HEA01B_AreaHeader_MenuTop {
        margin: 0px;
        height: 30px;
        width: 310px;
        float: left;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        /*line-height:28px;*/
        vertical-align: middle;
        color: #FFF;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        text-align: right;
    }

    .HEA01B_AreaHeader_MenuTop a {
        margin: 0px;
        padding-top: 0px;
        padding-right: 5px;
        padding-bottom: 0px;
        padding-left: 5px;
        line-height: 30px;
        vertical-align: middle;
        color: #FFF;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        text-decoration: none;
    }

    .HEA01B_AreaHeader_MenuTop a:hover {
        text-decoration: underline;
    }

    .HEA01B_AreaHeader_img {
        margin: 0px;
        height: 98px;
        width: 200px;
        float: left;
        padding-top: 12px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }


    .HEA01B_AreaHeader_flag {
        margin: 0px;
        padding: 0px;
        height: 30px;
        line-height: 30px;
        width: 680px;
        float: left;
        text-align: right;
        /*vertical-align:middle;
	display: table; */
    }

    .HEA01B_AreaHeader_flag .AreaFlags {
        /*display: table-cell;
  vertical-align: middle;
  text-align: right; */
        margin-top: 13px;
        float: right;
    }

    .HEA01B_AreaHeader_flag .AreaFlags img {
        margin-left: 3px;
        margin-right: 3px;
    }

    .HEA01B_AreaHeader_flag .AreaFlags a, .HEA01B_AreaHeader_flag .AreaFlags a:link, .HEA01B_AreaHeader_flag .AreaFlags a:visited, .HEA01B_AreaHeader_flag .AreaFlags a:hover, .HEA01B_AreaHeader_flag .AreaFlags a:active {
        text-decoration: none;
        border: 0px;
    }

    .HEA01B_AreaHeader_flag .AreaLinks {
        /*display: table-cell;
  vertical-align: middle;
  text-align: right; */
        float: right;
        margin-top: 10px;
        margin-right: 20px;
    }

    .HEA01B_AreaHeader_flag .AreaLinks a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #898989;
        text-decoration: none;
        line-height: 19px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .HEA01B_AreaHeader_flag .AreaLinks a:link, .HEA01B_AreaHeader_flag .AreaLinks a:visited {
        color: #898989;
        text-decoration: none;
    }

    .HEA01B_AreaHeader_flag .AreaLinks a:hover, .HEA01B_AreaHeader_flag .AreaLinks a:active, .HEA01B_AreaHeader_flag .AreaLinks a:focus {
        color: #FFFFFF;
        text-decoration: none;
        background-color: #AAA9A6;
    }
    /*.HEA01B_AreaHeader_menu {
	margin: 0px;
	padding: 0px;
	height:60px;
	width:680px;
	float:left;
	text-align:right;
}*/
    .LAY01A_AreaMenu {
        width: 960px;
        margin: 0 auto;
        padding: 0px;
        min-height: 65px;
    }

    .LAY01A_AreaContent {
        padding-top: 0px;
        padding-right: 0;
        padding-bottom: 0px;
        padding-left: 0;
        background-color: #FFF;
    }

    .LAY01A_AreaPageTitle {
        min-height: 120px;
        width: 960px;
        margin: 0 auto;
        padding: 0px;
        overflow: hidden;
    }

    .LAY01A_PageTitle {
        margin: 0px;
        /*height: 57px;*/
        margin-top: 35px;
        margin-right: 30px;
        margin-bottom: 35px;
        margin-left: 0px;
        width: 900px;
    }

    .LAY01A_PageTitle_Full {
        width: 100%;
        background-image: url(/SiteImg/Header_BkgMain.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        z-index: 100;
        background-color: #001461;
    }


    .LAY01A_PageTitle_Full_ShadowT {
        width: 100%;
        background-image: url(/SiteImg/Shadow_HeadUp.png);
        background-position: top;
        background-repeat: repeat-x;
        z-index: 1000;
    }

    .LAY01A_PageTitle_Full_ShadowB {
        width: 100%;
        background-image: url(/SiteImg/Shadow_HeadDown.png);
        background-position: bottom;
        background-repeat: repeat-x;
        z-index: 2000;
    }

    .LAY01A_AreaBanner {
        overflow: hidden;
        margin-bottom: 0px;
        width: 960px;
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        /*min-height: 350px;*/
        padding-top: 0px;
        background-color: #FFFFFF;
    }

    .LAY01A_AreaBanner_Full {
        width: 100%;
        /*position: relative;*/
        background-color: #FFFFFF;
    }


    .LAY01A_ContentBox {
        overflow: hidden;
        margin-bottom: 0px;
        width: 960px;
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        min-height: 350px;
        padding-top: 15px;
        background-color: #FFFFFF;
    }

    .LAY01A_ContentBoxHP {
        overflow: hidden;
        margin-bottom: 0px;
        width: 960px;
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        min-height: 350px;
        padding-top: 15px;
        background-color: #FFFFFF;
    }


    .LAY01A_Content1 {
        padding: 0px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .LAY01A_Content2 {
        padding: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .LAY01A_ContentFull {
        width: 960px;
        float: left;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
        background-color: #FFFF00;
    }

    .LAY01A_AreaFooter {
        padding-top: 0px;
        padding-right: 0;
        padding-bottom: 0px;
        padding-left: 0;
        width: 100%;
        margin: 0px;
        background-image: url(/SiteImg/Footer_BkgMain.jpg);
        background-color: #0a2550;
    }

    .LAY01A_AreaFooter_News {
        padding-top: 0px;
        padding-right: 0;
        padding-bottom: 0px;
        padding-left: 0;
        width: 100%;
        background-image: url(/SiteImg/Footer_BkgMain.jpg);
        background-color: #4fc1d1;
        min-height: 80px;
        background-image: none;
        background-color: #dddddd;
    }

    .LAY01A_AreaFooter_ShadowT {
        padding-top: 0px;
        padding-right: 0;
        padding-bottom: 0px;
        padding-left: 0;
        width: 100%;
        margin: 0px;
        /*
    background-image: url(/SiteImg/Shadow_FooterUp.png);
    background-repeat: repeat-x;
    background-position: top;
    */
    }
    /********************************************************************************/
    /***** HEA01 Header01 ***********************************************************/
    /********************************************************************************/
    .HEA01 {
        width: 900px;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        background-color: #00CCFF;
        padding-top: 0px;
        padding-right: 30px;
        padding-bottom: 0px;
        padding-left: 30px;
        height: 130px;
    }
    /********************************************************************************/
    /***** FOO01 Footer01 ***********************************************************/
    /********************************************************************************/
    .FOO01A {
        width: 960px;
        margin: 0 auto;
        padding-bottom: 20px;
        overflow: hidden;
        padding-top: 30px;
        background-image: url("/SiteImg/SfumRow.png");
        background-repeat: no-repeat;
        background-position: center top;
    }

    .FOO01A_NavMenu1 {
        width: 130px;
        float: left;
        margin: 0px;
        padding: 0px;
    }

    .FOO01A_NavMenu2 {
        width: 220px;
        float: left;
        margin: 0px;
        padding: 0px;
        visibility: hidden;
    }

    .FOO01A_Disclaimer {
        width: 420px;
        float: left;
        padding: 0px;
        margin-top: 0px;
        margin-right: 20px;
        margin-bottom: 0px;
        margin-left: 0px;
        color: #8f8f8f;
    }

    .FOO01A_LogoArea {
        width: 155px;
        float: left;
        margin: 0px;
        padding: 0px;
        text-align: right;
    }

    .FOO01A_LogoArea img {
        margin-bottom: 5px;
    }

    .FOO01A_Logo1 {
        margin-bottom: 20px;
    }

    .FOO01A_Logo2 {
        padding-left: 70px;
    }
    /*
    Mobile Menu Core Style
*/
    .slicknav_menu {
        display: none;
        z-index: 9999;
        margin-top: 26px;
    }

    .slicknav_btn {
        position: relative;
        display: block;
        vertical-align: middle;
        float: right;
        padding: 0.438em 3em 0.438em 3em;
        line-height: 1.125em;
        cursor: pointer;
    }

    .slicknav_menu .slicknav_menutxt {
        display: block;
        line-height: 1.188em;
        float: left;
    }

    .slicknav_menu .slicknav_icon {
        float: left;
        margin: 0.188em 0 0 0.438em;
    }

    .slicknav_menu .slicknav_no-text {
        margin: 0;
    }

    .slicknav_menu .slicknav_icon-bar {
        display: block;
        width: 1.125em;
        height: 0.125em;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    }

    .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
        margin-top: 0.188em;
    }

    .slicknav_nav {
        clear: both;
    }

    .slicknav_nav ul,
    .slicknav_nav li {
        display: block;
    }

    .slicknav_nav .slicknav_arrow {
        font-size: 0.8em;
        margin: 0 0 0 0.4em;
    }

    .slicknav_nav .slicknav_item {
        display: block;
        cursor: pointer;
    }

    .slicknav_nav a {
        display: block;
    }

    .slicknav_nav .slicknav_item a {
        display: inline;
    }

    .slicknav_menu:before,
    .slicknav_menu:after {
        content: " ";
        display: table;
    }

    .slicknav_menu:after {
        clear: both;
    }
    /* IE6/7 support */
    .slicknav_menu {
        *zoom: 1;
    }
    /*
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/
    .slicknav_menu {
        font-size: 16px;
    }
    /* Button */
    .slicknav_btn {
        margin: 5px 5px 6px;
        text-decoration: none;
        /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: #53b2c1;
    }
    /* Button Text */
    .slicknav_menu .slicknav_menutxt {
        color: #FFF;
        font-weight: bold;
        /*text-shadow: 0 1px 3px #000;*/
    }
    /* Button Lines */
    .slicknav_menu .slicknav_icon-bar {
        background-color: #f5f5f5;
    }

    .slicknav_menu {
        background: #53b2c1;
        background-image: url(/SiteImg/SFXMenu.gif);
        background-position: left top;
        background-repeat: repeat-x;
        /*padding: 5px;*/
        z-index: 9999;
    }

    .slicknav_nav {
        color: #fff;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        font-size: 0.875em;
        z-index: 9998;
    }

    .slicknav_nav, .slicknav_nav ul {
        list-style: none;
        overflow: hidden;
    }

    .slicknav_nav ul {
        padding: 0;
        margin: 0 0 0 20px;
    }

    .slicknav_nav .slicknav_item {
        padding: 5px 10px;
        margin: 2px 5px;
    }

    .slicknav_nav a {
        padding: 5px 10px;
        margin: 2px 5px;
        text-decoration: none;
        color: #FFF;
        font-family: 'Open Sans',sans-serif;
    }

    .slicknav_nav .slicknav_item a {
        padding: 0;
        margin: 0;
    }


    .slicknav_nav .slicknav_item:hover {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: #730F11
        color: #fff;
    }

    .slicknav_nav li a:hover {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: #730F11
        color: #fff;
    }

    .slicknav_nav a:hover {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        /*background:#ccc;*/
        color: #FFF;
    }

    .slicknav_nav .slicknav_txtnode {
        margin-left: 15px;
    }

    .bx-wrapper .bx-viewport {
        background: none;
    }

    .bx-wrapper img {
        z-index: 1;
    }
    /********************************************************************************/
    /***** MEX01B  ******************************************************************/
    /********************************************************************************/
    .MEX01B {
        padding: 15px;
        margin: 15px 0;
        /*background-color:#2cb1c3;*/
        background-color: #cb2323;
        overflow: hidden;
    }

    .MEX01B:first-child {
        margin-top: 0;
    }

    .MEX01B_Content {
        width: 100%;
        background-color: #cb2323;
    }

    .MEX01B_text {
        width: 85%;
        /*background-color:#2cb1c3;*/
        float: left;
        font-size: 18px;
        text-decoration: none;
        color: #FFF;
        line-height: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    .MEX01B_btn, .MEX01B_btn:link, .MEX01B_btn:visited {
        width: 15%;
        /*background-color:#2cb1c3;*/
        float: left;
        text-align: center;
        font-size: 18px;
        text-decoration: underline;
        color: #FFF;
        line-height: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    .MEX01B_btn:hover, .MEX01B_btn:active {
        width: 15%;
        /*background-color:#2cb1c3;*/
        float: left;
        text-align: center;
        font-size: 18px;
        text-decoration: underline;
        color: #FFF;
        line-height: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    /********************************************************************************/
    /***** BTN01B  ******************************************************************/
    /********************************************************************************/
    .BTN01B, .BTN01B:link, .BTN01B:visited {
        cursor: pointer;
        font-size: 12px;
        line-height: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        text-decoration: none;
        background-color: #730f11;
        padding: 6px 15px;
        margin: 2px;
        text-align: center;
        vertical-align: middle;
    }

    .BTN01B:hover, .BTN01B:active {
        background-color: #7c7a79;
    }
    /********************************************************************************/
    /***** BTN02B  ******************************************************************/
    /********************************************************************************/
    .BTN02B, .BTN02B:link, .BTN02B:visited {
        cursor: pointer;
        font-size: 12px;
        line-height: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        text-decoration: none;
        background-color: #730f11;
        padding: 6px 0px;
        margin: 2px;
        text-align: center;
        vertical-align: middle;
        width: 100%;
    }

    .BTN02B:hover, .BTN02B:active {
        background-color: #7c7a79;
    }
    /********************************************************************************/
    /***** DAT01B  ******************************************************************/
    /********************************************************************************/
    .DAT01B {
        margin: 0 auto;
        /*margin-top: 15px;*/
        width: 960px;
        background-color: #FFFFFF;
        overflow: hidden;
        /*margin-bottom: 15px;*/
    }

    .DAT01B_Title {
        color: #339933;
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none;
    }

    .DAT01B_Desc {
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;
        color: #535353;
        line-height: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    .DAT01B_TRP {
        display: block;
        float: left;
        border: 0px;
        background-color: #FFF;
        width: 310px;
        /*margin-bottom: 15px;*/
        color: #333;
        text-decoration: none;
    }

    .DAT01B_TRP a, .DAT01B_TRP a:link, .DAT01B_TRP a:visited, .DAT01B_TRP a:hover, .DAT01B_TRP a:active {
        text-decoration: none;
    }

    .DAT01B_Cnt, .DAT01B_Cnt:link, .DAT01B_Cnt:visited {
        display: block;
        border: 0px;
        background-color: #FFF;
        color: #333;
        text-decoration: none;
    }

    .DAT01B_Cnt:hover, .DAT01B_Cnt:active {
        background-color: #EAEAEA;
        text-decoration: none;
    }

    .DAT01B_Cnt img {
        width: 310px;
        height: auto;
    }

    .ImgVetr {
        height: 90px;
        width: 310px;
    }

    .DAT01B_spc {
        max-width: 15px;
        width: 15px;
        padding-top: 15px;
        float: left;
    }
    /********************************************************************************/
    /***** DAT02B  ******************************************************************/
    /********************************************************************************/
    .DAT02B {
        margin: 0 auto;
        /*margin-top: 15px;*/
        width: 960px;
        /*background-color: #FFFFFF;*/
        overflow: hidden;
        /*margin-bottom: 15px;*/
    }

    .DAT02B_Title {
        color: #339933;
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none;
    }

    .DAT02B_Desc {
        width: 235px;
        font-size: 15px;
        /*padding-top: 8px;*/
        padding-bottom: 8px;
        /*padding-bottom:10px;*/
        text-decoration: none;
        color: #535353;
        line-height: 17px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        float: left;
        margin-left: 15px;
    }

    .DAT02B_TRP, .DAT02B_TRP:link, .DAT02B_TRP:visited {
        padding-bottom: 10px;
        display: block;
        float: left;
        border: 0px;
        /*background-color: #FFF;*/
        width: 310px;
        margin-top: 15px;
        color: #333;
        text-decoration: none;
    }

    .DAT02B_TRP:hover, .DAT02B_TRP:active {
        background-color: #730F11
    }

    .DAT02B_TRP:hover .DAT02B_Desc, .DAT02B_TRP:active .DAT02B_Desc {
        color: #FFF;
    }

    .DAT02B_TRP a, .DAT02B_TRP a:link, .DAT02B_TRP a:visited, .DAT02B_TRP a:hover, .DAT02B_TRP a:active {
        text-decoration: none;
    }

    .DAT02B_Cnt_mon {
        width: 50px;
        height: 18px;
        min-width: 50px;
        min-height: 18px;
        float: left;
        vertical-align: top;
        color: #FFF;
        line-height: 18px;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
    }

    .DAT02B_Cnt_date {
        width: 50px;
        height: 22px;
        min-width: 50px;
        min-height: 22px;
        vertical-align: bottom;
        float: left;
        color: #FFF;
        line-height: 22px;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
    }


    .DAT02B_Cnt {
        display: block;
        border: 0px;
        background-color: #0a2550;
        color: #333;
        text-decoration: none;
        float: left;
        width: 50px;
        height: 45px;
        min-width: 50px;
        min-height: 45px;
        text-align: center;
        padding-top: 5px;
    }
    /*.DAT02B_Cnt:hover, .DAT02B_Cnt:active {
	background-color: #EAEAEA;
	text-decoration:none;
}*/
    .DAT02B_spc {
        max-width: 15px;
        float: left;
    }
    /********************************************************************************/
    /***** LSS01B  ******************************************************************/
    /********************************************************************************/
    .LSS01B {
        padding: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .LSS01B_NoUnderline {
        text-decoration: none;
    }

    .LSS01B_LayBoxTitle {
        /*background-color: #002c52;*/
        background-image: url(/SiteImgTemp/NewsSFX.jpg);
        background-repeat: no-repeat;
        background-position: left;
        background-color: #6acedd;
        padding-top: 8px;
        padding-right: 10px;
        padding-bottom: 8px;
        padding-left: 10px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .LSS01B_Row {
        border-bottom: solid 1px #b4b3b3;
        clear: both;
        overflow: hidden;
        height: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0px;
        margin-left: 0;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        cursor: pointer;
    }

    .LSS01B_Row:hover {
        background-color: #EAEAEA;
        cursor: pointer;
    }

    .LSS01B_Item {
        margin: 0px;
        border: 0px;
        overflow: hidden;
        cursor: pointer;
        height: 100%;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .LSS01B_Item:hover {
        text-decoration: none;
    }

    .LSS01B_ImgThumb {
        float: left;
        padding: 0px;
        border: 0px;
        width: 100px;
        display: inline;
        margin-top: 0;
        margin-right: 10px;
        margin-bottom: 0;
        margin-left: 0;
        background-color: #FFFFFF;
        text-align: center;
        height: 100px;
    }

    .LSS01B_ImgThumb img {
        border: 0px;
        width: 100px;
        height: 100px;
    }

    .LSS01B_LayText {
        float: left;
        margin: 0px;
        border: 0px;
        text-decoration: none;
        display: inline;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        width: 190px;
    }

    .LSS01B_LayTextAll {
        float: left;
        margin: 0px;
        border: 0px;
        text-decoration: none;
        display: inline;
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 0px;
        padding-left: 10px;
    }


    .LSS01B_LayTitolo {
        padding: 0 0 2px 0;
    }

    .LSS01B_LayDesc {
        padding: 0 0 3px 0;
    }

    .LSS01B_TitoloBox {
        font-family: 'Open Sans',sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: normal;
        line-height: 16px;
        /*cursor:pointer;*/
    }

    .LSS01B_Titolo, .LSS01B_Titolo:link, .LSS01B_Titolo:visited, .LSS01B_Titolo:hover, .LSS01B_Titolo:active {
        font-family: 'Open Sans',sans-serif;
        font-size: 16px;
        color: #730F11
        font-weight: normal;
        line-height: 18px;
        cursor: pointer;
    }

    .LSS01B_Testo, .LSS01B_Testo:link, .LSS01B_Testo:visited, .LSS01B_Testo:hover, .LSS01B_Testo:active {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #5C5E5F;
        line-height: 16px;
        cursor: pointer;
    }
    /********************************************************************************/
    /***** LSS01C  ******************************************************************/
    /********************************************************************************/
    .LSS01C {
        padding: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .LSS01C table {
        width: 100%;
    }

    .LSS01C_NoUnderline {
        text-decoration: none;
    }

    .LSS01C_LayBoxTitle {
        background-color: #730F11;
        padding-top: 15px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-left: 10px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .LSS01C_Row {
        border-bottom: solid 1px #b4b3b3;
        clear: both;
        overflow: hidden;
        height: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0px;
        margin-left: 0;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        cursor: pointer;
    }

    .LSS01C_Row:hover {
        background-color: #EAEAEA;
    }

    .LSS01C_Item {
        margin: 0px;
        border: 0px;
        overflow: hidden;
        cursor: pointer;
        height: 100%;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .LSS01C_Item:hover {
        text-decoration: none;
    }

    .LSS01C_ImgThumb {
        float: left;
        padding: 0px;
        border: 0px;
        width: 100px;
        display: inline;
        margin-top: 0;
        margin-right: 10px;
        margin-bottom: 0;
        margin-left: 0;
        background-color: #FFFFFF;
        text-align: center;
        height: 100px;
    }

    .LSS01C_ImgThumb img {
        border: 0px;
        width: 100px;
        height: 100px;
    }

    .LSS01C_LayText {
        float: left;
        margin: 0px;
        border: 0px;
        text-decoration: none;
        display: inline;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        width: 530px;
    }

    .LSS01C_LayTextAll {
        float: left;
        margin: 0px;
        border: 0px;
        text-decoration: none;
        display: inline;
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 0px;
        padding-left: 10px;
    }


    .LSS01C_LayTitolo {
        padding: 0 0 2px 0;
    }

    .LSS01C_LayDesc {
        padding: 0.5rem 0 3px 0;
        line-height: 1;
    }

    .LSS01C_LayBox {
        padding: 0 0 3px 0;
        margin-top: 10px;
    }

    .LSS01C_LayBox_Ev {
        float: left;
        padding-top: 0px;
        padding-left: 5px;
        padding-right: 10px;
        padding-bottom: 0px;
        margin-right: 10px;
        background-color: #339933;
        display: inline-block;
        vertical-align: middle;
    }

    .LSS01C_LayBox_Ev_img {
        float: left;
    }

    .LSS01C_LayBox_Ev_Txt {
        float: left;
        line-height: 25px;
        vertical-align: middle;
    }

    .LSS01C_LayBox_Dt {
        float: left;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        margin-right: 10px;
        background-color: #e6e6e6;
        display: inline-block;
        vertical-align: middle;
    }

    .LSS01C_TitoloBox {
        font-size: 21px;
        text-decoration: none;
        color: #FFF;
        line-height: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    .LSS01C_Titolo, .LSS01C_Titolo:link, .LSS01C_Titolo:visited, .LSS01C_Titolo:hover, .LSS01C_Titolo:active {
        font-family: 'Open Sans',sans-serif;
        font-size: 16px;
        color: #730F11
        font-weight: normal;
        line-height: 18px;
        cursor: pointer;
    }

    .LSS01C_Titolo.bold {
        font-weight: bold;
    }

    .LSS01C_Testo, .LSS01C_Testo:link, .LSS01C_Testo:visited, .LSS01C_Testo:hover, .LSS01C_Testo:active {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #5C5E5F;
        line-height: 1;
        cursor: pointer;
    }

    .LSS01C_LayBox_Ev, .LSS01C_LayBox_Ev:link, .LSS01C_LayBox_Ev:visited, .LSS01C_LayBox_Ev:hover, .LSS01C_LayBox_Ev:active {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #FFF;
        line-height: 20px;
        cursor: pointer;
    }

    .LSS01C_LayBox_Dt, .LSS01C_LayBox_Dt:link, .LSS01C_LayBox_Dt:visited, .LSS01C_LayBox_Dt:hover, .LSS01C_LayBox_Dt:active {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #5C5E5F;
        line-height: 16px;
        cursor: pointer;
    }
    /********************************************************************************/
    /***** LSS01D  ******************************************************************/
    /********************************************************************************/
    .LSS01D {
        padding: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .LSS01D_NoUnderline {
        text-decoration: none;
    }

    .LSS01D_LayBoxTitle {
        background-color: $blue;
        padding-top: 15px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-left: 10px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .LSS01D_Row {
        border-bottom: solid 1px #b4b3b3;
        clear: both;
        overflow: hidden;
        height: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0px;
        margin-left: 0;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        cursor: pointer;
    }

    .LSS01D_Row:hover {
        background-color: #EAEAEA;
    }

    .LSS01D_Item {
        margin: 0px;
        border: 0px;
        overflow: hidden;
        cursor: pointer;
        height: 100%;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .LSS01D_Item:hover {
        text-decoration: none;
    }

    .LSS01D_ImgThumb {
        float: left;
        padding: 0px;
        border: 0px;
        width: 100px;
        display: inline;
        margin-top: 0;
        margin-right: 10px;
        margin-bottom: 0;
        margin-left: 0;
        background-color: #FFFFFF;
        text-align: center;
        height: 100px;
    }

    .LSS01D_ImgThumb img {
        border: 0px;
        width: 100px;
        height: 100px;
    }

    .LSS01D_LayText {
        float: left;
        margin: 0px;
        border: 0px;
        text-decoration: none;
        display: inline;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        /*width: 530px;*/
    }

    .LSS01D_LayTextAll {
        float: left;
        margin: 0px;
        border: 0px;
        text-decoration: none;
        display: inline;
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 0px;
        padding-left: 10px;
    }


    .LSS01D_LayTitolo {
        padding: 0 0 2px 0;
    }

    .LSS01D_LayDesc {
        padding: 0 0 3px 0;
    }

    .LSS01D_LayBox {
        padding: 0 0 3px 0;
        margin-top: 10px;
    }

    .LSS01D_LayBox_Ev {
        float: left;
        padding-top: 0px;
        padding-left: 5px;
        padding-right: 10px;
        padding-bottom: 0px;
        margin-right: 10px;
        background-color: #339933;
        display: inline-block;
        vertical-align: middle;
    }

    .LSS01D_LayBox_Ev_img {
        float: left;
    }

    .LSS01D_LayBox_Ev_Txt {
        float: left;
        line-height: 25px;
        vertical-align: middle;
    }

    .LSS01D_LayBox_Dt {
        float: left;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        margin-right: 10px;
        background-color: #e6e6e6;
        display: inline-block;
        vertical-align: middle;
    }

    .LSS01D_TitoloBox {
        font-size: 21px;
        text-decoration: none;
        color: #FFF;
        line-height: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    .LSS01D_Titolo, .LSS01D_Titolo:link, .LSS01D_Titolo:visited, .LSS01D_Titolo:hover, .LSS01D_Titolo:active {
        font-family: 'Open Sans',sans-serif;
        font-size: 16px;
        color: #730F11
        font-weight: normal;
        line-height: 18px;
        cursor: pointer;
    }

    .LSS01D_Testo, .LSS01D_Testo:link, .LSS01D_Testo:visited, .LSS01D_Testo:hover, .LSS01D_Testo:active {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #5C5E5F;
        line-height: 16px;
        cursor: pointer;
    }

    .LSS01D_LayBox_Ev, .LSS01D_LayBox_Ev:link, .LSS01D_LayBox_Ev:visited, .LSS01D_LayBox_Ev:hover, .LSS01D_LayBox_Ev:active {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #FFF;
        line-height: 20px;
        cursor: pointer;
    }

    .LSS01D_LayBox_Dt, .LSS01D_LayBox_Dt:link, .LSS01D_LayBox_Dt:visited, .LSS01D_LayBox_Dt:hover, .LSS01D_LayBox_Dt:active {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #5C5E5F;
        line-height: 16px;
        cursor: pointer;
    }
    /********************************************************************************/
    /***** LSS01E  ******************************************************************/
    /********************************************************************************/
    .LSS01E {
        padding: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .LSS01E_NoUnderline {
        text-decoration: none;
    }

    .LSS01E_LayBoxTitle {
        /*background-color: #002c52;*/
        background-image: url(/SiteImgTemp/NewsSFX.jpg);
        background-repeat: no-repeat;
        background-position: left;
        background-color: #6acedd;
        padding-top: 8px;
        padding-right: 10px;
        padding-bottom: 8px;
        padding-left: 10px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .LSS01E_Row {
        border-bottom: solid 1px #b4b3b3;
        clear: both;
        overflow: hidden;
        height: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0px;
        margin-left: 0;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        cursor: pointer;
    }

    .LSS01E_Row:hover {
        background-color: #EAEAEA;
        cursor: pointer;
    }

    .LSS01E_Item {
        margin: 0px;
        border: 0px;
        overflow: hidden;
        cursor: pointer;
        height: 100%;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .LSS01E_Item:hover {
        text-decoration: none;
    }

    .LSS01E_ImgThumb {
        float: left;
        padding: 0px;
        border: 0px;
        width: 100px;
        display: inline;
        margin-top: 0;
        margin-right: 10px;
        margin-bottom: 0;
        margin-left: 0;
        background-color: #FFFFFF;
        text-align: center;
        height: 100px;
    }

    .LSS01E_ImgThumb img {
        border: 0px;
        width: 100px;
        height: 100px;
    }

    .LSS01E_LayText {
        float: left;
        margin: 0px;
        border: 0px;
        text-decoration: none;
        display: inline;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        width: 290px;
    }

    .LSS01E_LayTextAll {
        float: left;
        margin: 0px;
        border: 0px;
        text-decoration: none;
        display: inline;
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 0px;
        padding-left: 10px;
    }


    .LSS01E_LayTitolo {
        padding: 0 0 2px 0;
    }

    .LSS01E_LayDesc {
        padding: 0 0 3px 0;
    }

    .LSS01E_TitoloBox {
        font-family: 'Open Sans',sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: normal;
        line-height: 16px;
        /*cursor:pointer;*/
    }

    .LSS01E_Titolo, .LSS01E_Titolo:link, .LSS01E_Titolo:visited, .LSS01E_Titolo:hover, .LSS01E_Titolo:active {
        font-family: 'Open Sans',sans-serif;
        font-size: 16px;
        color: #730F11
        font-weight: normal;
        line-height: 18px;
        cursor: pointer;
    }

    .LSS01E_Testo, .LSS01E_Testo:link, .LSS01E_Testo:visited, .LSS01E_Testo:hover, .LSS01E_Testo:active {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #5C5E5F;
        line-height: 16px;
        cursor: pointer;
    }
    /********************************************************************************/
    /***** PAGDL dataList Pager *****************************************************/
    /********************************************************************************/
    .PAGDL {
        padding: 0px;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 10px;
        /*background-color: #F2F2F2;*/
        min-height: 30px;
    }

    .PAGDL_LayInnerCont {
        display: flex;
        justify-content: center;
        padding: 0px;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        min-height: 30px;
    }

    .PAGDL_LayItemCell {
        float: left;
        padding-right: 15px;
        padding-left: 15px;
        height: 30px;
    }

    .PAGDL_LabelText {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #333333;
        line-height: 30px;
    }

    .PAGDL_DropDownList {
        color: #333333;
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px;
        border: 1px inset #333333;
        margin-top: 6px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        height: 15px;
    }

    .PAGDL_LinkButton, .PAGDL_LinkButton:link, .PAGDL_LinkButton:visited {
        cursor: pointer;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: #FFFFFF !important;
        text-decoration: none;
        background-color: #666666;
        padding: 2px 10px;
        margin: 6px 2px 4px 2px;
        text-align: center;
        border: 1px outset;
        display: inline-block;
    }

    .PAGDL_LinkButton:hover, .PAGDL_LinkButton:active {
        background-color: #333333;
    }
    /********************************************************************************/
    /***** SMN01B Responsive Menu ***************************************************/
    /********************************************************************************/
    #SMN01B {
        list-style: none;
        padding: 0px;
        margin: 0px;
        display: block;
    }

    .SMN01B_container {
        float: right;
        margin-top: 28px;
    }

    #SMN01B li {
        display: table-cell;
        position: relative;
        float: left;
        margin-top: 14px;
        margin-right: 5px;
        margin-bottom: 14px;
        margin-left: 5px;
    }

    #SMN01B li ul {
        display: none;
    }

    #SMN01B li a {
        display: block;
        font-size: 15px;
        /*font-family: Arial, Helvetica, sans-serif;*/
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        text-decoration: none;
        white-space: nowrap;
        color: #898989;
        padding: 5px 5px;
    }

    #SMN01B li a:hover {
        background: #53b2c1;
        color: #FFF;
    }

    #SMN01B li:hover ul {
        display: block;
        position: absolute;
    }

    #SMN01B li:hover li {
        float: none;
    }

    #SMN01B li:hover a {
        background: #53b2c1;
        color: #FFF;
    }
    /*#SMN01B li:hover li a:hover {background: #000;}*/
    #SMN01B li ul li {
        border-top: 0px;
    }
    /* Sub-SMN01B */
    #SMN01B ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        top: 27px;
        left: 0;
        z-index: 99999;
        background-color: #3f4041;
        /*background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);*/
        /*-moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);*/
        /*-moz-border-radius: 5px;
    border-radius: 5px;*/
    }

    #SMN01B ul ul {
        top: 0;
        left: 150px;
    }

    #SMN01B ul li {
        float: none;
        height: 30px;
        margin: 0;
        padding: 0;
        display: block;
        text-align: left;
        /*-moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;*/
    }

    #SMN01B ul li:last-child {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    #SMN01B ul a {
        padding: 10px;
        height: 10px;
        /*width: 130px;*/
        min-width: 150px;
        height: auto;
        line-height: 10px;
        display: block;
        white-space: nowrap;
        float: none;
        text-transform: none;
        font-family: 'Open Sans', sans-serif;
    }

    html #SMN01B ul a /* IE6 */ {
        height: 10px;
    }

    *:first-child + html #SMN01B ul a /* IE7 */ {
        height: 10px;
    }

    #SMN01B ul a:hover {
        /*background: #1ea4d2;
	background: -moz-linear-gradient(#04acec,  #0186ba);
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);*/
        background: #730F11
        background: -moz-linear-gradient(#348c9a, #348c9a);
        background: -webkit-gradient(linear, left top, left bottom, from(#348c9a), to(#348c9a));
        background: -webkit-linear-gradient(#348c9a, #348c9a);
        background: -o-linear-gradient(#348c9a, #348c9a);
        background: -ms-linear-gradient(#348c9a, #348c9a);
        background: linear-gradient(#348c9a, #348c9a);
    }

    #SMN01B ul li:first-child > a {
        /*-moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;*/
    }
    /*#SMN01B ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #6e6f70;
}

#SMN01B ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}*/
    #SMN01B ul li:first-child a:hover:after {
        border-bottom-color: #6e6f70;
    }

    #SMN01B ul ul li:first-child a:hover:after {
        border-right-color: #6e6f70;
        border-bottom-color: transparent;
    }


    #SMN01B ul li:last-child > a {
        /*-moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;*/
    }
    /* Clear floated elements */
    #SMN01B:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    * html #SMN01B {
        zoom: 1;
    }
    /* IE6 */
    *:first-child + html #SMN01B {
        zoom: 1;
    }
    /* IE7 */
    .slicknav_menu {
        display: none;
        z-index: 9999;
    }
    /********************************************************************************/
    /***** SMN02B Filter Menù *********************************************************/
    /********************************************************************************/
    .SMN02B {
        width: 300px;
        padding: 0px;
        border: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
        border-bottom: solid 1px #ddd;
    }

    .SMN02B_LayTitolo {
        width: 100%;
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 10px;
        margin-top: 5px;
        margin-right: 0px;
        margin-bottom: 5px;
        margin-left: 0px;
        background-image: url(/SiteImgTemp/NewsSFX.jpg);
        background-position: left;
        background-color: #6acedd;
        background-repeat: no-repeat;
    }

    .SMN02B_LayElenco {
        background-color: #b3b2b2;
    }

    .SMN02B_TxtTitolo {
        font-family: 'Open Sans',sans-serif;
        font-size: 18px;
        line-height: 20px;
        text-decoration: none;
        font-weight: 400;
        color: #FFFFFF;
    }

    .SMN02B_List a, .SMN02B_List a:link, .SMN02B_List a:visited {
        font-family: Arial, Helvetica, sans-serif;
        color: #5C5E5F;
        font-size: 14px;
        line-height: 15px;
        cursor: pointer;
        display: block;
        background-repeat: no-repeat;
        background-position: right center;
        text-decoration: none;
        background-color: #FFFFFF;
        background-image: url(/SiteImg/ArrowGREEN1.png);
        padding-top: 5px;
        padding-right: 30px;
        padding-bottom: 5px;
        padding-left: 16px;
        border-top: solid 1px #ddd;
    }

    .SMN02B_List a:hover, .SMN02B_List a:active {
        background-repeat: no-repeat;
        background-position: right center;
        background-color: #E9E9E9;
        color: #5C5E5F;
        background-image: url(/SiteImg/ArrowGREEN1.png);
    }
    /********************************************************************************/
    /***** SMN03C  ******************************************************************/
    /********************************************************************************/
    .SMN03C {
        width: 100%;
        padding: 0px;
        border: 0px;
        /*margin-top: 20px;*/ /*DEBUG*/
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
        border-bottom: solid 1px #ddd;
    }

    .SMN03C_LayTitolo {
        max-width: 100%;
        /*background-color: #339933;*/
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 10px;
        margin-top: 5px;
        margin-right: 0px;
        margin-bottom: 5px;
        margin-left: 0px;
    }

    .SMN03C_LayElenco {
        background-color: #b3b2b2;
    }

    .SMN03C_TxtTitolo {
        font-family: 'Raleway',sans-serif;
        font-size: 18px;
        line-height: 20px;
        text-decoration: none;
        font-weight: 400;
        color: #FFFFFF;
    }

    .SMN03C_List a, .SMN03C_List a:link, .SMN03C_List a:visited {
        font-family: Arial, Helvetica, sans-serif;
        color: #5C5E5F;
        font-size: 14px;
        line-height: 16px;
        cursor: pointer;
        display: block;
        background-repeat: no-repeat;
        background-position: right center;
        text-decoration: none;
        background-color: #FFFFFF;
        background-image: url(/SiteImg/ArrowGREEN1.png);
        padding-top: 5px;
        padding-right: 30px;
        padding-bottom: 7px;
        padding-left: 15px;
        border-top: solid 1px #ddd;
    }

    .SMN03C_List a:hover, .SMN03C_List a:active {
        background-repeat: no-repeat;
        background-position: right center;
        background-color: #E9E9E9;
        color: #5C5E5F;
        background-image: url(/SiteImg/ArrowGREEN1.png);
    }
    /*************************************************************************/
    /* SMN04B - SiteMenu                                                      */
    /*************************************************************************/
    #SMN04B {
    }

    #SMN04B #content {
        clear: left;
        width: 100%;
        z-index: 10;
    }

    #SMN04B_LayList {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        border: 1px solid #FFF;
        border-width: 0 1px 1px;
        z-index: 100;
    }

    #SMN04B_LayList ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    #SMN04B_LayList > li {
        float: left;
        background: #dedfde;
        position: relative;
        border-top: 1px solid #FFF;
    }

    #SMN04B_LayList li a {
        border-top: 1px solid #eaeaea;
    }

    #SMN04B_LayList li.sub {
        background: #eaeaea url(/SiteImg/Bkg_Bt_Off.png) no-repeat 98%;
        text-indent: 5px;
    }

    #SMN04B_LayList li, #SMN04B_LayList li a {
        display: block;
        color: #268e9e;
        font-family: Arial, helvetica, sans-serif;
        font-size: 17px;
        line-height: 28px;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
        text-indent: 0px;
        /*font-weight:bold;*/
    }

    #SMN04B_LayList li ul li a {
        display: block;
        color: #268e9e;
        font-family: Arial, helvetica, sans-serif;
        font-size: 15px;
        line-height: 17px;
        padding-top: 4px;
        padding-bottom: 4px;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
        /*text-indent:5px;*/
        /*font-weight:bold;*/
    }


    #SMN04B_LayList li ul li a .SMN04B_InText {
        padding-left: 20px;
        padding-right: 20px;
    }

    #SMN04B_LayList ul, #SMN04B_LayList li.click ul ul, #SMN04B_LayList li.click ul li.hover ul ul {
        display: none;
    }

    #SMN04B_LayList li.hover {
        color: #FFF;
        z-index: 500;
        background: #4ebdce url(/SiteImg/Bkg_Bt_On.png) no-repeat 98%;
    }

    #SMN04B_LayList li.click {
        color: #FFF;
        z-index: 500;
        background: #4ebdce url(/SiteImg/Bkg_Bt_On.png) no-repeat 98%;
        background-position: bottom;
    }

    #SMN04B_LayList li.click ul {
        display: block;
    }

    #SMN04B_LayList li.click ul li a {
        /*text-indent:20px;*/
        color: #5C5E5F;
    }

    #SMN04B_LayList li.click ul li {
        background: #FFF url(/SiteImg/Bkg_SubBt_Off.png) no-repeat 98%;
    }

    #SMN04B_LayList li.click ul li.hover {
        background: #dedfde url(/SiteImg/Bkg_SubBt_On.png) no-repeat 98%;
    }


    #SMN04B img {
        display: block;
        float: right;
    }

    #SMN04B p {
        margin: 0px;
        padding: 20px 0 0 0;
        color: #000;
        font-size: 15px;
        font-family: arial, sans-serif;
        text-align: justify;
    }

    #SMN04B_LayList li.NoHover {
        background: #eaeaea;
        text-indent: 5px;
    }

    #SMN04B_LayList li.NoHover:hover {
        color: #FFF;
        z-index: 500;
        background: #4ebdce;
    }

    #SMN04B_LayList li.NoHover:hover a {
        color: #FFF;
        z-index: 500;
        background: #4ebdce;
    }
    /********************************************************************************/
    /***** SMN07D Site Menù *********************************************************/
    /********************************************************************************/
    .SMN07D {
        width: 100%;
        padding: 0px;
        border: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .SMN07D_LayTitolo {
        /*width:530px;*/
        background-color: #2cb1c4;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 5px;
        margin-left: 0px;
    }

    .SMN07D_LayElenco {
        background-color: #b3b2b2;
        margin-bottom: 10px;
    }

    .SMN07D_TxtTitolo {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: normal;
    }

    .SMN07D_List a, .SMN07D_List a:link, .SMN07D_List a:visited {
        font-family: Arial, Helvetica, sans-serif;
        color: #666;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        display: block;
        background-repeat: no-repeat;
        background-position: left center;
        text-decoration: none;
        background-color: #FFFFFF;
        background-image: url(/SiteImg/ArrowGR1.png);
        padding-top: 3px;
        padding-right: 0px;
        padding-bottom: 5px;
        padding-left: 20px;
    }

    .SMN07D_List a:hover, .SMN07D_List a:active {
        background-repeat: no-repeat;
        background-position: left center;
        background-color: #2cb1c4;
        color: #FFFFFF;
        background-image: url(/SiteImg/ArrowWHT.png);
    }
    /********************************************************************************/
    /***** LSS01A  ******************************************************************/
    /********************************************************************************/
    .LSS01A {
        padding: 0;
        margin: 0px;
    }

    .LSS01A_NoUnderline {
        text-decoration: none;
    }

    .LSS01A_LayBoxTitle {
        width: 650px;
        background-color: #CC0000;
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 10px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    .LSS01A_TxtBoxTitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: #FFFFFF;
    }

    .LSS01A_Row {
        width: 600px;
        background-color: Transparent;
        border-top: solid 1px #b4b3b3;
        padding: 0px;
        clear: both;
        overflow: hidden;
        height: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 0;
        background-image: url(/SiteFoundry/LSS01A/Bkg_Off.gif);
        background-repeat: no-repeat;
        background-position: right top;
    }

    .LSS01A_Row:hover {
        background-image: url(/SiteFoundry/LSS01A/Bkg_On.gif);
        background-repeat: no-repeat;
        background-position: right top;
    }

    .LSS01A_Item {
        margin: 0px;
        border: 0px;
        overflow: hidden;
        cursor: pointer;
        height: 100%;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .LSS01A_Item:hover {
        text-decoration: none;
    }

    .LSS01A_ImgThumb {
        float: left;
        padding: 0px;
        border: 0px;
        width: 90px;
        display: inline;
        margin-top: 0;
        margin-right: 10px;
        margin-bottom: 0;
        margin-left: 0;
        background-color: #FFFFFF;
        text-align: center;
        height: 90px;
    }

    .LSS01A_ImgThumb img {
        border: 0px;
    }

    .LSS01A_LayText {
        float: left;
        padding: 0px;
        margin: 0px;
        border: 0px;
        text-decoration: none;
        display: inline;
        width: 450px;
    }

    .LSS01A_LayTitolo {
        padding: 0 0 3px 0;
    }

    .LSS01A_LayDesc {
        padding: 0 0 3px 0;
    }

    .LSS01A_Titolo, .LSS01A_Titolo:link, .LSS01A_Titolo:visited, .LSS01A_Titolo:hover, .LSS01A_Titolo:active {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #CC0000;
        font-weight: bold;
    }

    .LSS01A_Testo, .LSS01A_Testo:link, .LSS01A_Testo:visited, .LSS01A_Testo:hover, .LSS01A_Testo:active {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #333333;
    }
    /*************** Block SOCIAL ***************/
    #social_block {
    }

    #social_block li {
        padding-left: 0px !important;
        margin: 5px 3px;
        font-size: 0px;
        float: left;
        text-indent: -999px;
        min-height: 22px;
    }

    #social_block li.facebook {
        background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -1px -53px transparent;
        transition-duration: 300ms;
    }

    #social_block li.facebook:hover {
        background-position: -1px -80px;
    }

    #social_block li a {
        display: block;
        text-indent: -9999px;
        height: 25x;
        min-height: 25px;
        width: 25px;
    }

    #social_block li.twitter {
        background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -1px -106px transparent;
        transition-duration: 300ms;
    }

    #social_block li.twitter:hover {
        background-position: -1px -132px;
    }

    #social_block li.Foursquare {
        background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -2px -1px transparent;
        transition-duration: 300ms;
    }

    #social_block li.Foursquare:hover {
        background-position: -2px -27px;
    }

    #social_block li.googleplus {
        background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -1px -159px transparent;
        transition-duration: 300ms;
    }

    #social_block li.googleplus:hover {
        background-position: -1px -185px;
    }

    #social_block li.youtube {
        background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -1px -266px transparent;
        transition-duration: 300ms;
    }

    #social_block li.youtube:hover {
        background-position: -1px -292px;
    }

    #social_block li.skype {
        background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -1px -213px transparent;
        transition-duration: 300ms;
    }

    #social_block li.skype:hover {
        background-position: -1px -239px;
    }

    #social_block li.pinterest {
        background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -1px -319px transparent;
        transition-duration: 300ms;
    }

    #social_block li.pinterest:hover {
        background-position: -1px -347px;
    }

    #social_block li.linkedin {
        background: url("/SiteImg/sprite_pict_social_block.png") no-repeat scroll -1px -373px transparent;
        transition-duration: 300ms;
    }

    #social_block li.linkedin:hover {
        background-position: -1px -400px;
    }
    /********************************************************************************/
    /***** HIC Html Input Controls **************************************************/
    /********************************************************************************/
    /*.HIC_Button1, .HIC_Button1:link, .HIC_Button1:visited {
    cursor: pointer;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #333333;
    margin: 2px;
    text-align: center;
    border: 1px outset;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
}

.HIC_Button1:hover, .HIC_Button1:active {
    background-color: #666666;
}

.HIC_CheckBox1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: normal;
}

.HIC_Dropdown1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px;
    height: 22px;
    border-style: solid;
    border-width: 1px;
    border-color: #888888 #bbbbbb #bbbbbb #888888;
    background-color: #FFFFFF;
}


.HIC_GridView1 {
    margin: 5px 0 10px 0;
    border-collapse: collapse;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #999999;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #999999;
}

.HIC_GridView1 td {
    color: #333333;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
    font-size: 12px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999999;
}

.HIC_GridView1 td a { /* Bottoni Link 
    cursor: pointer;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    text-decoration: underline;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.HIC_GridView1 td a:hover { /* Bottoni Link 
    background-color: #333333;
    color: #FFFFFF;
}

.HIC_GridView1 th { /* Header 
    padding: 4px 2px;
    background-color: #CCCCCC;
    font-size: 11px;
    color: #333333;
    border: 1px solid #999999;
}

.HIC_GridView1 th a {
    color: #333333;
    text-decoration: underline;
    font-weight: bold;
}

.HIC_GridView1 th a:hover {
    color: #FFFFFF;
    text-decoration: underline;
    background-color: #333333;
}

.HIC_GridView1 .gvAltRow {
    background-color: #F0F0F0;
}

.HIC_GridView1 .gvSelRow {
    background-color: #CCCCCC;
}

.HIC_GridView1 .gvButton1 a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #333333;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px outset;
}

.HIC_GridView1 .gvButton1 a:hover {
    color: #FFFFFF;
    background-color: #666666;
}

.HIC_GridView1 .gvPager {
    background-color: #FFFFFF;
}

.HIC_GridView1 .gvPager table {
    margin: 5px 0;
    background-color: #FFFFFF;
}



.HIC_GridView1 .gvPager td {
    font-weight: bold;
    color: #333333;
    line-height: 12px;
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-left: 6px;
    background-color: #FFFFFF;
    margin: 20px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.HIC_GridView1 .gvPager a {
    color: #333333;
    text-decoration: none;
    background-color: #CCCCCC;
    padding-top: 3px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-left: 7px;
}

.HIC_GridView1 .gvPager a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #333333;
    padding-top: 3px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-left: 7px;
}



.HIC_HyperLinkCorpoTesto1, .HIC_HyperLinkCorpoTesto1:link, .HIC_HyperLinkCorpoTesto1:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    cursor: pointer;
    text-decoration: underline;
    font-weight: normal;
}

.HIC_HyperLinkCorpoTesto1:hover, .HIC_HyperLinkCorpoTesto1:active {
    color: #FFFFFF;
    background-color: #333333;
}

.HIC_HyperLinkButton1, .HIC_HyperLinkButton1:link, .HIC_HyperLinkButton1:visited {
    cursor: pointer;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #333333;
    margin: 2px;
    text-align: center;
    border: 1px outset;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
}

.HIC_HyperLinkButton1:hover, .HIC_HyperLinkButton1:active {
    background-color: #666666;
}

.HIC_LabelCorpoTesto1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #636b73;
    text-decoration: none;    
}

.HIC_LabelCorpoTesto1 a:link, .HIC_LabelCorpoTesto1 a:visited {
    color: #333333;
    text-decoration: underline;
}

.HIC_LabelCorpoTesto1 a:hover, .HIC_LabelCorpoTesto1 a:active, .HIC_LabelCorpoTesto1 a:focus {
    color: #FFFFFF;
    text-decoration: underline;
    background-color: #333333;
}

.HIC_LabelNote1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
    font-weight: normal;
}

.HIC_LabelNote1 a:link, .HIC_LabelNote1 a:visited {
    color: #333333;
    text-decoration: underline;
}

.HIC_LabelNote1 a:hover, .HIC_LabelNote1 a:active, .HIC_LabelNote1 a:focus {
    color: #FFFFFF;
    text-decoration: underline;
    background-color: #333333;
}

.HIC_LabelFieldDescription1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: normal;
}

.HIC_LabelFieldValue1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: normal;
}

.HIC_LabelTitolo1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
}

.HIC_LabelValidazione1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FF0000;
}

.HIC_LinkButton1, .HIC_LinkButton1:link, .HIC_LinkButton1:visited {
    cursor: pointer;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #333333;
    margin: 2px;
    text-align: center;
    border: 1px outset;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
}

.HIC_LinkButton1:hover, .HIC_LinkButton1:active {
    background-color: #666666;
}

.HIC_RadioButton1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: normal;
}

.HIC_TextBox1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px;
    height: 13px;
    border-style: solid;
    border-width: 1px;
    border-color: #888888 #bbbbbb #bbbbbb #888888;
    background-color: #FFFFFF;
}

.HIC_TextBoxMultiline1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #888888 #bbbbbb #bbbbbb #888888;
    background-color: #FFFFFF;
}

.HIC_Validator1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #F00;
}*/
    /********************************************************************************/
    /***** Responsive for Tablet - 768 px Layout  ***********************************/
    /********************************************************************************/
    @media screen and (min-width: 768px) and (max-width: 959px) {

        .AG01A_Block {
            width: 748px;
        }

        .LAY01A_AreaPageTitle {
            /*height: 120px;*/
            width: 768px;
            /*padding-top: 50px;*/
        }

        .LAY01A_AreaMenu {
            width: 768px;
            min-height: 54px;
        }

        .LAY01A_PageTitle {
            width: 738px;
            padding-top: 13px;
            padding-bottom: 0px;
            padding-left: 30px;
            padding-right: 0px;
        }

        .LAY01A_ContentBox {
            width: 768px;
        }

        .LAY01A_ContentBoxHP {
            width: 768px;
        }

        .LAY01A_AreaBanner {
            width: 768px;
        }

        .LAY01A_Content1 {
            /*width: 510px;*/
        }

        .LAY01A_Content2 {
            /*width: 238px;*/
        }

        .HEA01 {
            width: 708px;
            height: 130px;
        }

        .HEA01B_AreaHeader {
            width: 768px;
        }

        .HEA01B_AreaHeader_Desc {
            width: 70%;
        }

        .HEA01B_AreaHeader_MenuTop {
            width: 30%;
        }


        .DAT02B {
            width: 768px;
        }

        .DAT02B_Desc {
            width: 180px;
            font-size: 14px;
        }

        .DAT02B_TRP, .DAT02B_TRP:link, .DAT02B_TRP:visited {
            width: 246px;
        }


        .FOO01A {
            width: 768px;
        }

        .FOO01A_NavMenu1 {
            width: 110px;
        }

        .FOO01A_NavMenu2 {
            width: 205px;
        }

        .FOO01A_Disclaimer {
            width: 285px;
            margin-right: 10px;
        }

        .SMN01B {
            width: 768px;
        }

        .LSS01B_LayText {
            width: 490px;
        }

        .LSS01E_LayText {
            width: 228px;
        }

        .js #SMN01B_Menu {
            display: none;
        }

        .js .slicknav_menu {
            display: block;
            position: absolute;
            right: 0;
        }

        .HEA01B_AreaHeader_menu_resp {
            width: 568px;
            height: 90px;
            float: left;
            position: relative;
        }

        .HEA01B_AreaHeader_menu {
            display: none;
        }


        .DAT01B {
            width: 768px;
        }

        .DAT01B_TRP {
            width: 246px;
        }

        .DAT01B_Cnt img {
            width: 246px;
            /*height:71px;*/
        }
    }
    /********************************************************************************/
    /***** Responsive for Tablet & Smartphone - 600 px Layout  **********************/
    /********************************************************************************/
    @media screen and (min-width: 600px) and (max-width: 767px) {

        .AG01A_Block {
            width: 560px;
            padding-left: 0px;
            padding-right: 0px;
        }

        .LAY01A_AreaPageTitle {
            /*height: 120px;*/
            width: 600px;
            /*padding-top: 50px;*/
        }

        .LAY01A_AreaMenu {
            width: 600px;
            min-height: 54px;
        }

        .LAY01A_PageTitle {
            width: 570px;
            padding-top: 13px;
            padding-bottom: 0px;
            padding-left: 30px;
            padding-right: 0px;
        }

        .LAY01A_ContentBox {
            width: 600px;
            /*padding-left: 20px;
	padding-top: 20px;*/
        }

        .LAY01A_ContentBoxHP {
            width: 600px;
        }

        .LAY01A_AreaBanner {
            width: 600px;
        }

        .LAY01A_Content1 {
            /*width: 600px;
        margin: 0px;*/
        }

        .LAY01A_Content2 {
            /*width: 600px;
        float: left;*/
        }

        .HEA01 {
            width: 560px;
            padding-right: 20px;
            padding-left: 20px;
            height: 130px;
        }

        .FOO01A {
            width: 600px;
        }

        .FOO01A_NavMenu1 {
            width: 120px;
        }

        .FOO01A_NavMenu2 {
            width: 200px;
        }

        .FOO01A_Disclaimer {
            width: 250px;
            margin-right: 10px;
        }

        .FOO01A_LogoArea {
            width: 170px;
        }

        .DAT02B {
            width: 600px;
        }

        .DAT02B_Desc {
            width: 135px;
            font-size: 11px;
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .DAT02B_TRP, .DAT02B_TRP:link, .DAT02B_TRP:visited {
            width: 190px;
        }

        .DAT02B_Cnt {
            width: 40px;
            height: 35px;
            min-width: 40px;
            min-height: 35px;
        }

        .DAT02B_Cnt_date {
            width: 40px;
            height: 18px;
            min-width: 40px;
            min-height: 18px;
            vertical-align: bottom;
            line-height: 18px;
            font-size: 16px;
        }

        .DAT02B_Cnt_mon {
            width: 40px;
            height: 18px;
            min-width: 40px;
            min-height: 18px;
            line-height: 16px;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
        }

        .HEA01B_AreaHeader {
            width: 600px;
            /*overflow:hidden;*/
        }

        .HEA01B_AreaHeader_Desc {
            width: 600px;
        }

        .HEA01B_AreaHeader_MenuTop {
            width: 600px;
        }



        .SMN01B {
            width: 600px;
        }

        .LSS01B_LayText {
            width: 370px;
        }

        .LSS01E_LayText {
            width: 580px;
        }

        .js #SMN01B_Menu {
            display: none;
        }

        .js .slicknav_menu {
            display: block;
            position: absolute;
            right: 0;
        }

        .HEA01B_AreaHeader_menu_resp {
            width: 400px;
            height: 90px;
            float: left;
            position: relative;
        }

        .HEA01B_AreaHeader_menu {
            display: none;
        }

        .DAT01B {
            width: 600px;
        }

        .DAT01B_TRP {
            width: 190px;
        }

        .DAT01B_Cnt img {
            width: 190px;
            /*height: 47px;*/
        }
    }
    /********************************************************************************/
    /***** Responsive for Smartphone - 480 px Layout  *******************************/
    /********************************************************************************/
    @media screen and (max-width: 599px) {


        .AG01A_Block {
            /*width: 440px;*/
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
        }

        .LAY01A_AreaPageTitle {
            /*height: 120px;*/
            /*width: 480px;*/
            /*padding-top: 50px;*/
            width: 100%;
        }

        .LAY01A_AreaMenu {
            /*width: 480px;*/
            min-height: 54px;
            width: 100%;
        }

        .LAY01A_PageTitle {
            /*width: 450px;*/
            padding-top: 13px;
            padding-bottom: 0px;
            padding-left: 30px;
            padding-right: 0px;
            width: 100%;
        }

        .LAY01A_ContentBox {
            /*width: 480px;*/
            /*padding-left: 20px;
	padding-top: 20px;*/
            width: 100%;
        }

        .LAY01A_ContentBoxHP {
            /*width: 480px;*/
            width: 100%;
        }

        .LAY01A_AreaBanner {
            /*width: 480px;*/
            width: 100%;
        }

        .LAY01A_Content1 {
            /*width: 480px;*/
            /*max-width: 480px;*/
            /*width: 100%;*/
        }

        .LAY01A_Content2 {
            /*width: 480px;
        max-width: 480px;*/
            /*width: 100%;*/
        }

        .HEA01 {
            /*width: 440px;*/
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
            height: 130px;
        }

        .HEA01B_AreaHeader {
            /*width: 480px;*/
            width: 100%;
        }

        .HEA01B_AreaHeader_Desc {
            /*width: 480px;*/
            width: 100%;
        }

        .HEA01B_AreaHeader_MenuTop {
            /*width: 480px;*/
            width: 100%;
        }


        .FOO01A {
            /*width: 480px;*/
            width: 100%;
        }

        .FOO01A_NavMenu1 {
            /*width: 180px;*/
            width: 100%;
            padding-bottom: 20px;
            padding-left: 0px;
        }

        .FOO01A_NavMenu2 {
            /*width: 240px;*/
            width: 100%;
            padding-bottom: 20px;
        }

        .FOO01A_NavMenu2 img {
            margin-right: 10px;
            float: left;
        }

        .FOO01A_Disclaimer {
            /*clear:left;*/
            /*width: 280px;*/
            width: 100%;
            padding-left: 0px;
            padding-bottom: 20px;
            margin: 0;
        }

        .FOO01A_LogoArea {
            /*width: 160px;*/
            width: 100%;
            /*padding-left: 20px;*/
        }

        .DAT02B {
            /*width: 415px;*/
            width: 100%;
        }

        .DAT02B_Desc {
            /*width: 180px;*/
            width: 100%;
            font-size: 14px;
        }

        .DAT02B_TRP, .DAT02B_TRP:link, .DAT02B_TRP:visited {
            /*width: 480px;*/
            width: 100%;
        }

        .SMN01B {
            /*width: 480px;*/
            width: 100%;
        }


        .LSS01E_LayText {
            /*width: 460px;*/
            width: 100%;
        }

        .js #SMN01B_Menu {
            display: none;
        }

        .js .slicknav_menu {
            display: block;
            position: absolute;
            width: 100%;
        }

        .HEA01B_AreaHeader_menu_resp {
            /*width: 280px;*/
            width: 100%;
            height: 90px;
            float: left;
            position: relative;
        }

        .HEA01B_AreaHeader_menu {
            display: none;
        }

        .DAT01B {
            /*width: 480px;*/
            width: 100%;
        }

        .DAT01B_TRP {
            /*width: 480px;*/
            width: 100%;
        }

        .DAT01B_Cnt img {
            /*width: 480px;*/
            width: 100%;
        }

        .HEA01B_AreaHeader_Desc, .HEA01B_AreaHeader_MenuTop {
            float: none;
            height: auto;
        }
    }
    /////////////////////// NUOVI /////////////////////////////////
    .TFY_Titolo1 {
        font-size: 24px;
        color: #730F11;
    }




    .ZSSM_Button01_Button,
    .ZSSM_Button01_Button:link,
    .ZSSM_Button01_Button:visited {
        background-color: $blue !important;
    }

    .ZSSM_Button01_LinkButton,
    .ZSSM_Button01_LinkButton:link,
    .ZSSM_Button01_LinkButton:visited {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        /*border: 1px solid transparent;*/
        white-space: nowrap;
        padding: 6px 12px;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        user-select: none;
        text-decoration: none;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
        background-repeat: repeat-x;
        background-position: 0 -15px;
        text-shadow: 0 1px 0 #fff;
        border-color: #ccc;
        color: #fff;
        //AGGIUNTE CUSTOM ALL'ELEMENTO DI SEGUITO
        background-color: $blue !important;
        background-image: linear-gradient(to bottom, #fff 0, $blue 100%) !important;
    }


    .TFY_Sottotitolo3 {
        color: $blue;
        font-size: 2.2rem;
    }
    /********************************************************************************/
    /***** Webinar ******************************************************************/
    /********************************************************************************/
    .iscrivitiButton {
        background: none;
        border: none;
        background-color: #730f11;
        cursor: pointer;
        color: #fff;
        padding: 10px 30px;
        font-size: 14px;
        margin-top: 30px;
    }

    .iscrivitiButton:hover {
        background-color: #7c7a79;
    }

    .labelIscrizione {
        background-color: $blue;
        color: #fff;
        padding: 10px 30px;
        font-size: 14px;
        margin-top: 30px;
    }
    //CUSTOM/////////////////////////////////////////////////
    .link {
        margin-top: 2rem;
        margin-right: 1.5rem;

        a {
            /*display: block;*/
            color: #fff !important;
            background-color: #730F11;
            text-transform: uppercase;
            text-decoration: none !important;
            font-family: $fontTitolo;
            font-size: 1.2rem;
            font-weight: bold;
            /*width: 100%;*/
            text-align: center;
            border-radius: 4%;
            padding: 0.7rem 2rem;
            @include transitionAll(0.2s, ease-in);

            @media (min-width: $break-md) {
                font-size: 1.4rem;
                padding: 1rem 2rem;
            }

            &:hover {
                background-color: $grey;
            }
        }
    }
}

