﻿@import '_variables.scss';
@import '_cookie.scss';

@import '_consiglioDirettivo.scss';
@import '_corsi.scss';
@import '_corsoDettaglio.scss';
@import '_header.scss';
@import '_footer.scss';
@import '_newsDettaglio.scss';
@import '_gallery.scss';
@import '_galleryDettaglio.scss';
/*@import '_systemMessage.scss';*/
@import '_soci.scss';
@import '_sociDettaglio.scss';
@import '_slider.scss';
@import '_boxBanner.scss';
@import '_web.scss';
@import '_pagamentoTerminato.scss';
@import '_payPal.scss';
@import '_pubblicazioni.scss';
@import '_pubblicazioneDettaglio.scss';
@import '_registrazione.scss';


body {
    /*background-size: auto 100%;*/
    background-color: #fff;

    main {
        min-height: 60rem;

        .titolo {
            h4 {
                color: $blue;
                text-align: center;
                text-transform: uppercase;
                font-size: 2.5rem;
                margin: 0;
                margin-bottom: 2rem;
            }

            hr {
                /*border: 2px solid $blue;*/
                margin: 0 auto;
            }
        }

        .introduzione {
            padding: 1rem 0 2rem 0;
        }

        &.home {
            min-height: 80rem;
            overflow: hidden;

            .chiSiamo {
                background-color: $red;
                padding: 6rem;

                .titolo {
                    h4 {
                        color: $bianco;
                        font-size: 2.4rem;
                    }
                }

                .testo {
                    background-color: $red !important;
                    color: $bianco;
                    text-align: center;
                    padding-top: 3rem;
                }
            }

            .ultimeNews {
                padding: 6rem;

                .titolo {
                    h4 {
                        color: $nero;
                    }
                }

                .news {
                    margin-top: 4rem;

                    .boxTitolo {

                        .data {
                            color: $red;
                            font-size: 1.6rem;
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        .linkNews {
                            text-decoration: none;

                            &:hover {
                                .titolo {
                                    color: $red;
                                }
                            }

                            .titolo {
                                color: $nero;
                                font-size: 2rem;
                                font-weight: bold;
                                text-transform: uppercase;
                                padding-top: 1rem;
                                @include transitionAll(0.2s, ease-in);
                            }
                        }

                        hr {
                            border: 0;
                            margin: 2rem 0;
                            margin-right: auto;
                        }
                    }

                    .testo {
                        /*margin-top: 4rem;*/
                    }
                }
            }

            .sponsor {
                .sponsorBox {
                    padding: 6rem;

                    .elencoLoghi {
                        padding-top: 2rem;

                        a {
                            display: block;
                            text-decoration: none;

                            img {
                                max-width: 100%;
                            }
                        }
                    }

                    .elencoLoghiFlex {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        flex-wrap: wrap;
                        padding-top: 2rem;

                        @media (min-width: $break-lg) {
                            flex-wrap: nowrap;
                        }

                        a {
                            display: block;
                            text-decoration: none;
                            max-width: 150px;

                            @media (min-width: $break-sm) {
                                max-width: 125px;
                            }

                            @media (min-width: $break-md) {
                                max-width: 150px;
                            }

                            @media (min-width: $break-lg) {
                                max-width: 200px;
                            }

                            img {
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}



.required {
    color: red;
}
