﻿#cookieChoiceInfo {
  background-color: #7c7a79; }
  #cookieChoiceInfo span {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700; }
  #cookieChoiceInfo a:first-of-type {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: underline; }
  #cookieChoiceInfo #cookieChoiceDismiss {
    background-color: #730F11;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: .2rem;
    color: #fff;
    line-height: 1.9rem;
    padding: .4rem .8rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700; }

section.consiglioDirettivo {
  padding: 3rem 0; }
  section.consiglioDirettivo .boxTitolo .titoloArchivio {
    font-size: 2.2rem; }
  section.consiglioDirettivo .boxContenuto h1, section.consiglioDirettivo .boxContenuto h2, section.consiglioDirettivo .boxContenuto h3, section.consiglioDirettivo .boxContenuto h4, section.consiglioDirettivo .boxContenuto h5, section.consiglioDirettivo .boxContenuto h6 {
    font-weight: bold; }
  section.consiglioDirettivo .archivio a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid gray;
    padding: 1rem 0.5rem;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    section.consiglioDirettivo .archivio a:hover {
      color: #fff;
      background-color: rgba(34, 136, 194, 0.5);
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }

section.corsi {
  padding: 3rem 0; }
  section.corsi .descrizione {
    padding-bottom: 2rem; }
  section.corsi .corso .immagineLibro img {
    border: 1px solid #dadada;
    max-width: 100%;
    padding: 0.3rem; }
  section.corsi .corso .testoLibro .volume {
    color: #7c7a79;
    font-size: 1.6rem;
    font-weight: bold; }
  section.corsi .corso .testoLibro .titolo {
    /*font-weight: bold;*/
    padding-top: 0.8rem; }
  section.corsi .corso .testoLibro .autori {
    color: black;
    font-size: 1.6rem;
    padding-top: 0.8rem; }
    section.corsi .corso .testoLibro .autori p {
      font-size: 1.6rem; }
    section.corsi .corso .testoLibro .autori a {
      color: #dadada;
      font-size: 1.6rem; }
  section.corsi .corso .testoLibro .link a {
    display: inline-block;
    color: #fff;
    background-color: #730F11;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 4%;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    @media (min-width: 768px) {
      section.corsi .corso .testoLibro .link a {
        font-size: 1.4rem;
        padding: 0.7rem 3rem; } }
    section.corsi .corso .testoLibro .link a:hover {
      background-color: #7c7a79; }

section.corsoDettaglio {
  padding: 3rem 0; }
  section.corsoDettaglio .innerBox .immagine {
    text-align: center;
    margin-bottom: 2rem;
    overflow: hidden; }
    @media (min-width: 768px) {
      section.corsoDettaglio .innerBox .immagine {
        text-align: left; } }
    section.corsoDettaglio .innerBox .immagine img {
      border: 1px solid #dadada;
      max-width: 100%;
      padding: 0.3rem; }
  section.corsoDettaglio .innerBox .introduzione .descBreve {
    padding-bottom: 1rem; }
  section.corsoDettaglio .innerBox .introduzione .listaPulsanti {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; }
    section.corsoDettaglio .innerBox .introduzione .listaPulsanti .link {
      margin-top: 2rem;
      margin-right: 1.5rem; }
      section.corsoDettaglio .innerBox .introduzione .listaPulsanti .link a {
        display: block;
        color: #fff;
        background-color: #730F11;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Oswald", sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        width: 100%;
        text-align: center;
        border-radius: 4%;
        padding: 0.7rem 2rem;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        @media (min-width: 768px) {
          section.corsoDettaglio .innerBox .introduzione .listaPulsanti .link a {
            font-size: 1.4rem;
            padding: 1rem 2rem; } }
        section.corsoDettaglio .innerBox .introduzione .listaPulsanti .link a:hover {
          background-color: #7c7a79; }
      section.corsoDettaglio .innerBox .introduzione .listaPulsanti .link.file a {
        background-color: #7c7a79; }
        section.corsoDettaglio .innerBox .introduzione .listaPulsanti .link.file a:hover {
          background-color: #730F11; }

header {
  /*background-color: rgba(235,235,235, 0.7);*/
  /*background-color: rgba(34, 136, 194, 0.9);*/
  background-color: #dadada;
  /*.navbar {
        .navbar-collapse {
            background-image: url('/asset/img/menu_bar.png');
            background-repeat: repeat-x;
            background-position: center 5.3rem;
            min-height: 7.8rem;

            .nav-item {
                background: url('/asset/img/head_btn_bg.png') no-repeat center center;
                background-size: contain;
                width: 15.85rem;

                &.active {
                    background-image: url('/asset/img/head_btn_bg_hover.png');

                    .nav-link {
                        color: #fff;
                    }
                }

                .nav-link {
                    color: $lightGrey;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 1.4rem;
                    text-align: center;
                }

                .dropdown-menu {
                    background-color: $lightGrey;
                    border: none;

                    .dropdown-item {
                        text-decoration: none;

                        &.active, &:active, &:focus, &:hover {
                            color: #212529;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }*/ }
  header .upperArea {
    padding: 1rem 0; }
    header .upperArea .logo {
      overflow: hidden;
      padding-bottom: 2rem; }
      @media (min-width: 768px) {
        header .upperArea .logo {
          padding-bottom: 0; } }
      header .upperArea .logo img {
        max-width: 100%; }
    header .upperArea .areaLink {
      width: 100%; }
      header .upperArea .areaLink a {
        display: block;
        color: #730F11;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Oswald", sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        width: 100%;
        text-align: center;
        border: 2px solid #730F11;
        border-radius: 4%;
        padding: 0.7rem 2rem;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        @media (min-width: 768px) {
          header .upperArea .areaLink a {
            font-size: 1.5rem;
            padding: 1rem 2rem; } }
        header .upperArea .areaLink a:hover {
          color: #fff;
          background-color: #730F11; }
      header .upperArea .areaLink.pazienti a {
        color: #7c7a79;
        border-color: #7c7a79; }
        header .upperArea .areaLink.pazienti a:hover {
          color: #fff;
          background-color: #7c7a79; }
  header .navbar {
    background-color: #000;
    padding-top: 0.5rem; }
    @media (min-width: 992px) {
      header .navbar {
        padding: 0; } }
    header .navbar .navbar-toggler {
      border-color: white;
      margin-bottom: 0.5rem; }
      header .navbar .navbar-toggler:focus {
        outline: none; }
      header .navbar .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
    header .navbar .navbar-collapse .navbar-nav {
      width: 100%;
      justify-content: space-between; }
      header .navbar .navbar-collapse .navbar-nav .nav-item {
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        header .navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link {
          color: #fff; }
        header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: bold;
          font-family: "Oswald", sans-serif;
          text-align: center;
          padding: 1rem 0.3rem;
          -webkit-transition: all 0.2s ease-in;
          -moz-transition: all 0.2s ease-in;
          -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }
          header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:after {
            border: none; }
        header .navbar .navbar-collapse .navbar-nav .nav-item:focus, header .navbar .navbar-collapse .navbar-nav .nav-item:hover {
          background-color: #fafafa; }
          header .navbar .navbar-collapse .navbar-nav .nav-item:focus .nav-link, header .navbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
            color: #000; }
        header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
          background-color: #fff;
          border: none;
          text-align: center;
          padding: 0;
          margin: 0; }
          @media (min-width: 992px) {
            header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
              text-align: left; } }
          header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
            color: #7c7a79;
            font-size: 1.5rem;
            font-family: "Oswald", sans-serif;
            text-decoration: none;
            border-bottom: 1px solid #dadada;
            border-left: 0 solid #000;
            border-right: 3px solid rgba(255, 255, 255, 0);
            padding: 0.8rem 1.5rem;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in; }
            header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item.active, header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:active, header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:focus, header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
              color: #000;
              border-left: 3px solid #000;
              border-right: 0 solid rgba(255, 255, 255, 0);
              -webkit-transition: all 0.2s ease-in;
              -moz-transition: all 0.2s ease-in;
              -o-transition: all 0.2s ease-in;
              transition: all 0.2s ease-in; }

footer {
  background-color: #1f1f1f; }
  footer ul {
    list-style-type: none; }
  footer .upperArea {
    padding: 2rem 0; }
    @media (min-width: 768px) {
      footer .upperArea {
        padding: 5rem 0; } }
    footer .upperArea .logo img {
      max-width: 100%; }
    footer .upperArea .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding-top: 1rem; }
      @media (min-width: 768px) {
        footer .upperArea .menu {
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          padding-top: 0;
          padding-left: 3rem; } }
      footer .upperArea .menu .itemLink {
        text-align: center; }
        @media (min-width: 768px) {
          footer .upperArea .menu .itemLink:first-child a {
            padding-left: 0; }
          footer .upperArea .menu .itemLink:last-child a {
            padding-right: 0; } }
        footer .upperArea .menu .itemLink a {
          color: #fff;
          font-size: 1.5rem;
          font-weight: bold;
          font-family: "Oswald", sans-serif;
          text-decoration: none;
          text-transform: uppercase;
          padding: 0 1.5rem;
          -webkit-transition: all 0.2s ease-in;
          -moz-transition: all 0.2s ease-in;
          -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }
          footer .upperArea .menu .itemLink a:hover {
            color: #730f11; }
  footer .lowerArea {
    background-color: #000;
    padding: 1.5rem 0; }
    footer .lowerArea .info {
      color: #fff;
      font-size: 1.4rem;
      /*font-weight: bold;*/
      text-align: center; }
      @media (min-width: 768px) {
        footer .lowerArea .info {
          text-align: left; } }
      footer .lowerArea .info a {
        color: #fff;
        font-size: 1.4rem;
        /*font-weight: bold;*/
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        footer .lowerArea .info a:hover {
          color: #730f11; }
    footer .lowerArea .menuPrivacy {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
      margin-bottom: 0; }
      @media (min-width: 768px) {
        footer .lowerArea .menuPrivacy {
          justify-content: flex-end;
          padding-top: 0; } }
      footer .lowerArea .menuPrivacy li a {
        color: #fff;
        font-size: 1.4rem;
        font-weight: bold;
        text-decoration: none;
        /*padding: 0 0.5rem;*/
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        footer .lowerArea .menuPrivacy li a:after {
          content: "|";
          color: #fff;
          font-size: 1.4rem;
          padding: 0 0.5rem; }
        footer .lowerArea .menuPrivacy li a:hover {
          color: #730f11;
          text-decoration: underline; }
      footer .lowerArea .menuPrivacy li:last-child a {
        padding-right: 0; }
        footer .lowerArea .menuPrivacy li:last-child a:after {
          content: none; }

/*footer {
    position: relative;
    width: 100%;
    padding: 20px 0;
    background-color: #d2d9de;
    text-align: center;
}

footer img {
    float: none;
    position: relative;
    width: 60%;
    height: auto;
    margin: auto;
    display: block;
    clear: both;
    margin-bottom: 20px;
}

footer p {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    color: #444;
    display: block;
    clear: both;
    padding: 0 20px;
}

footer ul {
    width: 100%;
    position: relative;
    display: inline;
    padding: 0px;
    text-align: center;
    padding: 0 20px;
}

footer ul li {
    position: relative;
    display: inline;
    margin: 0 6px;
}

footer a {
    font-size: 1.4rem;
    color: #1d76ba;
    text-decoration: underline;
    white-space: nowrap;
}

@media (min-width: 768px) {
    footer img {
        width: 360px;
    }
}

@media (min-width: 992px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer img {
        margin-top: 30px;
        margin-left: 20px;
        width: 280px;
    }

    footer p {
        width: auto;
    }

    footer ul {
        width: auto;
        min-width: 30%;
        text-align: right;
        display: inline-block;
    }
}*/
section.newsDettaglio {
  padding: 3rem 0; }
  section.newsDettaglio .innerBox .immagine {
    text-align: center;
    margin-bottom: 2rem;
    overflow: hidden; }
    @media (min-width: 992px) {
      section.newsDettaglio .innerBox .immagine {
        text-align: left; } }
    section.newsDettaglio .innerBox .immagine img {
      border: 1px solid #dadada;
      max-width: 100%;
      padding: 0.3rem; }

section.gallery {
  padding: 3rem 0; }
  section.gallery .descrizione {
    padding-bottom: 2rem; }
  section.gallery .galleryItem .immagineLibro img {
    border: 1px solid #dadada;
    max-width: 100%;
    padding: 0.3rem; }
  section.gallery .galleryItem .testoLibro .volume {
    color: #7c7a79;
    font-size: 1.6rem;
    font-weight: bold; }
  section.gallery .galleryItem .testoLibro .titolo {
    padding-top: 0.8rem; }
  section.gallery .galleryItem .testoLibro .autori {
    color: #dadada;
    font-size: 1.6rem;
    padding-top: 0.8rem; }
    section.gallery .galleryItem .testoLibro .autori p {
      font-size: 1.6rem; }
  section.gallery .galleryItem .testoLibro .link a {
    display: inline-block;
    color: #fff;
    background-color: #730F11;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 4%;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    @media (min-width: 768px) {
      section.gallery .galleryItem .testoLibro .link a {
        font-size: 1.4rem;
        padding: 0.7rem 3rem; } }
    section.gallery .galleryItem .testoLibro .link a:hover {
      background-color: #7c7a79; }

section.galleryDettaglio {
  padding: 3rem 0; }
  section.galleryDettaglio .innerBox .immagine {
    text-align: center;
    margin-bottom: 2rem;
    overflow: hidden; }
    @media (min-width: 768px) {
      section.galleryDettaglio .innerBox .immagine {
        text-align: left; } }
    section.galleryDettaglio .innerBox .immagine img {
      border: 1px solid #dadada;
      max-width: 100%;
      padding: 0.3rem; }
  section.galleryDettaglio .innerBox .elencoFoto {
    padding-top: 2rem; }
    section.galleryDettaglio .innerBox .elencoFoto .foto .immagine {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 300px;
      border: none;
      cursor: pointer;
      margin: 0 0.2rem;
      overflow: hidden; }
      section.galleryDettaglio .innerBox .elencoFoto .foto .immagine .fotoLinkGallery {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        border: none;
        cursor: pointer;
        margin: 0 0.2rem;
        overflow: hidden; }
        section.galleryDettaglio .innerBox .elencoFoto .foto .immagine .fotoLinkGallery.verticalImg {
          flex-direction: column; }
          section.galleryDettaglio .innerBox .elencoFoto .foto .immagine .fotoLinkGallery.verticalImg img {
            width: 100%;
            height: auto; }
        section.galleryDettaglio .innerBox .elencoFoto .foto .immagine .fotoLinkGallery.horizontalImg img {
          width: auto;
          height: 100%; }
        section.galleryDettaglio .innerBox .elencoFoto .foto .immagine .fotoLinkGallery img {
          max-width: none;
          width: auto;
          height: 100%;
          border: none;
          -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in; }

/*@import '_systemMessage.scss';*/
section.soci {
  padding: 3rem 0; }
  section.soci .filtro {
    background-color: #fafafa;
    border-top: 4px solid #EBEBEB;
    margin-top: 1rem;
    padding: 2rem 1.5rem; }
    section.soci .filtro .titoletto {
      color: #730F11;
      font-size: 2.2rem;
      font-weight: bold;
      margin-top: 2rem;
      padding-left: 1rem;
      padding-bottom: 1rem; }
    section.soci .filtro input[type="text"] {
      height: 5rem;
      width: 100%;
      border: 1px solid #dadada;
      border-radius: 3%;
      padding: 1rem; }
    section.soci .filtro select {
      height: 5rem;
      width: 100%;
      border: 1px solid #dadada;
      border-radius: 3%;
      padding: 1rem; }
    section.soci .filtro .link a[id$="Cerca_Button"] {
      display: inline-block;
      color: #fff;
      background-color: #730F11;
      text-transform: uppercase;
      text-decoration: none;
      font-family: "Oswald", sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      border-radius: 4%;
      margin-top: 2rem;
      padding: 0.7rem 2rem;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
      @media (min-width: 768px) {
        section.soci .filtro .link a[id$="Cerca_Button"] {
          font-size: 1.4rem;
          padding: 1.2rem 3rem; } }
      section.soci .filtro .link a[id$="Cerca_Button"]:hover {
        background-color: #7c7a79; }
  section.soci .elencoSoci {
    padding-top: 2rem; }
    section.soci .elencoSoci .socio {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 3rem; }
      section.soci .elencoSoci .socio .logo {
        max-width: 80px;
        border: 2px solid #dadada;
        border-radius: 100%;
        overflow: hidden; }
        section.soci .elencoSoci .socio .logo img {
          max-width: 100%;
          border: 3px solid #fff;
          border-radius: 100%; }
      section.soci .elencoSoci .socio .contenuto {
        padding-left: 2rem; }
        section.soci .elencoSoci .socio .contenuto .nome {
          color: #730F11;
          font-size: 2.4rem;
          font-weight: bold;
          text-transform: uppercase;
          padding: 0; }
          section.soci .elencoSoci .socio .contenuto .nome .onorario {
            font-family: "Oswald", sans-serif;
            font-size: 1.4rem; }
        section.soci .elencoSoci .socio .contenuto .link {
          color: #dadada;
          text-decoration: none;
          -webkit-transition: all 0.2s ease-in;
          -moz-transition: all 0.2s ease-in;
          -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }
          section.soci .elencoSoci .socio .contenuto .link:hover {
            text-decoration: underline; }
  section.soci .paginazione {
    text-align: center;
    padding-top: 5rem; }
    section.soci .paginazione .pagina p {
      font-size: 1.5rem; }
    section.soci .paginazione .pager {
      padding-top: 1.5rem; }
      section.soci .paginazione .pager .elementoSelezionato {
        color: #2492D1;
        font-weight: bold; }
      section.soci .paginazione .pager a {
        font-weight: bold;
        text-decoration: none;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        section.soci .paginazione .pager a:hover {
          color: #2492D1; }
        section.soci .paginazione .pager a.aspNetDisabled {
          color: #dadada; }

/*.mappaItalia {
        position: relative;
        left: 0;
        top: 0;
        height: auto;
        max-width: 50rem;
        margin: 3rem auto;

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        img.baseClear {
            position: relative;
            left: 0;
            top: 0;
            z-index: 100;
        }

        img.map {
            position: absolute;
            left: 0;
            top: 0;
        }

        img.regione {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
        }
    }*/
section.sociDettaglio {
  padding: 3rem 0; }
  section.sociDettaglio .boxDati {
    padding: 2rem 0; }
    section.sociDettaglio .boxDati .immagine {
      max-width: 200px;
      border: 2px solid #dadada;
      border-radius: 100%;
      margin: 0 auto;
      overflow: hidden; }
      section.sociDettaglio .boxDati .immagine img {
        max-width: 100%;
        width: 100%;
        border: 3px solid #fff;
        border-radius: 100%; }
    section.sociDettaglio .boxDati .elencoDati .row {
      text-align: center; }
      @media (min-width: 768px) {
        section.sociDettaglio .boxDati .elencoDati .row {
          text-align: left; } }
    section.sociDettaglio .boxDati .elencoDati .titolo {
      color: #730F11;
      font-size: 1.6rem;
      font-weight: bold; }
    section.sociDettaglio .boxDati .elencoDati .valore {
      padding-bottom: 2rem; }
  section.sociDettaglio .boxContenuti {
    padding-top: 3rem; }

main.home .slider {
  position: relative;
  width: 100%;
  margin-bottom: 0 !important;
  overflow: hidden; }
  main.home .slider .boxSlide {
    position: relative;
    width: 100%;
    height: auto; }
    main.home .slider .boxSlide .immagine {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-height: 40rem;
      overflow: hidden;
      /*@media (min-width: $break-lg) {
                    max-height: 50rem;
                }*/ }
      @media (min-width: 768px) {
        main.home .slider .boxSlide .immagine {
          max-height: 50rem; } }
      @media (min-width: 1200px) {
        main.home .slider .boxSlide .immagine {
          max-height: 60rem; } }
      main.home .slider .boxSlide .immagine img {
        max-width: none;
        width: auto; }
      main.home .slider .boxSlide .immagine .foregroundOpaco {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3); }
    main.home .slider .boxSlide .boxTesto {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
      main.home .slider .boxSlide .boxTesto .contentContainer {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #fff;
        text-decoration: none; }
        main.home .slider .boxSlide .boxTesto .contentContainer .container {
          position: relative; }
          main.home .slider .boxSlide .boxTesto .contentContainer .container .innerBox {
            text-align: center;
            padding: 0 3rem; }
            main.home .slider .boxSlide .boxTesto .contentContainer .container .innerBox .data {
              color: #fff;
              font-size: 1.5rem;
              font-weight: bold;
              text-transform: uppercase;
              margin: 0; }
            main.home .slider .boxSlide .boxTesto .contentContainer .container .innerBox .testo {
              color: #fff;
              font-size: 2rem;
              font-weight: bold;
              text-transform: uppercase;
              margin: 0;
              padding-top: 1.5rem; }
              @media (min-width: 768px) {
                main.home .slider .boxSlide .boxTesto .contentContainer .container .innerBox .testo {
                  font-size: 2.3rem; } }
            main.home .slider .boxSlide .boxTesto .contentContainer .container .innerBox .titolo {
              color: #fff;
              text-transform: none;
              font-weight: bold;
              font-size: 3rem;
              margin: auto;
              padding-top: 1.5rem; }
              @media (min-width: 768px) {
                main.home .slider .boxSlide .boxTesto .contentContainer .container .innerBox .titolo {
                  font-size: 4rem; } }
              @media (min-width: 992px) {
                main.home .slider .boxSlide .boxTesto .contentContainer .container .innerBox .titolo {
                  max-width: 50rem; } }
            main.home .slider .boxSlide .boxTesto .contentContainer .container .innerBox .link {
              margin-top: 5rem; }
              main.home .slider .boxSlide .boxTesto .contentContainer .container .innerBox .link a {
                display: inline-block;
                color: #fff;
                background-color: rgba(255, 255, 255, 0);
                text-transform: uppercase;
                text-decoration: none;
                font-family: "Oswald", sans-serif;
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
                border: 2px solid #fff;
                border-radius: 4%;
                padding: 0.7rem 2.5rem;
                -webkit-transition: all 0.2s ease-in;
                -moz-transition: all 0.2s ease-in;
                -o-transition: all 0.2s ease-in;
                transition: all 0.2s ease-in; }
                @media (min-width: 768px) {
                  main.home .slider .boxSlide .boxTesto .contentContainer .container .innerBox .link a {
                    font-size: 1.4rem;
                    padding: 1rem 2rem; } }
                main.home .slider .boxSlide .boxTesto .contentContainer .container .innerBox .link a:hover {
                  color: #730F11;
                  background-color: #fff; }
      main.home .slider .boxSlide .boxTesto .arrowContainer {
        position: relative; }
        main.home .slider .boxSlide .boxTesto .arrowContainer .sliderArrow {
          position: absolute;
          top: -20rem;
          height: 40rem;
          display: flex;
          cursor: pointer;
          z-index: 900; }
          main.home .slider .boxSlide .boxTesto .arrowContainer .sliderArrow.leftArrow {
            display: none !important;
            left: 0.5rem;
            z-index: 1000; }
            @media (min-width: 768px) {
              main.home .slider .boxSlide .boxTesto .arrowContainer .sliderArrow.leftArrow {
                display: inline !important;
                left: -0.5rem; } }
            @media (min-width: 1200px) {
              main.home .slider .boxSlide .boxTesto .arrowContainer .sliderArrow.leftArrow {
                left: -2.5rem; } }
          main.home .slider .boxSlide .boxTesto .arrowContainer .sliderArrow.rightArrow {
            display: none !important;
            right: 0.5rem;
            z-index: 1000; }
            @media (min-width: 768px) {
              main.home .slider .boxSlide .boxTesto .arrowContainer .sliderArrow.rightArrow {
                display: inline !important;
                right: -0.5rem; } }
            @media (min-width: 1200px) {
              main.home .slider .boxSlide .boxTesto .arrowContainer .sliderArrow.rightArrow {
                right: -2.5rem; } }
          main.home .slider .boxSlide .boxTesto .arrowContainer .sliderArrow i, main.home .slider .boxSlide .boxTesto .arrowContainer .sliderArrow svg, main.home .slider .boxSlide .boxTesto .arrowContainer .sliderArrow i:hover, main.home .slider .boxSlide .boxTesto .arrowContainer .sliderArrow svg:hover {
            color: #fff;
            height: 100%;
            font-size: 4rem !important;
            opacity: 0.5; }
  main.home .slider .slick-dots {
    bottom: 3rem; }
    main.home .slider .slick-dots li {
      width: 12px;
      height: 12px; }
      main.home .slider .slick-dots li button {
        width: 12px;
        height: 12px;
        border: none;
        border-radius: 100%;
        background-color: #7c7a79;
        opacity: 0.5; }
        main.home .slider .slick-dots li button:before {
          content: ''; }
      main.home .slider .slick-dots li.slick-active button {
        background-color: #fff; }

main.home .boxBanner {
  padding: 6rem 0; }
  main.home .boxBanner .row {
    margin: 0 -0.75rem; }
    main.home .boxBanner .row div[class^="col"] {
      margin-top: 1.5rem;
      padding: 0 0.75rem; }
      main.home .boxBanner .row div[class^="col"]:nth-child(1) {
        margin-top: 0; }
      @media screen and (min-width: 768px) {
        main.home .boxBanner .row div[class^="col"]:nth-child(2) {
          margin-top: 0; } }
      main.home .boxBanner .row div[class^="col"] a.box {
        display: block;
        position: relative;
        text-decoration: none; }
        main.home .boxBanner .row div[class^="col"] a.box:hover .wrapperTesto {
          background-color: rgba(0, 0, 0, 0.7); }
          main.home .boxBanner .row div[class^="col"] a.box:hover .wrapperTesto .testo {
            color: #fff; }
          main.home .boxBanner .row div[class^="col"] a.box:hover .wrapperTesto .titolo {
            color: #fff; }
        main.home .boxBanner .row div[class^="col"] a.box .immagine {
          width: 100%; }
          main.home .boxBanner .row div[class^="col"] a.box .immagine img {
            max-width: 100%; }
        main.home .boxBanner .row div[class^="col"] a.box .wrapperTesto {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: rgba(255, 255, 255, 0.7);
          text-align: center;
          padding: 3rem 2rem;
          transition: all 0.3s ease-in-out; }
          main.home .boxBanner .row div[class^="col"] a.box .wrapperTesto .testo {
            color: #7c7a79;
            font-weight: bold;
            letter-spacing: .1rem;
            transition: all 0.3s ease-in-out; }
          main.home .boxBanner .row div[class^="col"] a.box .wrapperTesto .titolo {
            color: #000;
            /*font-size: 2.4rem;*/
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            margin-top: .8rem; }

section.istituzionali .innerBox .immagineHeadline {
  display: flex;
  justify-content: center;
  align-items: center; }
  section.istituzionali .innerBox .immagineHeadline img {
    max-width: 100%; }

section.istituzionali .innerBox .firstTitle {
  padding-top: 2rem; }

section.istituzionali .innerBox .immagine {
  text-align: center;
  margin-bottom: 2rem;
  overflow: hidden; }
  section.istituzionali .innerBox .immagine img {
    max-width: 100%; }

section.istituzionali .innerBox .richText {
  margin-bottom: 3rem; }

section.istituzionali .linkDownload {
  background-color: #EBEBEB;
  margin-top: 3rem;
  padding: 3rem 0; }
  section.istituzionali .linkDownload .richText {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    section.istituzionali .linkDownload .richText a {
      position: relative;
      display: inline-block;
      color: #730F11;
      text-decoration: none;
      font-size: 2.3rem;
      font-weight: bold;
      text-transform: uppercase; }
      section.istituzionali .linkDownload .richText a:after {
        content: url("/asset/img/download-icon.png");
        position: absolute;
        top: 3px;
        right: -30px; }
      section.istituzionali .linkDownload .richText a:hover {
        text-decoration: underline; }

section.istituzionali .sezioneBlu {
  background-color: #2492D1;
  padding: 3rem 0; }
  section.istituzionali .sezioneBlu .richText {
    color: #fff; }
    section.istituzionali .sezioneBlu .richText h1, section.istituzionali .sezioneBlu .richText h2, section.istituzionali .sezioneBlu .richText h3, section.istituzionali .sezioneBlu .richText h4, section.istituzionali .sezioneBlu .richText h5, section.istituzionali .sezioneBlu .richText h6 {
      color: #fff; }
    section.istituzionali .sezioneBlu .richText hr {
      border-top: 1px solid #dadada; }
      section.istituzionali .sezioneBlu .richText hr:before {
        border-top: 4px solid #fff; }

section.istituzionali .sezioneRossa {
  background-color: #730f11;
  padding: 3rem 0; }
  section.istituzionali .sezioneRossa .richText {
    color: #fff; }
    section.istituzionali .sezioneRossa .richText h1, section.istituzionali .sezioneRossa .richText h2, section.istituzionali .sezioneRossa .richText h3, section.istituzionali .sezioneRossa .richText h4, section.istituzionali .sezioneRossa .richText h5, section.istituzionali .sezioneRossa .richText h6 {
      color: #fff; }
    section.istituzionali .sezioneRossa .richText hr {
      border-top: 1px solid #dadada; }
      section.istituzionali .sezioneRossa .richText hr:before {
        border-top: 4px solid #fff; }

section.pagamentoTerminato {
  padding: 3rem 0; }

section.payPal {
  padding: 3rem 0; }

section.pubblicazioni {
  padding: 3rem 0; }
  section.pubblicazioni .descrizione {
    padding-bottom: 2rem; }
  section.pubblicazioni .pubblicazione .immagineLibro img {
    border: 1px solid #dadada;
    max-width: 100%;
    padding: 0.3rem; }
  section.pubblicazioni .pubblicazione .testoLibro .volume {
    color: #7c7a79;
    font-size: 1.6rem;
    font-weight: bold; }
  section.pubblicazioni .pubblicazione .testoLibro .titolo {
    /*font-weight: bold;*/
    padding-top: 0.8rem; }
  section.pubblicazioni .pubblicazione .testoLibro .autori {
    color: #dadada;
    font-size: 1.6rem;
    padding-top: 0.8rem; }
    section.pubblicazioni .pubblicazione .testoLibro .autori p {
      font-size: 1.6rem; }
  section.pubblicazioni .pubblicazione .testoLibro .link a {
    display: inline-block;
    color: #fff;
    background-color: #730F11;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    border-radius: 4%;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    @media (min-width: 768px) {
      section.pubblicazioni .pubblicazione .testoLibro .link a {
        font-size: 1.6rem;
        padding: 0.7rem 3rem; } }
    section.pubblicazioni .pubblicazione .testoLibro .link a:hover {
      background-color: #7c7a79; }

section.pubblicazioneDettaglio {
  padding: 3rem 0; }
  section.pubblicazioneDettaglio .innerBox .immagine {
    text-align: center;
    margin-bottom: 2rem;
    overflow: hidden; }
    @media (min-width: 768px) {
      section.pubblicazioneDettaglio .innerBox .immagine {
        text-align: left; } }
    section.pubblicazioneDettaglio .innerBox .immagine img {
      border: 1px solid #dadada;
      max-width: 100%;
      padding: 0.3rem; }
  section.pubblicazioneDettaglio .innerBox .introduzione .descBreve {
    padding-bottom: 1rem; }

section.registrazione {
  padding: 3rem 0; }
  section.registrazione .linkButton input {
    color: #fff;
    background-color: #730F11;
    border: none;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 4%;
    cursor: pointer;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    @media (min-width: 768px) {
      section.registrazione .linkButton input {
        font-size: 1.4rem;
        padding: 0.7rem 3rem; } }
    section.registrazione .linkButton input:hover {
      background-color: #7c7a79; }
  section.registrazione .panel1 .boxRinnova .link a {
    display: inline-block;
    color: #fff;
    background-color: #730F11;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 4%;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    @media (min-width: 768px) {
      section.registrazione .panel1 .boxRinnova .link a {
        font-size: 1.4rem;
        padding: 0.7rem 3rem; } }
    section.registrazione .panel1 .boxRinnova .link a:hover {
      background-color: #7c7a79; }
  section.registrazione .panel1 .richText {
    padding-top: 5rem; }
  section.registrazione .panel2 .labelDisplayInline label {
    display: inline !important; }

body {
  /*background-size: auto 100%;*/
  background-color: #fff; }
  body main {
    min-height: 60rem; }
    body main .titolo h4 {
      color: #730F11;
      text-align: center;
      text-transform: uppercase;
      font-size: 2.5rem;
      margin: 0;
      margin-bottom: 2rem; }
    body main .titolo hr {
      /*border: 2px solid $blue;*/
      margin: 0 auto; }
    body main .introduzione {
      padding: 1rem 0 2rem 0; }
    body main.home {
      min-height: 80rem;
      overflow: hidden; }
      body main.home .chiSiamo {
        background-color: #730f11;
        padding: 6rem; }
        body main.home .chiSiamo .titolo h4 {
          color: #fff;
          font-size: 2.4rem; }
        body main.home .chiSiamo .testo {
          background-color: #730f11 !important;
          color: #fff;
          text-align: center;
          padding-top: 3rem; }
      body main.home .ultimeNews {
        padding: 6rem; }
        body main.home .ultimeNews .titolo h4 {
          color: #000; }
        body main.home .ultimeNews .news {
          margin-top: 4rem; }
          body main.home .ultimeNews .news .boxTitolo .data {
            color: #730f11;
            font-size: 1.6rem;
            font-weight: bold;
            text-transform: uppercase; }
          body main.home .ultimeNews .news .boxTitolo .linkNews {
            text-decoration: none; }
            body main.home .ultimeNews .news .boxTitolo .linkNews:hover .titolo {
              color: #730f11; }
            body main.home .ultimeNews .news .boxTitolo .linkNews .titolo {
              color: #000;
              font-size: 2rem;
              font-weight: bold;
              text-transform: uppercase;
              padding-top: 1rem;
              -webkit-transition: all 0.2s ease-in;
              -moz-transition: all 0.2s ease-in;
              -o-transition: all 0.2s ease-in;
              transition: all 0.2s ease-in; }
          body main.home .ultimeNews .news .boxTitolo hr {
            border: 0;
            margin: 2rem 0;
            margin-right: auto; }
          body main.home .ultimeNews .news .testo {
            /*margin-top: 4rem;*/ }
      body main.home .sponsor .sponsorBox {
        padding: 6rem; }
        body main.home .sponsor .sponsorBox .elencoLoghi {
          padding-top: 2rem; }
          body main.home .sponsor .sponsorBox .elencoLoghi a {
            display: block;
            text-decoration: none; }
            body main.home .sponsor .sponsorBox .elencoLoghi a img {
              max-width: 100%; }
        body main.home .sponsor .sponsorBox .elencoLoghiFlex {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-wrap: wrap;
          padding-top: 2rem; }
          @media (min-width: 992px) {
            body main.home .sponsor .sponsorBox .elencoLoghiFlex {
              flex-wrap: nowrap; } }
          body main.home .sponsor .sponsorBox .elencoLoghiFlex a {
            display: block;
            text-decoration: none;
            max-width: 150px; }
            @media (min-width: 576px) {
              body main.home .sponsor .sponsorBox .elencoLoghiFlex a {
                max-width: 125px; } }
            @media (min-width: 768px) {
              body main.home .sponsor .sponsorBox .elencoLoghiFlex a {
                max-width: 150px; } }
            @media (min-width: 992px) {
              body main.home .sponsor .sponsorBox .elencoLoghiFlex a {
                max-width: 200px; } }
            body main.home .sponsor .sponsorBox .elencoLoghiFlex a img {
              max-width: 100%; }

.required {
  color: red; }
