﻿@import '_variables.scss';

html, body {
    max-width: 2000px;
    margin: 0 auto;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 10px;
    color: $nero;
}

form {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    margin: 0;
    color: $red;
    font-weight: 700;
    font-family: $fontTitolo;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2.5rem;
}

h6 {
    font-size: 2rem;
}

p, a, span, label, li {
    font-size: 1.8rem;
    line-height: 1.4;
    margin: 0;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-size: 1.8rem;
}

a {
    color: $grey;

    &:hover, &:focus {
        color: $grey;
        outline: none;
        text-decoration: underline;
    }
}

iframe {
    display: block;
    width: 100%;
    border: 0;
}


hr {
    position: relative;
    width: 100%;
    border: 0;
    padding: 2rem 0;

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translateX(-50%);
        width: 5rem;
        border-top: 4px solid $red;
    }

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translateX(-50%);
        width: 25rem;
        max-width: 100%;
        border-top: 1px solid $red;
        opacity: .3;
    }

    &.small-margin {
        padding: .5rem 0;
    }

    &.left-position {
        &:before {
            left: 0;
            transform: none;
        }

        &:after {
            left: 0;
            transform: none;
        }
    }

    &.bianco {
        &:before {
            border-color: $bianco;
        }

        &:after {
            border-color: $bianco;
        }
    }
}

.richText {
    font-size: 1.8rem;
    line-height: 1.681;
    font-family: $fontTesto !important;
    margin: 0;

    &.small {
        font-size: 1.5rem;
        font-family: $fontTesto !important;

        p {
            font-size: 1.5rem;
            font-family: $fontTesto !important;
        }

        span {
            font-size: 1.5rem;
            font-family: $fontTesto !important;
        }
    }
}
