﻿.corpoTesto1 {
    font-size: 1.8rem;
    line-height: 1.25;
}

.corpoTesto2 {
    font-size: 1.6rem;
    line-height: 1.25;
}


/********************************************************************************/
/***** Responsive Images ********************************************************/
/********************************************************************************/
.ImgAutoResize {
    display: block;
    max-width: 100%;
    height: auto;
}

/********************************************************************************/
/***** TITOLI PAGINE ************************************************************/
/********************************************************************************/

.TFY_PageTitle1 {
    font-size: 2rem;
    color: #333;
}

    .TFY_PageTitle1 a:link, .TFY_PageTitle1 a:visited {
        color: #333;
        text-decoration: underline;
    }

    .TFY_PageTitle1 a:hover, .TFY_PageTitle1 a:active, .TFY_PageTitle1 a:focus {
        color: #FFFFFF;
        text-decoration: underline;
        background-color: #333;
    }

.TFY_PageSubtitle1 {
    font-size: 1rem;
    color: #333;
}

    .TFY_PageSubtitle1 a:link, .TFY_PageSubtitle1 a:visited {
        color: #333;
        text-decoration: underline;
    }

    .TFY_PageSubtitle1 a:hover, .TFY_PageSubtitle1 a:active, .TFY_PageSubtitle1 a:focus {
        color: #FFFFFF;
        text-decoration: underline;
        background-color: #333;
    }

/********************************************************************************/
/***** CORPO TESTO **************************************************************/
/********************************************************************************/

.TFY_Testo1 {
    font-size: 1rem;
    color: #333;
}

    .TFY_Testo1 a:link, .TFY_Testo1 a:visited {
        color: #333;
        text-decoration: underline;
    }

    .TFY_Testo1 a:hover, .TFY_Testo1 a:active, .TFY_Testo1 a:focus {
        color: #FFFFFF;
        text-decoration: underline;
        background-color: #333;
    }

.TFY_Testo2 {
    font-size: 0.9rem;
    color: #333;
}

    .TFY_Testo2 a:link, .TFY_Testo2 a:visited {
        color: #333;
        text-decoration: underline;
    }

    .TFY_Testo2 a:hover, .TFY_Testo2 a:active, .TFY_Testo2 a:focus {
        color: #FFFFFF;
        text-decoration: underline;
        background-color: #333;
    }

.TFY_Testo3 {
    font-size: 0.8rem;
    color: #333;
}

    .TFY_Testo3 a:link, .TFY_Testo3 a:visited {
        color: #333;
        text-decoration: underline;
    }

    .TFY_Testo3 a:hover, .TFY_Testo3 a:active, .TFY_Testo3 a:focus {
        color: #FFFFFF;
        text-decoration: underline;
    }

/********************************************************************************/
/***** TITOLI *******************************************************************/
/********************************************************************************/

.TFY_Titolo1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #313233;
}

    .TFY_Titolo1 a:link, .TFY_Titolo1 a:visited {
        color: #313233;
        text-decoration: underline;
    }

    .TFY_Titolo1 a:hover, .TFY_Titolo1 a:active, .TFY_Titolo1 a:focus {
        color: #FFFFFF;
        text-decoration: underline;
        background-color: #323334;
    }

.TFY_Titolo2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #313233;
}

    .TFY_Titolo2 a:link, .TFY_Titolo2 a:visited {
        color: #313233;
        text-decoration: underline;
    }

    .TFY_Titolo2 a:hover, .TFY_Titolo2 a:active, .TFY_Titolo2 a:focus {
        color: #FFFFFF;
        text-decoration: underline;
        background-color: #323334;
    }

.TFY_Titolo3 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #313233;
}

    .TFY_Titolo3 a:link, .TFY_Titolo3 a:visited {
        color: #313233;
        text-decoration: underline;
    }

    .TFY_Titolo3 a:hover, .TFY_Titolo3 a:active, .TFY_Titolo3 a:focus {
        color: #FFFFFF;
        text-decoration: underline;
        background-color: #323334;
    }

.TFY_Titolo1Wh {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

    .TFY_Titolo1Wh a:link, .TFY_Titolo1Wh a:visited {
        color: #FFFFFF;
        text-decoration: underline;
    }

    .TFY_Titolo1Wh a:hover, .TFY_Titolo1Wh a:active, .TFY_Titolo1Wh a:focus {
        color: #333;
        text-decoration: underline;
        background-color: #FFFFFF;
    }

.TFY_Titolo2Wh {
    font-size: 1.4rem;
    font-weight: bold;
    color: #FFFFFF;
}

    .TFY_Titolo2Wh a:link, .TFY_Titolo2Wh a:visited {
        color: #FFFFFF;
        text-decoration: underline;
    }

    .TFY_Titolo2Wh a:hover, .TFY_Titolo2Wh a:active, .TFY_Titolo2Wh a:focus {
        color: #333;
        text-decoration: underline;
        background-color: #FFFFFF;
    }

.TFY_Titolo3Wh {
    font-size: 1.3rem;
    font-weight: bold;
    color: #FFFFFF;
}

    .TFY_Titolo3Wh a:link, .TFY_Titolo3Wh a:visited {
        color: #FFFFFF;
        text-decoration: underline;
    }

    .TFY_Titolo3Wh a:hover, .TFY_Titolo3Wh a:active, .TFY_Titolo3Wh a:focus {
        color: #333;
        text-decoration: underline;
        background-color: #FFFFFF;
    }

/********************************************************************************/
/***** NOTE *********************************************************************/
/********************************************************************************/

.TFY_Note1 {
    font-size: 0.8rem;
    color: #333;
}

    .TFY_Note1 a:link, .TFY_Note1 a:visited {
        color: #333;
        text-decoration: underline;
    }

    .TFY_Note1 a:hover, .TFY_Note1 a:active, .TFY_Note1 a:focus {
        color: #FFFFFF;
        text-decoration: underline;
        background-color: #333;
    }

.TFY_Note2 {
    font-size: 0.7rem;
    color: #333;
}

    .TFY_Note2 a:link, .TFY_Note2 a:visited {
        color: #333;
        text-decoration: underline;
    }

    .TFY_Note2 a:hover, .TFY_Note2 a:active, .TFY_Note2 a:focus {
        color: #FFFFFF;
        text-decoration: underline;
        background-color: #333;
    }

.TFY_Note3 {
    font-size: 0.6rem;
    color: #333;
}

    .TFY_Note3 a:link, .TFY_Note3 a:visited {
        color: #333;
        text-decoration: underline;
    }

    .TFY_Note3 a:hover, .TFY_Note3 a:active, .TFY_Note3 a:focus {
        color: #FFFFFF;
        text-decoration: underline;
        background-color: #333;
    }



/********************************************************************************/
/***** ZEUSIMAGERAIDER **********************************************************/
/********************************************************************************/

.imgRaiderBtn {
    background-color: #616161;
    color: #fff;
    width: 109px;
    height: 22px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-collapse: separate;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(0, 0, 0);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(0, 0, 0);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(0, 0, 0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: none;
    border-top-width: 0px;
    font-family: "Arial";
    font-feature-settings: normal;
    font-kerning: auto;
    font-size: 8px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: bold;
    text-align: center;
    text-align-last: auto;
    text-anchor: start;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-skip: objects;
    text-decoration-style: solid;
    text-indent: 0px;
    text-overflow: clip;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: auto;
    text-transform: none;
    text-underline-position: auto;
}


    .imgRaiderBtn:hover, .imgRaiderBtn:focus {
        background-color: #8C8C8C;
    }

.imgNascosta {
    display: none;
}
