﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="FindAndReplaceAll.aspx.cs" Inherits="Zeus_SiteAdmin_FindAndReplaceAll" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        
    <div>
    
        <asp:Label ID="Label1" runat="server" Text="Sotituisci: "></asp:Label>
    
        <asp:TextBox ID="StringaDaSostituire" runat="server"></asp:TextBox>
     <p>
            <asp:Label ID="Label2" runat="server" Text="Con: "></asp:Label>
    
        <asp:TextBox ID="NuovaStringa" runat="server"></asp:TextBox>
        </p>
    </div>
        <p>
            <asp:Label ID="Label3" runat="server" Text="La stringa verrà sostituita in tutte le tabelle del DB "/>
        </p>
        <p>
            <asp:CheckBox ID="ConfermaCB" runat="server" Text="Conferma" />
        </p>
        <p>
            <asp:Button ID="Button1" runat="server" Text="Sostituisci" OnClick="Button1_Click" />
        </p>
        <p>
            &nbsp;</p>
    </form>
</body>
</html>
