<%@ Page Language="C#" Theme="Zeus" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

</script>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
<title>Redirecting...</title>
   
</head>
<body>
    <form id="authCookie" runat="server">
    <div style="text-align: center">
    <dlc:loginredirect ID="LoginRedirect1" runat="server" />
        <br />
        <br />
        <br />
        Redirezione in corso...<br />
        <br />
        <a href="/it/Login/Login.aspx">&gt; Login &lt;</a></div>
    </form>
</body>
</html>


