﻿<%@ Page Language="C#" MasterPageFile="~/Master/LayoutAreaSoci.master" ValidateRequest="true" Buffer="true" CodeFile="Login.aspx.cs" Inherits="Login_Login" %>

<%@ Register Src="Login.ascx" TagName="Login" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Robots" runat="Server">
    <meta name="robots" content="noindex,follow" />
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="AreaTitle" runat="Server">
    Accesso area riservata
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="AreaContentMain" runat="Server">
    <div class="container">

        <uc1:Login ID="Login1" runat="server" />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>
</asp:Content>
