﻿<%@ Page Language="C#" ContentType="text/html" ResponseEncoding="utf-8" %>



<script runat="server">

    [System.Web.Services.WebMethod]
    
    public static bool SaveNewOrderSQL(string values)
    {
        String strConnessione = System.Configuration.ConfigurationManager.ConnectionStrings["ZeusConnectionString"].ConnectionString;

        string sqlQuery = string.Empty;

        using (System.Data.SqlClient.SqlConnection connection = new System.Data.SqlClient.SqlConnection(
           strConnessione))
        {



            try
            {
                connection.Open();
                System.Data.SqlClient.SqlCommand command = connection.CreateCommand();


                char[] delimiters = new char[] { ';' };

                string[] parts = values.Split(delimiters);
                string ids = "";
                //sqlQuery = "INSERT INTO tbLocator_Photo (ID1Photo,Ordinamento) VALUES  ";
                sqlQuery = "UPDATE tbPhotoGallery_Simple SET Ordinamento = CASE ID1Photo ";

                int ii = 1;
                foreach (string s in parts)
                {
                    /*if(ii!=1)
                        sqlQuery += ",";
                    sqlQuery +=" ("+s.Substring(3)+","+ii+") ";
                    ii++;*/
                    sqlQuery += "WHEN " + s.Substring(3) + " THEN " + ii + " ";
                    if (ii != 1)
                        ids += ",";
                    ids += s.Substring(3);
                    ii++;
                }
                sqlQuery += " END  WHERE ID1Photo IN (" + ids + ")";
                // sqlQuery += " ON DUPLICATE KEY UPDATE Ordinamento=VALUES(Ordinamento) ";

                //Response.Write(sqlQuery);

                command.CommandText = sqlQuery;
                command.Parameters.Clear();

                /*command.Parameters.Add("@Ordinamento", System.Data.SqlDbType.NVarChar, 4);
                command.Parameters["@Ordinamento"].Value = myMenuChange[i][1];

                command.Parameters.Add("@ID1Photo", System.Data.SqlDbType.Int, 4);
                command.Parameters["@ID1Photo"].Value = myMenuChange[i][0];*/

                command.ExecuteNonQuery();




                return true;
            }
            catch (Exception p)
            {

                //Response.Write(p.ToString());

                return false;
            }
        }//fine using
    }//fine CheckIntegrityR
    
</script>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    

</head>

<body>
    
</body>
</html>
