<%@ Control Language="C#" ClassName="zeusheaderNew" %>

<script runat="server">
  
    protected void LoginView1_ViewChanged(object sender, EventArgs e)
    {

    }
</script>
 
<div class="HEA01">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><asp:Image ID="Logo" runat="server" ImageUrl="/Zeus/SiteImg/Zeus1/Header_Logo.png" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
    <div class="HEA01_LogOut">
    <asp:LoginName ID="LoginName1" runat="server" FormatString="Utente: {0} " CssClass="HEA01_UserName" />
    <asp:LoginStatus ID="LoginStatus1" SkinID="ZSSM_Button01" runat="server" LogoutText="Esci" LogoutAction="RedirectToLoginPage" />
</div>    </td>
  </tr>
</table>

</div>
