<%@ Control Language="C#" ClassName="ZeusFooter" %>

<script runat="server">

</script>

<div class="FOO01_LayCont">
<!--<div class="FOO01_LaySubCont">-->
<div class="FOO01_LayCredits" >
  <asp:HyperLink ID="HyperLink2" ToolTip="Zeus Engine by SwitchUp" CssClass="FOO01_Credits" Target="_blank" NavigateUrl="http://www.switchup.it/Web/Zeus.asp" runat="server" Width="250" Height="100" ></asp:HyperLink>
</div>
<div class="FOO01_LayPageUp"><asp:HyperLink ID="HyperLink1" href="#" SkinID="ZSSM_Button01"  runat="server" Text="Inizio Pagina"></asp:HyperLink></div>
<!--</div>-->
</div>