﻿<%@ Page Language="C#" MasterPageFile="~/Master/LayoutAreaSoci.master" Theme="Zeus" %>

<%@ Register Src="~/UserControl/MenuSoci.ascx" TagName="Menu_Soci" TagPrefix="uc1" %>

<%@ Import Namespace="System.Data.SqlClient" %>

<script runat="server">

    string DataVerifica = "";
    public string titolo = string.Empty;

    protected void Page_Load(object sender, EventArgs e)
    {
        delinea myDelinea = new delinea();

        //if (new SertotUtility().IsCurrentUserAutenticated())
        //    Response.Redirect("/Login/Login.aspx?ReturnUrl=/AreaSoci/ModificaRinnovoQuota.aspx");


        if (string.IsNullOrEmpty(Request.QueryString["XRI"]))
            Response.Redirect("~/System/Message.aspx?0");
        XRI.Value = Request.QueryString["XRI"];



        TitleField.Value = "Modifica rinnovo iscrizione";
        titolo = "Modifica rinnovo iscrizione";
        Page.Title = "Sertot - Modifica rinnovo iscrizione";

        MembershipUser user = Membership.GetUser();
        if (!CheckUser(Request.QueryString["XRI"], user.ProviderUserKey.ToString()))
            Response.Redirect("~/");



        String strConnessione = System.Configuration.ConfigurationManager.ConnectionStrings["ZeusConnectionString"].ConnectionString;
        using (SqlConnection connection = new SqlConnection(strConnessione))
        {
            try
            {
                connection.Open();
                SqlCommand command = connection.CreateCommand();

                string sqlQuery = "SELECT [UserId], [CognomeNome] FROM [vwSoci_Lst] WHERE UserId = @UserId";
                command.CommandText = sqlQuery;
                command.Parameters.Add("@UserId", System.Data.SqlDbType.VarChar);
                command.Parameters["@UserId"].Value = user.ProviderUserKey.ToString();

                SqlDataReader reader = command.ExecuteReader();

                if (reader.Read())
                {
                    if (reader["CognomeNome"] != null)
                    {
                        var labelNomeCognomeSocio = (Label)FormView1.FindControl("NomeCognomeSocio");
                        labelNomeCognomeSocio.Text = reader["CognomeNome"].ToString();
                    }
                }
                reader.Close();
            }
            catch (Exception p)
            {
                Response.Write(p.ToString());
            }
        }
        //((DropDownList)FormView1.FindControl("DropDownListSocio")).SelectedValue = user.ProviderUserKey.ToString();
        //((DropDownList)FormView1.FindControl("DropDownListSocio")).Enabled = false;
        UID.Value = user.ProviderUserKey.ToString();


        if (DataVerifica.Length > 0)
            ((DropDownList)FormView1.FindControl("DropDownListQuota")).Enabled = false;

        //Response.Write(GetPrice(((DropDownList)FormView1.FindControl("DropDownListQuota")).SelectedItem.Value));

    } // Page_Loadn

    protected void PagamentiSqlDataSource_Updated(object sender, SqlDataSourceStatusEventArgs e)
    {
        if (e.AffectedRows == 0 || e.Exception != null)
            Response.Redirect("/System/Message.aspx?UpdateErr");

        Response.Redirect("/AreaSoci/GestioneAssociazione.aspx");

    } // PagamentiSqlDataSource_Updated

    protected void PagamentiSqlDataSource_Selected(object sender, SqlDataSourceStatusEventArgs e)
    {
        if (e.AffectedRows == 0 || e.Exception != null)
            Response.Redirect("~/System/Message.aspx?SelectErr");
    }


    protected void UtenteCreazione(object sender, EventArgs e)
    {
        HiddenField UtenteCreazione = (HiddenField)sender;
        UtenteCreazione.Value = Membership.GetUser().ProviderUserKey.ToString();

    }

    protected void DataOggi(object sender, EventArgs e)
    {
        HiddenField DataCreazione = (HiddenField)sender;
        DataCreazione.Value = DateTime.Now.GetDataItaliana();

    }//fine DataOggi

    protected void UpdateButton_Click(object sender, EventArgs e)
    {
        CheckBox ApprovatoCheckBox = (CheckBox)FormView1.FindControl("ApprovatoCheckBox");
        HiddenField VerificatoHiddenField = (HiddenField)FormView1.FindControl("VerificatoHiddenField");
        HiddenField PagamentoEurHiddenField = (HiddenField)FormView1.FindControl("PagamentoEurHiddenField");
        DropDownList DropDownListQuota = (DropDownList)FormView1.FindControl("DropDownListQuota");

        //if (ApprovatoCheckBox.Checked)
        //{

        //    if (VerificatoHiddenField.Value.ToString().Length == 0)
        //    {
        //        DateTime Data = new DateTime();
        //        Data = DateTime.Now;
        //        VerificatoHiddenField.Value = Data.ToString();
        //    }
        //}
        //else
        //{
        //    VerificatoHiddenField.Value = "";
        //}

        PagamentoEurHiddenField.Value = GetPrice(DropDownListQuota.SelectedItem.Value);
    }

    protected void ApprovatoCheckBox_DataBinding(object sender, EventArgs e)
    {

    }

    private string GetPrice(string ID1Pagina)
    {
        String strConnessione = System.Configuration.ConfigurationManager.ConnectionStrings["ZeusConnectionString"].ConnectionString;

        string sqlQuery = string.Empty;
        string myReturn = string.Empty;

        using (SqlConnection connection = new SqlConnection(
           strConnessione))
        {


            try
            {
                connection.Open();
                SqlCommand command = connection.CreateCommand();


                sqlQuery = "SELECT QuotaTotale FROM vwQuote_Lst WHERE IDQuota=@ID2QuotaCosto";
                command.CommandText = sqlQuery;
                command.Parameters.Add("@ID2QuotaCosto", System.Data.SqlDbType.Int);
                command.Parameters["@ID2QuotaCosto"].Value = ID1Pagina;

                SqlDataReader reader = command.ExecuteReader();

                while (reader.Read())
                {
                    if (reader["QuotaTotale"] != null)
                        myReturn = reader["QuotaTotale"].ToString();
                }
                reader.Close();
            }
            catch (Exception p)
            {
                Response.Write(p.ToString());
            }
        }//fine Using


        return myReturn;

    }//fine

    private Boolean CheckUser(string XRIPass, string userID)
    {
        String strConnessione = System.Configuration.ConfigurationManager.ConnectionStrings["ZeusConnectionString"].ConnectionString;

        string sqlQuery = string.Empty;
        Boolean myReturn = false;

        using (SqlConnection connection = new SqlConnection(
           strConnessione))
        {


            try
            {
                connection.Open();
                SqlCommand command = connection.CreateCommand();


                sqlQuery = "SELECT UserID,DataVerifica FROM tbQuoteAnnuali WHERE ID1QuotaAnnuale=@XRIPass";
                command.CommandText = sqlQuery;

                MembershipUser user = Membership.GetUser();

                command.Parameters.Add("@XRIPass", System.Data.SqlDbType.Int);
                command.Parameters["@XRIPass"].Value = XRIPass;

                SqlDataReader reader = command.ExecuteReader();

                while (reader.Read())
                {
                    if (reader["DataVerifica"] != null)
                        DataVerifica = ((DateTime)reader["DataVerifica"]).GetDataItaliana();

                    if (reader["UserID"] != null)
                        if (String.Compare(reader["UserID"].ToString(), userID) == 0)
                            myReturn = true;
                }
                reader.Close();
            }
            catch (Exception p)
            {
                Response.Write(p.ToString());
            }
        }//fine Using


        return myReturn;

    }//fine
</script>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="AreaTitle" runat="Server">
    <%= titolo %>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="AreaContentMain" runat="server">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <asp:HiddenField ID="TitleField" runat="server" />
                <asp:HiddenField ID="XRI" runat="server" />
                <asp:HiddenField ID="UID" runat="server" />
                <div class="LAY01A_Content1">

                    <asp:FormView ID="FormView1" runat="server" DataSourceID="SqlDataSourcePagamenti" EnableModelValidation="True" DefaultMode="Edit" RenderOuterTable="false">
                        <EditItemTemplate>
                            <div class="BlockBox">
                                <div class="BlockBoxHeader">
                                    <asp:Label ID="ZML_BoxCategoria" runat="server" Text="Pagamento"></asp:Label>
                                </div>
                                <table width="100%">
                                    <tr>
                                        <td class="BlockBoxDescription">
                                            <asp:Label ID="NRegistro" SkinID="FieldDescription" runat="server" Text="Socio"></asp:Label>
                                        </td>
                                        <td class="BlockBoxValue">
                                            <asp:Label runat="server" ID="NomeCognomeSocio" Text=""></asp:Label>

                                            <%--<asp:DropDownList AppendDataBoundItems="true" ID="DropDownListSocio" runat="server" DataSourceID="dsSocio" DataTextField="CognomeNome" DataValueField="UserId" SelectedValue='<%# Bind("UserID") %>' Enabled="false">
                                                <asp:ListItem Text="&gt;  Non inserito" Selected="True" Value="0"></asp:ListItem>
                                            </asp:DropDownList>
                                            <asp:SqlDataSource ID="dsSocio" runat="server" ConnectionString="<%$ ConnectionStrings:ZeusConnectionString %>"
                                                SelectCommand="SELECT [UserId], [CognomeNome] FROM [vwSoci_Lst] ORDER BY [CognomeNome]"></asp:SqlDataSource>--%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="BlockBoxDescription">
                                            <asp:Label ID="Label1" SkinID="FieldDescription" runat="server" Text="Quota"></asp:Label>
                                        </td>
                                        <td class="BlockBoxValue">
                                            <asp:DropDownList AppendDataBoundItems="true" ID="DropDownListQuota" runat="server" DataSourceID="dsQuota" DataTextField="DescPrezzo" DataValueField="IdQuota" SelectedValue='<%# Bind("ID2QuotaCosto") %>'>
                                                <asp:ListItem Text="&gt;  Non inserito" Selected="True" Value="0"></asp:ListItem>
                                            </asp:DropDownList>
                                            <asp:SqlDataSource ID="dsQuota" runat="server" ConnectionString="<%$ ConnectionStrings:ZeusConnectionString %>"
                                                SelectCommand="SELECT [IdQuota], [Descrizione], [Descrizione]+' - '+ CONVERT(varchar(10),[QuotaTotale]) AS [DescPrezzo]  FROM [vwQuote_Lst] ORDER BY [Descrizione]"></asp:SqlDataSource>
                                            <asp:RequiredFieldValidator ID="RequiredFieldValidator1" ErrorMessage="Obbligatorio"
                                                runat="server" ControlToValidate="DropDownListQuota" SkinID="ZSSM_Validazione01"
                                                Display="Dynamic" InitialValue="0"></asp:RequiredFieldValidator>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="BlockBoxDescription">
                                            <asp:Label ID="Label2" SkinID="FieldDescription" runat="server" Text="Tipo pagamento"></asp:Label>
                                        </td>
                                        <td class="BlockBoxValue">
                                            <asp:DropDownList Enabled="false" AppendDataBoundItems="true" ID="DropDownList1" runat="server" DataSourceID="dsMetodoPagamento" DataTextField="MetodoPagamento" DataValueField="ID1MetodoPagamento" SelectedValue='<%# Bind("ID2MetodoPagamento") %>'>
                                                <asp:ListItem Text="&gt;  Non inserito" Selected="True" Value="0"></asp:ListItem>
                                            </asp:DropDownList>
                                            <asp:SqlDataSource ID="dsMetodoPagamento" runat="server" ConnectionString="<%$ ConnectionStrings:ZeusConnectionString %>"
                                                SelectCommand="SELECT [ID1MetodoPagamento], [MetodoPagamento],[PubOrderAirespsa] FROM [tbMetodiPagamento] WHERE [PubOrderAirespsa]>0 ORDER BY [PubOrderAirespsa]"></asp:SqlDataSource>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="BlockBoxDescription">
                                            <asp:Label ID="Label5" SkinID="FieldDescription" runat="server" Text="Note"></asp:Label>
                                        </td>
                                        <td class="BlockBoxValue">
                                            <style>
                                                .TextBox {
                                                    height: auto;
                                                }
                                            </style>
                                            <asp:TextBox ID="TextBox1" runat="server" TextMode="MultiLine" Rows="5" Columns="100" CssClass="Multiline"
                                                Text='<%# Bind("NoteSocio") %>' />
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="BlockBoxDescription">
                                            <asp:Label ID="Anno" SkinID="FieldDescription" runat="server" Text="Anno"></asp:Label>
                                        </td>
                                        <td class="BlockBoxValue">
                                            <asp:TextBox ID="AnnoTextBox" runat="server" MaxLength="4" Columns="4" Enabled="false"
                                                Text='<%# Bind("Anno") %>' />
                                            <asp:RequiredFieldValidator ID="RequiredFieldValidator9" runat="server" ControlToValidate="AnnoTextBox"
                                                SkinID="ZSSM_Validazione01" Display="Dynamic" ErrorMessage="Obbligatorio"></asp:RequiredFieldValidator>
                                            <asp:RegularExpressionValidator Display="Dynamic" SkinID="ZSSM_Validazione01" ID="RegularExpressionValidator10"
                                                runat="server" ControlToValidate="AnnoTextBox" ErrorMessage="Necessario che sia numerico"
                                                ValidationExpression="^[0-9]+$"></asp:RegularExpressionValidator>
                                            <asp:RangeValidator runat="server" ID="ValidatoreMaxMin" ControlToValidate="AnnoTextBox"
                                                MinimumValue="2010" MaximumValue="2040" Type="Double" SkinID="ZSSM_Validazione01" Display="Dynamic"
                                                Text="L'anno deve essere compreso tra 2010 e 2040" />
                                        </td>
                                    </tr>


                                </table>
                                <br />
                                <asp:HiddenField ID="RecordEdtUserHiddenField" runat="server" Value='<%# Bind("RecordEdtUser", "{0}") %>'
                                    OnDataBinding="UtenteCreazione" />
                                <asp:HiddenField ID="RecordEdtDateHiddenField" Visible="false" runat="server" Value='<%# Bind("RecordEdtDate", "{0}") %>'
                                    OnDataBinding="DataOggi" />
                                <asp:HiddenField ID="PagamentoEurHiddenField" runat="server" Value='<%# Bind("PagamentoEur") %>' />
                            </div>
                            <div align="center">
                                <asp:LinkButton ID="UpdateButton" runat="server" CausesValidation="True" OnClick="UpdateButton_Click"
                                    CommandName="Update" Text="Aggiorna" SkinID="ZSSM_Button01" />
                                <%-- &nbsp;<asp:LinkButton ID="UpdateCancelButton" runat="server"
                        CausesValidation="False" CommandName="Cancel" Text="Annulla" SkinID="ZSSM_Button01" />
                    &nbsp;<asp:LinkButton ID="LinkButton1" runat="server"
                        CausesValidation="False"  Text="Indietro" SkinID="ZSSM_Button01" OnClick="LinkButton1_Click" />--%>
                            </div>
                        </EditItemTemplate>
                    </asp:FormView>
                    <asp:SqlDataSource ID="SqlDataSourcePagamenti" runat="server" ConnectionString="<%$ ConnectionStrings:ZeusConnectionString %>"
                        SelectCommand="SELECT [ID1QuotaAnnuale], [UserID], [ID2QuotaCosto], [ID2MetodoPagamento], [Anno], [NoteSocio], [PagamentoEur], [RecordEdtUser], [RecordEdtDate] FROM [tbQuoteAnnuali] WHERE ([ID1QuotaAnnuale] = @ID1QuotaAnnuale)"
                        UpdateCommand="UPDATE [tbQuoteAnnuali] SET [UserID] = @UserID, [ID2QuotaCosto] = @ID2QuotaCosto, [PagamentoEur] = @PagamentoEur, [NoteSocio]=@NoteSocio,  [ID2MetodoPagamento] = @ID2MetodoPagamento,  [Anno] = @Anno, [RecordEdtUser] = @RecordEdtUser WHERE [ID1QuotaAnnuale] = @ID1QuotaAnnuale"
                        OnUpdated="PagamentiSqlDataSource_Updated"
                        OnSelected="PagamentiSqlDataSource_Selected">

                        <SelectParameters>
                            <asp:QueryStringParameter Name="ID1QuotaAnnuale" QueryStringField="XRI" Type="Int32" />
                        </SelectParameters>
                        <UpdateParameters>
                            <asp:Parameter Name="UserID" />
                            <asp:Parameter Name="ID2QuotaCosto" Type="Int32" />
                            <asp:Parameter Name="ID2MetodoPagamento" Type="Int32" />
                            <asp:Parameter Name="Anno" Type="Int16" />
                            <asp:Parameter Name="NoteSocio" Type="String" />
                            <asp:Parameter Name="RecordEdtUser" />
                            <asp:Parameter Name="PagamentoEur" Type="Decimal" />
                            <asp:QueryStringParameter Name="ID1QuotaAnnuale" QueryStringField="XRI" Type="Int32" />
                        </UpdateParameters>
                    </asp:SqlDataSource>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="LAY01A_Content2">
                    <uc1:Menu_Soci ID="Menu_Soci1" runat="server" />
                </div>
                <div class="FloatClr"></div>
            </div>
        </div>
    </div>
</asp:Content>
