﻿


/********************************************************************************/
/***** Start Reset **************************************************************/
/********************************************************************************/

ul, ol, dl { 
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

p {
	font-weight: normal;
	margin: 0;
}

a img { 
	border: none;
}

@import "Variables.less";

@import "JqueryUI.less";
/******************************************************************************/
/***** JqueryUI.less Edit zone ************************************************/
/******************************************************************************/
.ui-corner-all, .ui-corner-bottom, .ui-corner-br, .ui-corner-right{
    border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-bl, .ui-corner-bottom, .ui-corner-left{
    border-bottom-left-radius: 0px;
}
.ui-corner-all, .ui-corner-right, .ui-corner-top, .ui-corner-tr{
    border-top-right-radius: 0px;
}
.ui-corner-all, .ui-corner-left, .ui-corner-tl, .ui-corner-top{
    border-top-left-radius: 0px;
}
.ui-widget-header {
border: none;
background:  #F6F6F6;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background:  #C7C7C7;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    border: none; 
/*background: url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x #fff;*/
background-color: #390;
}
.ui-state-focus, .ui-state-hover, .ui-widget-content .ui-state-focus, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-focus, .ui-widget-header .ui-state-hover{
    border:1px solid #888;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    border:none;
}
.ui-widget-content{
    border: none;  
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {

	color:#FFF;
}
/******************************************************************************/
/***** Body *******************************************************************/
/******************************************************************************/

body {
	padding: 0px;
	margin: 0px;
	background-color: @Zeus-Background-Body;
	min-width: 900px; 
}

/******************************************************************************/
/***** Float / Clear Classes **************************************************/
/******************************************************************************/

.FloatDx {
	float: right;
	margin-left: 8px;
}

.FloatSx { 
	float: left;
	margin-right: 8px;
}
.FloatClr { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.floatleft {float:left;}

.floatright {float:right;}

.clearboth {clear:both;}

.left {text-align:left;}
    
.right {text-align:right;}

.center {text-align:center;}


/******************************************************************************/
/***** Template Zeus **********************************************************/
/******************************************************************************/

.MAS02_LayHeader {
}

.MAS02_LaySiteMenu {
	margin: 0px;
	padding: 0px;
	background-color: @Zeus-Header-Menu-Area-Background;
	height: 35px;
	position: relative;
	z-index: 5000;
}

.MAS02_LaySiteMenu a {
    color: #fff;
}

.MAS02_LayPageTitle {
	margin: 0px;
	padding: 0px;
	height: 60px;
	background-color: @Zeus-Header-Title-Background;
	background-repeat:no-repeat;
	background-position:left top;
}

.MAS02_LayContent {
	background-color: #FFFFFF;
	margin: 0 0 0 0;
	padding: 10px;
	min-height:400px;
}

.MEX02B_text {
    font-family: Raleway,sans-serif,Arial,Helvetica,sans-serif;
    margin-top: 10px;
    margin-bottom: 15px;
}

.MAS02_LayFooter {
}

.MAS02_PageTitle {
	font-family: 'Raleway', sans-serif, Arial, Helvetica, sans-serif;
	font-size: 26px; /*ex18*/
	color: @Zeus-Header-Title-FontColor;
	padding:0 0 0 16px;
	line-height:60px;
	vertical-align:middle;
}

/******************************************************************************/
/***** Header *****************************************************************/
/******************************************************************************/

.HEA01 {
	height: 90px;
	background-color: @Zeus-Header-Logo-Background;/**Header**/
	background-repeat:no-repeat;
	background-position:left top;
}

.HEA01_LogOut {
	text-align:center;
    vertical-align:middle;
    position:absolute;
	margin:0px;
    padding:4px 20px;
    top:0px;
    right:0px;
    display:table-cell;
    background-color:#FFF;
}

.HEA01_UserName {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
    margin-right:10px;
	/*font-weight: bold;*/
}

/******************************************************************************/
/***** Footer *****************************************************************/
/******************************************************************************/

.FOO01_LayCont
{
	height: 100px;
    background-repeat:no-repeat;
    background-position:left top;
	background-color: @Zeus-Footer-Logo-Background;  /** Zeus Style **/
}

.FOO01_LayLogo {
    width:250px;
    float:right;
    height:100px;
    display:block;
}

.FOO01_Credits, .FOO01_Credits a, .FOO01_Credits a:link, .FOO01_Credits:visited
{
    background-repeat: no-repeat;
    background-image: url( '/Zeus/SiteImg/Zeus1/Footer_Logo_Off.png' );
    background-position: left top;
    border: 0px;
    margin: 0px;
    padding: 0px;
    float: right;
    cursor: pointer;
}

.FOO01_Credits:hover, .FOO01_Credits:active
{
    background-repeat: no-repeat;
    background-image: url(  '/Zeus/SiteImg/Zeus1/Footer_Logo_On.png' ); 
    background-position: left top;
    border:0px;
    margin:0px;
    padding:0px;
}

.FOO01_LayPageUp {
    padding:45px 20px ;
    float:left;
}

/******************************************************************************/
/***** NSTD1 - Nested Table 01 ************************************************/
/******************************************************************************/

.NSTD1_NestedTable1 {
	background-color: #CCCCCC;
}

.NSTD1_NestedTable1 td {
	background-color: #FFFFFF;
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

.NSTD1_NestedTable1 .tdParent{
	background-color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

.NSTD1_NestedTable1 .tdSeparator{
	padding: 2px;
	color: #FFFFFF;
}
	
/******************************************************************************/
/***** CALND - Calendar *******************************************************/
/******************************************************************************/

.CALND_BkgMonths {
	background-color: #006600;
	text-transform: capitalize	
}

.CALND_BkgWeekDays {
	background-color: #339900;
	text-transform: uppercase
}

.CALND_BkgDay {
	background-color: #F0EFEE;
}

.CALND_BkgToday {
	background-color: #660198;
}

.CALND_BkgDateFull {
	background-color: #0099FF;
}

.CALND_BkgDateEmpty {
	background-color: #006600;
}

.CALND_BkgElementFull {
	background-color: #D7EFFF;
	width:50%;
}

.CALND_BkgElementEmpty {
	background-color: #E8FBBF;
	width:50%;
}

.CALND_TxtMonth {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
}

.CALND_TxtWeekDays {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
}

.CALND_TxtDay {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
    color:White;
    margin:0 auto;
}

.CALND_TxtElements {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
    color:Black;
    margin:0 auto;
}

.CALND_TxtNavMonths a:link, .CALND_TxtNavMonths a:visited {
	font-weight:bold;
	font-size:11px;
	text-decoration:underline;
	color:#333333;
}

.CALND_TxtNavMonths a:hover, .CALND_TxtNavMonths a:active {
	font-weight:bold;
	font-size:11px;
	text-decoration:underline;
	color:#ffffff;
	background-color:#333333;
}

.CALND_TxtLinkButton {
	margin:0 auto;
}

.CALND_TxtLinkButton a:link, .CALND_TxtLinkButton a:visited {
	font-weight:bold;
	font-size:11px;
	text-decoration:underline;
	color:#333333;
}

.CALND_TxtLinkButton a:hover, .CALND_TxtLinkButton a:active {
	font-weight:bold;
	font-size:11px;
	text-decoration:underline;
	color:#ffffff;
	background-color:#333333;
}

/******************************************************************************/
/***** CONTENITORI GENERICI - Zeus ITem Container *****************************/
/******************************************************************************/

.ZITC000
{
    border: 0px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}
    
.ZITC006
{
    border: 0px;
    padding: 0px;
    margin: 0px 0px 6px 0px;
    }

.ZITC010
{
    border: 0px;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    }

/******************************************************************************/
/***** RAD EDITOR - Snippets **************************************************/
/******************************************************************************/


.BackCssStyle{
    background-color:#d1d1d1;
}

