﻿
@import "Variables.less";

/*************************************************************************/
/* Tabelle di layout per box pagine Zeus                                 */
/*************************************************************************/	

.BlockBox {
    margin-bottom:8px;
    clear:both;
}

.BlockBoxDouble {
	float:left;
}

.BlockBoxDataTracking {
    border: 0px;
    padding:0px;
}

.BlockBoxHeader {
	background-color:#E4E4E4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	/*font-weight:bold;*/
    /*line-height:26px;*/
	color:#333333;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	padding-top: 3px;
	padding-right: 0;
	padding-bottom: 3px;
	padding-left: 10px;
}

.BlockBoxDescription {
	text-align:right;
	width:165px;
    padding:2px 2px 2px 2px;
}

.BlockBoxValue {
	text-align:left;
    padding:2px 2px 2px 2px;
}

.LayWizardStep  {  
    margin: 0 0 6px 0;
    padding:0px; 
}
 
.VertSpacerSmall{margin:0;padding:0;height:2px}
 
.VertSpacerMedium{margin:0;padding:0;height:6px}
 
.VertSpacerBig{margin:0;padding:0;height:10px}
 
/*************************************************************************/
/* Button                                                                */
/*************************************************************************/	

.Button, .Button:link, .Button:visited {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-decoration: none;
	background-color: #666666;
	text-align: center;
	border: 1px outset;
	padding: 2px;
}

.Button:hover, .Button:active {
	background-color: #999999;
}

/*************************************************************************/
/* CheckboxList                                                          */
/*************************************************************************/

.CheckBoxList_FieldValue {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    list-style-type:none;
}

/*************************************************************************/
/* DataList Pager                                                        */
/*************************************************************************/

.PAGDL_Zeus {
    padding:0px;
    border:0px;
    margin:0px;
    width:100%;
    height:auto;
    overflow:auto;
    background-color:#333333;
    }

.GoBack {
	width:20%;
	float:left;
	margin:10px;
	background-color:#999999;  /** Zeus Style **/
    }

.PageStatus {
    width:20%;
    float:left;
    margin:10px;
    background-color:#999999;  /** Zeus Style **/
    }

.GoToPage {
    width:20%;
    float:left;
    margin:10px;
    background-color:#999999;  /** Zeus Style **/
    }

.RecordCounter {
    width:20%;
    float:left;
    margin:10px;
    background-color:#999999;  /** Zeus Style **/
    }

.GoForward {
    width:20%;
    float:left;
    margin:10px;
    background-color:#999999;  /** Zeus Style **/
    }
	
/*************************************************************************/
/* DropDownList                                                          */
/*************************************************************************/

.DropDownList {
    border-style: solid;
    border-width: 1px;
    border-color: #888888 #bbbbbb #bbbbbb #888888;
    color: #333333;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
}


/*************************************************************************/
/* FileUpload                                                            */
/*************************************************************************/

.FileUpload {
    color: #333333;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 1px;    
    border-color: #888888 #bbbbbb #bbbbbb #888888;
}

/*************************************************************************/
/* GridView                                                              */
/*************************************************************************/	
 
.GridView_Text {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    border-bottom:0px;
    border-top:0px;
    vertical-align:middle;
    border:1px solid #d8d8d8;
}

 .GridView_Text tr, .GridView_Text td{
   border-bottom:0px;
    border-top:0px;
    border-left:1px solid #ececec;
    border-right:1px solid #ececec;
    vertical-align:middle;
}

    .GridView_Text th {
        border:1px solid #d8d8d8;
        font-weight: normal;
    }
tr.GridView_Row {
    background-color:#ececec;
}
     
tr.GridView_AlternatingRow {
	background-color: #fff;  /** Zeus Style **/
}

tr.GridView_Row:hover {
	background-color: #cdc9c6;  /** Zeus Style **/
} 
     
tr.GridView_AlternatingRow:hover {
	background-color:#cdc9c6  /** Zeus Style **/
     } 
 
.GridView a, .GridView a:link, .GridView a:visited {
    color: #000000;
    text-decoration: underline;
}

.GridView a:hover, .GridView a:active {
	color: #006600;  /** Zeus Style **/
	text-decoration: underline;
}

.GridView_Footer, .GridView_Footer a, .GridView_Footer a:link, .GridView_Footer a:visited {
    color: #FFFFFF;
    /*font-weight: bold;*/
}

.GridView_Footer a:hover, .GridView_Footer a:active {
    color: #000000;
}

.GridView_Pager a, .GridView_Pager a:link, .GridView_Pager a:visited {
	color: @Zeus-Page-Pager-NotSelected-color;
	/*font-weight: bold;*/
	padding: 2px 10px;
	background-color: @Zeus-Page-Pager-NotSelected-background;  /** Zeus Style **/
	text-decoration:underline;
}

.GridView_Pager a:hover, .GridView_Pager a:active {
	color: @Zeus-Page-Pager-NotSelected-color-hover;
	background-color: @Zeus-Page-Pager-NotSelected-background-hover;  /** Zeus Style **/
	text-decoration:underline;
}

.GridView_Pager span {
	background-color: @Zeus-Page-Pager-Selected-background;  /** Zeus Style **/
	color: @Zeus-Page-Pager-Selected-color;
	padding: 2px 10px;
	margin: 0;
	/*font-weight: bold;*/
}

.GridView_Header_Text, .GridView_Header_Text a, .GridView_Header_Text a:link, .GridView_Header_Text a:visited {
    color: #333333;
    /*font-weight: bold;*/
    height:18px;
}

.GridView_Header_Text a:hover, .GridView_Header_Text a:active {
	color: #006600;  /** Zeus Style **/
}





.GridView_Button1:link, .GridView_Button1:visited {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	vertical-align: middle;
	background-color: #006600;  /* Zeus Style */
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
	text-align: center;
	border: 1px outset;
}

.GridView_Button1:hover, .GridView_Button1:active {
	background-color: #339900;  /* Zeus Style */
}

.GridView_Ord1, .GridViewOrd1:link, .GridView_Ord1:visited {
    background-color: #777777;
    text-decoration: none;
    margin: 2px;
    text-align: center;
    border: 1px outset;
}

.GridView_Ord1:hover, .GridView_Ord1:active {
	background-color: #006600;  /** Zeus Style **/
 }
 
.LabelSkin_GridTitolo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666;  /** Zeus Style **/
	/*font-weight: bold;*/
}    

.HyperlinkSkin_Filter, .HyperlinkSkin_Filter:link, .HyperlinkSkin_Filter:visited  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
     }
     
.HyperlinkSkin_Filter:hover, .HyperlinkSkin_Filter:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #333333;
    color:#ffffff;
     }     

.HyperlinkSkin_Filter_Selected, .HyperlinkSkin_Filter_Selected:link, .HyperlinkSkin_Filter_Selected:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006600;  /** Zeus Style **/
}
     
.HyperlinkSkin_Filter_Selected:hover, .HyperlinkSkin_Filter_Selected:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color:#339900;
	color: #ffffff;
}  
     
.LabelSkin_Filter  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
     }
 
.LayGridTitolo1 {
    margin: 0 0 5px 0;
    padding: 0;
    background-color: #FFFFFF;
}


.GridView_ZeusButton1, .GridView_ZeusButton1:link, .GridView_ZeusButton1:visited {
	/*cursor:pointer;
	font-size:12px;
	line-height:30px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	background-color: @Zeus-Page-Button;
	padding:6px 15px;
	margin: 2px;
	text-align: center;
	vertical-align: middle;*/

    display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: @Zeus-Page-Gridview-FontSize;
  line-height: @Zeus-Page-Gridview-LineHeight;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;

     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);

  background-image: -webkit-linear-gradient(top, #ffffff 0%, @Zeus-Page-Gridview 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, @Zeus-Page-Gridview 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(@Zeus-Page-Gridview));
  background-image: linear-gradient(to bottom, #ffffff 0%, @Zeus-Page-Gridview 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='@Zeus-Page-Button', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;

   background-color: @Zeus-Page-Gridview;
  background-position: 0 -15px;

  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
  color: @Zeus-Page-Gridview-color;
}


.GridView_ZeusButton1:hover, .GridView_ZeusButton1:focus {
	/*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);*/


  /*background-image: -webkit-linear-gradient(top, #ffffff 0%, @Zeus-Page-Button 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, @Zeus-Page-Button 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(@Zeus-Page-Button));
  background-image: linear-gradient(to bottom, #ffffff 0%, @Zeus-Page-Button 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='@Zeus-Page-Button', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;*/

  background-image:none;
   background-color: @Zeus-Page-Gridview-hover;
  background-position: 0 -15px;

    /*outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;*/
    color: @Zeus-Page-Gridview-color-hover;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
  /*-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 1px rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 1px rgba(255, 255, 255, 0.075);*/

  text-decoration: none;

}

 .GridView_ZeusButton1:focus {
     outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  }

.GridView_ZeusButton1:active {
    background-color: @Zeus-Page-HyperLinkButton-hover;
  border-color: #dbdbdb;

  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/*.GridView_ZeusButton1:link, .GridView_ZeusButton1:visited {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	vertical-align: middle;
	background-color: @Zeus-Gridview-Button;
	text-decoration: none;
	padding:4px 15px;
	line-height:20px;
	text-align: center;
}

.GridView_ZeusButton1:hover, .GridView_ZeusButton1:active {
	background-color: @Zeus-Gridview-Button-hover;
}*/

/*************************************************************************/
/* Hyperlink                                                             */
/*************************************************************************/	

.HyperlinkSkin_FieldValue, .HyperlinkSkin_FieldValue:link, .HyperlinkSkin_FieldValue:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;/*Hyperlink*/
    color: #333333;
}

.HyperlinkSkin_FieldValue:hover, .HyperlinkSkin_FieldValue:active {
	color: #339900;/*Hyperlink*/
}

.HyperlinkSkin_SysMsgOption, .HyperlinkSkin_SysMsgOption:link, .HyperlinkSkin_SysMsgOption:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #333333;
    text-decoration: underline;
}
 
.HyperlinkSkin_SysMsgOption:hover, .HyperlinkSkin_SysMsgOption:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #333333;
    text-decoration: underline;
    }

/*************************************************************************/
/* Label                                                                 */
/*************************************************************************/	

.LabelSkin_FieldDescription {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 13px;
}
    
.LabelSkin_FieldValue {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
	line-height: 12px;
}

.LabelSkin_FileUploadNotes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #333333;
}

.LabelSkin_SysMsgDesc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}

.LabelSkin_SysMsgOption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    }

.LabelSkin_WizardStep {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
}

.LabelSkin_WizardStepCurrent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #339900;  /** Zeus Style **/
}
   
.LabelSkin_Titolo1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #333333;
    font-weight:bold;
}

.LabelSkin_Titolo2 {}

.LabelSkin_CorpoTesto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;/*.LabelSkin_CorpoTesto*/
    color: #333333;
}

.LabelSkin_Note {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #333333;
    line-height: 10px;
}

/*************************************************************************/
/* ListBox                                                               */
/*************************************************************************/	

.ListBoxSkin_List {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    background-color: #FFFFFF;
    border:1px solid #cccccc;
    overflow: auto;
}

/*************************************************************************/
/* Login                                                                 */
/*************************************************************************/	

.LoginSkin_CorpoTesto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
}

/*************************************************************************/
/* TextBox                                                               */
/*************************************************************************/	

.TextBox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px;
    min-width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #888888 #bbbbbb #bbbbbb #888888;
}

.Multiline {
    border-style: solid;
    border-width: 1px;
    border-color: #888888 #bbbbbb #bbbbbb #888888;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px;
    overflow: auto;
}

/*************************************************************************/
/* NestedCalendar                                                        */
/*************************************************************************/

.NestedCalendar_TableRow {
	background-color:#339900;  /** Zeus Style **/
}

/*************************************************************************/
/* RadioButton                                                           */
/*************************************************************************/

.RadioButton_FieldValue {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
}

.RadioButtonList_FieldValue {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
}

/******************************************************************************/
/***** SiteMenu02 *************************************************************/
/******************************************************************************/	

.Static02MenuStyle
{
	height: 35px;
	padding: 0px;
	margin: 0px;
	background-color: @Zeus-Header-Menu-Background;
	border:0px;
}

.Static02MenuStyle>li:hover, .Static02MenuStyle>li:active {
	background-color: @Zeus-Header-Menu-Lv1Hover;
	color: @Zeus-Header-Menu-Lv1HoverColor;
	border:0px;
	margin: 0px;
}

.Static02MenuStyle>li, .Static02MenuStyle>li:link, .Static02MenuStyle>li:visited {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color:  @Zeus-Header-Menu-Lv1Color;
    font-size: 14px;
    cursor: pointer;
    padding: 0px 10px;
    height: 35px;
    border: 0px;
    line-height:35px;
    vertical-align: middle;
}

.Dynamic02MenuStyle
{
	padding: 0px;
	background-color: #958A8D;
}

.Dynamic02MenuStyle>li, .Dynamic02MenuStyle>li:link, .Dynamic02MenuStyle>li:visited
{
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
	margin:0px;
	background-color: @Zeus-Header-Menu-Lv2BackgroundColor;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: @Zeus-Header-Menu-Lv2Color;
	vertical-align:middle;
	height: 35px;
	line-height:35px;
	vertical-align: middle;
}
    
.Dynamic02MenuStyle>li:hover, .Dynamic02MenuStyle>li:active {
	background-color: @Zeus-Header-Menu-Lv2Hover;
    color: @Zeus-Header-Menu-Lv2HoverColor;
}


.Dynamic02MenuStyle>li a:hover, .Dynamic02MenuStyle>li a:active 
{
	 padding: 0px 10px; 
    }

.Dynamic02MenuStyle>li a, .Dynamic02MenuStyle>li a:link, .Dynamic02MenuStyle>li a:visited {
    padding: 0px 10px;  
    color: #FFFFFF;
     line-height:35px;
    vertical-align: middle;
}

 
/*************************************************************************/
/* Zeus Shared Skin Model - ZSSM_Button01                                */
/*************************************************************************/

.ZSSM_Button01_Button, .ZSSM_Button01_Button:link, .ZSSM_Button01_Button:visited {
	cursor:pointer;
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #006600;  /** Zeus Style **/
	padding:3px 10px;
	margin: 2px;
	text-align: center;
	border: 0px;
}

.ZSSM_Button01_Button:hover, .ZSSM_Button01_Button:active {
	background-color: #339900;  /** Zeus Style **/
}

.ZSSM_Button01_HyperLink, .ZSSM_Button01_HyperLink:link, .ZSSM_Button01_HyperLink:visited {
	/*cursor:pointer;
	font-size:12px;
	line-height:30px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	background-color: @Zeus-Page-Button;
	padding:6px 15px;
	margin: 2px;
	text-align: center;
	vertical-align: middle;*/

    display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: @Zeus-Page-HyperLinkButton-FontSize;
  line-height: @Zeus-Page-HyperLinkButton-LineHeight;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;

     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);

  background-image: -webkit-linear-gradient(top, #ffffff 0%, @Zeus-Page-HyperLinkButton 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, @Zeus-Page-HyperLinkButton 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(@Zeus-Page-HyperLinkButton));
  background-image: linear-gradient(to bottom, #ffffff 0%, @Zeus-Page-HyperLinkButton 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='@Zeus-Page-Button', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;

   background-color: @Zeus-Page-HyperLinkButton;
  background-position: 0 -15px;

  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
  color: @Zeus-Page-HyperLinkButton-color;
}


.ZSSM_Button01_HyperLink:hover, .ZSSM_Button01_HyperLink:focus {
	/*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);*/


  /*background-image: -webkit-linear-gradient(top, #ffffff 0%, @Zeus-Page-Button 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, @Zeus-Page-Button 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(@Zeus-Page-Button));
  background-image: linear-gradient(to bottom, #ffffff 0%, @Zeus-Page-Button 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='@Zeus-Page-Button', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;*/

  background-image:none;
   background-color: @Zeus-Page-HyperLinkButton-hover;
  background-position: 0 -15px;

    /*outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;*/
    color: @Zeus-Page-HyperLinkButton-color-hover;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
  /*-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 1px rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 1px rgba(255, 255, 255, 0.075);*/

  text-decoration: none;

}

 .ZSSM_Button01_HyperLink:focus {
     outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  }

.ZSSM_Button01_HyperLink:active {
    background-color: @Zeus-Page-HyperLinkButton-hover;
  border-color: #dbdbdb;

  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}


.ZSSM_Button01_LinkButton, .ZSSM_Button01_LinkButton:link, .ZSSM_Button01_LinkButton:visited {
	/*cursor:pointer;
	font-size:12px;
	line-height:30px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	background-color: @Zeus-Page-Button;
	padding:6px 15px;
	margin: 2px;
	text-align: center;
	vertical-align: middle;*/

    display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: @Zeus-Page-Button-FontSize;
  line-height: @Zeus-Page-Button-LineHeight;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;

     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);

  background-image: -webkit-linear-gradient(top, #ffffff 0%, @Zeus-Page-Button 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, @Zeus-Page-Button 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(@Zeus-Page-Button));
  background-image: linear-gradient(to bottom, #ffffff 0%, @Zeus-Page-Button 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='@Zeus-Page-Button', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;

   background-color: @Zeus-Page-Button;
  background-position: 0 -15px;

  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
  color: @Zeus-Page-Button-color;
}

.ZSSM_Button01_LinkButton:hover, .ZSSM_Button01_LinkButton:focus {
	/*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);*/


  /*background-image: -webkit-linear-gradient(top, #ffffff 0%, @Zeus-Page-Button 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, @Zeus-Page-Button 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(@Zeus-Page-Button));
  background-image: linear-gradient(to bottom, #ffffff 0%, @Zeus-Page-Button 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='@Zeus-Page-Button', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;*/

  background-image:none;
   background-color: @Zeus-Page-Button-hover;
  background-position: 0 -15px;

    /*outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;*/
    color: @Zeus-Page-Button-color-hover;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
  /*-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 1px rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 1px rgba(255, 255, 255, 0.075);*/

  text-decoration: none;

}

 .ZSSM_Button01_LinkButton:focus {
     outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  }

.ZSSM_Button01_LinkButton:active {
    background-color: @Zeus-Page-Button-hover;
  border-color: #dbdbdb;

  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.ZSSM_Button01_LoginStatus, .ZSSM_Button01_LoginStatus:link, .ZSSM_Button01_LoginStatus:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;       
    color: #333333;
}

.ZSSM_Button01_LoginStatus:hover, .ZSSM_Button01_LoginStatus:active {
	color: #339900;
}


.ZSSM_Button01_LoginStatus_Label
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

/*************************************************************************/
/* Zeus Shared Skin Model - ZSSM_Validazione01                           */
/*************************************************************************/

.ZSSM_Validazione01 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FF0000;
}

.ZSSM_Validazione01_Label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}


/* MY */
.ui-widget-header {
    border: 1px solid #c3c3c3;
    background: #c3c3c3 url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
        border: 1px solid hsl(0, 0%, 70%);
    background: #E2E2E2 url("images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
               }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
border: 1px solid hsl(0, 0%, 70%);
                }