﻿@Zeus-Background-Body: #ffffff;

@Zeus-Header-Logo-Background: #f1f1f1;
@Zeus-Header-Menu-Area-Background: #999999;
@Zeus-Header-Menu-Background: #999999;
@Zeus-Header-Menu-Lv1Color: #FFFFFB;
@Zeus-Header-Menu-Lv1Hover: #d61920;
@Zeus-Header-Menu-Lv1HoverColor: #FFFFFE;
@Zeus-Header-Menu-Lv2BackgroundColor: #666666;
@Zeus-Header-Menu-Lv2Color: #FFFFFD;
@Zeus-Header-Menu-Lv2Hover: #d61920;
@Zeus-Header-Menu-Lv2HoverColor: #FFFFFC;
@Zeus-Header-Title-Background: #d61920;
@Zeus-Header-Title-FontColor: #FFFFFF;

@Zeus-Page-Gridview: #ececec;
@Zeus-Page-Gridview-color: #333333;
@Zeus-Page-Gridview-hover: #c1171d;
@Zeus-Page-Gridview-color-hover: #FFF;
@Zeus-Page-Gridview-FontSize: 12px;
@Zeus-Page-Gridview-LineHeight: 1.22857143;

@Zeus-Page-Button: #d61920;
@Zeus-Page-Button-color: #FFF;
@Zeus-Page-Button-hover: #c1171d;
@Zeus-Page-Button-color-hover: #FFF;
@Zeus-Page-Button-FontSize: 14px;
@Zeus-Page-Button-LineHeight: 1.42857143;

@Zeus-Page-HyperLinkButton: #d61920;
@Zeus-Page-HyperLinkButton-color: #FFF;
@Zeus-Page-HyperLinkButton-hover: #c1171d;
@Zeus-Page-HyperLinkButton-color-hover: #FFF;
@Zeus-Page-HyperLinkButton-FontSize: 12px;
@Zeus-Page-HyperLinkButton-LineHeight: 1.22857143;

@Zeus-Page-Pager-NotSelected-color: #FFFFFF;
@Zeus-Page-Pager-NotSelected-background: #999999;
@Zeus-Page-Pager-NotSelected-color-hover: #FFFFFF;
@Zeus-Page-Pager-NotSelected-background-hover: #888888;
@Zeus-Page-Pager-Selected-color: #FFFFFF;
@Zeus-Page-Pager-Selected-background: #006600;

@Zeus-Footer-Logo-Background: #dcdcdc;

@Test: 24px;