﻿<%@ Page Language="C#"  MasterPageFile="~/Zeus/SiteMaster/Zeus1.master"
    CodeFile="Excel_Export.aspx.cs" Inherits="Zeus_Account_Excel_Export"
    Theme="Zeus" MaintainScrollPositionOnPostback="true" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ZeusContent" runat="Server">
    <asp:HiddenField ID="TitleField" runat="server" />
    <table>
        <tr>
            <td>
                <asp:Button ID="EsportaButton" runat="server" Text="Esporta" OnClick="EsportaButton_Click" />
            </td>
        </tr>
    </table>
</asp:Content>

