﻿<%@ Control Language="C#" ClassName="ImportAccount_ExcelInfo_x64" CodeFile="Excel_ImportInfo.ascx.cs"
    Inherits="ImportAccount_ExcelInfo"%>

<asp:Label ID="InfoLabel" runat="server" SkinID="Validazione01" ></asp:Label>