﻿@charset "UTF-8";
@font-face {
  font-family: 'social';
  src: url("/WSD/assets/fonts/socials.eot");
  src: local("social"), url("/WSD/assets/fonts/socials.eot?#iefix") format("embedded-opentype"), url("/WSD/assets/fonts/socials.woff2") format("woff2"), url("/WSD/assets/fonts/socials.woff") format("woff"), url("/WSD/assets/fonts/socials.ttf") format("truetype"), url("/WSD/assets/fonts/socials.svg#social") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  width: 100%;
  height: 100%;
  background-color: #dedfe1;
  background-image: url("/WSD/assets/img/bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  font-family: Raleway;
  font-size: 10px; }

p, li, a, div {
  font-size: 1.8rem; }

h1 {
  font-size: 2rem;
  color: #1f64b2;
  font-weight: bolder; }

h2 {
  font-size: 2rem;
  color: #1f64b2;
  font-weight: bolder; }

h3 {
  font-size: 2rem;
  color: #1f64b2;
  font-weight: bolder; }

h4 {
  font-size: 2rem;
  color: #1f64b2;
  font-weight: bolder; }

h5 {
  font-size: 2rem;
  color: #1f64b2;
  font-weight: bolder; }

section {
  padding: 25px 0; }

section.menu {
  position: relative; }

.navbar {
  width: 100%;
  background: transparent !important; }

.collapse {
  width: 100%;
  height: auto;
  background: transparent !important;
  position: relative; }

.collapse .navbar-nav {
  background: transparent !important;
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  margin: 0; }

.nav-item {
  display: inline-block;
  width: calc(98.6%  / 7);
  background-image: url("/WSD/assets/img/head_btn_bg_hover.png");
  background-size: 100% auto;
  margin: 0;
  height: 50px;
  cursor: pointer;
  position: relative;
  z-index: 1; }

.nav-item:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/WSD/assets/img/head_btn_bg_shadow.png");
  background-size: 100% 100%;
  position: absolute;
  top: 140%;
  left: 0px;
  pointer-events: none;
  opacity: 1;
  -webkit-filter: blur(4px) saturate(100) brightness(-200%);
  filter: blur(4px) saturate(100) brightness(-200%);
  opacity: .15;
  transition: 400ms;
  z-index: 2; }

.nav-item:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/WSD/assets/img/head_btn_bgs.png");
  background-size: 100% auto;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  opacity: 1;
  transition: 400ms;
  z-index: 2; }

.nav-item:hover:after {
  opacity: 0; }

.nav-item:hover:before {
  top: 130%;
  -webkit-filter: blur(4px) saturate(5) brightness(60%);
  filter: blur(4px) saturate(5) brightness(60%);
  opacity: .2; }

.nav-item.show:after {
  opacity: 0; }

.nav-item.show:before {
  top: 130%;
  -webkit-filter: blur(4px) saturate(5) brightness(60%);
  filter: blur(4px) saturate(5) brightness(60%);
  opacity: .2; }

.nav-item > .nav-link {
  position: relative;
  z-index: 3;
  color: #ccc !important;
  text-shadow: -1px 0px 2px #333;
  font-size: 2.4rem;
  line-height: 46px;
  width: 100%;
  text-align: center;
  text-transform: uppercase; }

.dropdown-menu {
  width: 100%;
  border: 0px solid transparent;
  background-color: #dedfe1; }

.dropdown-menu a {
  color: #333 !important;
  font-size: 2.4rem; }

img {
  position: relative;
  width: 100%;
  height: auto; }

header {
  padding: 40px 0;
  text-align: center; }

header .logo {
  max-width: 300px;
  height: auto;
  margin: 40px; }

.navbar .bar {
  background-image: url("/WSD/assets/img/bg_bar.png");
  background-size: 100% 25px;
  background-position: bottom left;
  background-repeat: repeat-x;
  height: 25px;
  position: absolute;
  left: 0px;
  width: 100%;
  bottom: -19px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden; }

section.history .year {
  transform-origin: top left;
  transform: rotate(-90deg);
  position: relative;
  top: 120px;
  font-weight: 400;
  font-size: 3rem; }

section.history p {
  width: calc(100% - 90px);
  margin-left: 90px; }

/* ********************************************************* finalità */
section.goal {
  background-image: url("/WSD/assets/img/bg_bar.png");
  background-size: 100% 25px;
  background-position: bottom left;
  background-repeat: repeat-x; }

section.goal .cta {
  align-items: baseline;
  justify-content: center;
  min-height: 220px; }

section.goal .cta img {
  position: absolute;
  bottom: 0px; }

/* ********************************************************* call to action */
section.cta {
  text-align: center;
  padding-bottom: 0px;
  background-image: url("/WSD/assets/img/bg_bar.png");
  background-size: 100% 25px;
  background-position: bottom left;
  background-repeat: repeat-x; }

section.cta .row {
  justify-content: center;
  align-items: baseline; }

section.cta img {
  max-width: 440px;
  height: auto;
  margin-bottom: 25px; }
