﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="LayoutAreaPazienti.master.cs" Inherits="Master_LayoutMain" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index,follow" />
    <meta name="rating" content="General" />
    <title></title>

    <link rel="icon" href="/asset/img/favicon.ico" type="image/x-icon" />
    <%--<link rel="apple-touch-icon" sizes="57x57" href="/asset/img/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/asset/img/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/asset/img/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/asset/img/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/asset/img/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/asset/img/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/asset/img/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/asset/img/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/asset/img/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/asset/img/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/asset/img/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/asset/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/asset/img/favicon-96x96.png" />--%>
    <meta name="msapplication-TileColor" content="#ffffff" />
    <%--<meta name="msapplication-TileImage" content="/asset/img/ms-icon-144x144.png" />--%>
    <meta name="theme-color" content="#ffffff" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@700&display=swap" rel="stylesheet" />

    <link href="/asset/lib/bootstrap/css/bootstrap.custom.css" rel="stylesheet" type="text/css" />
    <link href="/asset/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/asset/css/areaPazienti.css" rel="stylesheet" type="text/css" />
    <link href="/asset/css/ZeusTypeFoundry.css" rel="stylesheet" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script defer src="/asset/lib/font-awesome/js/fontawesome-all.min.js"></script>

    <%--ROBOTS--%>
    <asp:ContentPlaceHolder ID="robots" runat="server">
        <meta name="robots" content="index,follow" />
    </asp:ContentPlaceHolder>

    <%--OPTIONAL HEAD CONTENT--%>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159327270-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-159327270-1');
    </script>
</head>
<body>
    <form runat="server" id="form">

        <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePartialRendering="true" EnablePageMethods="true">
            <Scripts>
                <asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.Core.js" />
                <asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.jQuery.js" />
                <asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.jQueryInclude.js" />
            </Scripts>
        </asp:ScriptManager>

        <%--HEADER--%>
        <header>
            <dlc:Header ID="Header" runat="server" />
        </header>

        <%--MAIN CONTENT--%>
        <main>
            <div class="container">
                <h2 class="pageTitle">
                    <asp:ContentPlaceHolder ID="AreaTitle" runat="server">
                        Qui titolo pagina
                    </asp:ContentPlaceHolder>
                </h2>
                <hr />
            </div>
            <asp:ContentPlaceHolder ID="AreaContentMain" runat="server">
                MASTER CONTENT
            </asp:ContentPlaceHolder>
        </main>

        <%--FOOTER--%>
        <footer>
            <dlc:Footer ID="Footer" runat="server" />
        </footer>

    </form>

    <%--SCRIPTS--%>
    <script src="/asset/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/asset/js/main.js"></script>

    <%--COOKIE POLICY--%>
    <script type="text/javascript" src="/asset/js/cookiechoices.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function (event) {
            cookieChoices.showCookieConsentBar('I cookie ci aiutano ad erogare servizi di qualità. Utilizzando i nostri servizi, l\'utente accetta le nostre modalità d\'uso dei cookie.',
                'Chiudi', 'Cookie policy', '/Web/59/Cookie-policy');
        });
    </script>

    <%--OPTIONAL SCRIPTS--%>
    <asp:ContentPlaceHolder ID="script" runat="server">
    </asp:ContentPlaceHolder>

</body>
</html>
