﻿<%@ Page Language="C#" MasterPageFile="~/Zeus/SiteMaster/Zeus1.master" Title="Untitled Page" Theme="Zeus" %>

<%@ Register Src="~/Zeus/Pagamenti/Pagamenti_Lst.ascx" TagName="Pagamenti_Lst" TagPrefix="uc2" %>

<script runat="server">

    
    
</script>

<asp:Content ID="Content1" ContentPlaceHolderID="ZeusContent" runat="Server">
 <asp:HiddenField ID="TitleField" runat="server" Visible="False" />
    <uc2:Pagamenti_Lst ID="Pagamenti_Lst1" runat="server" />
</asp:Content>


<%-- Hop: 20170201 Me la sono trovata qua non funzionante, per cui commentata --%>

<%--<strong></strong><span class="CorpoTesto"><strong></strong></span>
<div style="TEXT-ALIGN: justify" class="Titolo1a">
    <div style="TEXT-ALIGN: center"><span class="CorpoTesto"><span class="CorpoTesto"><font size="2" color="#8b0000"><strong>Food Valley Travel &amp; Leisure </strong><span style="FONT-WEIGHT: bold">è experience tour operator &amp; DMC&nbsp;</span></font></span></span></div>
    <div style="TEXT-ALIGN: center"><span class="CorpoTesto"><span class="CorpoTesto"><font color="#8b0000"><font size="2"><span style="FONT-WEIGHT: bold">per</span><strong style="FONT-WEIGHT: bold">&nbsp;Parma, </strong></font><strong style="FONT-WEIGHT: bold"><font size="2">Emilia-Romagna Italia...&nbsp;</font></strong><span style="FONT-WEIGHT: bold"><font size="2">&nbsp;</font></span></font></span></span></div>
    <div style="TEXT-ALIGN: center"><span class="CorpoTesto"><span class="CorpoTesto"><span style="FONT-WEIGHT: bold"><font size="2">
        <br>
    </font></span></span></span></div>
    <div style="TEXT-ALIGN: center"><span>
        <h2><i>Our tags: #foodvalleytravel #foodvalleyexperience</i></h2>
    </span>
        <br>
    </div>
    <div style="TEXT-ALIGN: center">
        <img src="/ZeusInc/PageDesigner/Images/500.jpg" alt="" style="width: 600px; height: 400px;"></div>
    <div style="TEXT-ALIGN: center"><span>
        <br>
    </span></div>
    <div style="TEXT-ALIGN: center"><span>
        <br>
    </span></div>
    <script src="http://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=746&amp;locationId=1027885&amp;lang=it&amp;year=2014"></script>
</div>
<div id="TA_certificateOfExcellence746" class="TA_certificateOfExcellence" style="width:172px;float:left">
    <ul id="BFejAIhg" class="TA_links OXCNZNtC">
        <li id="mV5wC4hn" class="2grG7vxbk"><a target="_blank" href="http://www.tripadvisor.it/">
            <img src="http://www.tripadvisor.it/img/cdsi/img2/awards/CoE2014_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"></a>&nbsp;</li>
    </ul>

</div>
<div style="width:350px;float:left">
    <a target="_blank" href="http://www.tripadvisor.it/">
            <img src="/SiteImg/Header_Bkg_small.jpg" ></a>

</div>
<div style="float:clear"></div>
<script src="http://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=746&amp;locationId=1027885&amp;lang=it&amp;year=2014"></script>--%>
