﻿<%@ Page Language="C#" MasterPageFile="~/Master/LayoutMain.master" CodeFile="Rappresentanti.aspx.cs" Inherits="Consiglio_Rappresentanti" %>

<asp:Content ID="Content3" ContentPlaceHolderID="head" runat="Server">
    <style>
        body main {
            min-height: 80rem;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="AreaTitle" runat="Server">
    Rappresentanti Regionali
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="AreaContentMain" runat="Server">
    <div class="container">
        <p>Mario Rossi</p>
        <p>Mario Rossi</p>
        <p>Mario Rossi</p>
        <p>Mario Rossi</p>
        <p>Mario Rossi</p>
    </div>
</asp:Content>