﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PanelRinnovo.ascx.cs" Inherits="UserControl_PanelRinnovo" %>

<asp:Panel runat="server" ID="PanelRinnova" Visible="false">
</asp:Panel>
<asp:HyperLink NavigateUrl="/AreaSoci/RinnovoQuota.aspx" ID="RenewalButton" runat="server" Visible="false" OnClick="RenewalButton_Click">
    <div class="MEX01B">
        <div class="MEX01B_text">Attenzione: rinnova la tua iscrizione Soci</div>
    </div>
</asp:HyperLink>