﻿/***** TESTO *****/
/***** FINE TESTO *****/
/***** ANIMAZIONI *****/
/***** FINE ANIMAZIONI *****/
/***** FLEX *****/
/***** FINE FLEX *****/
/***** TESTO *****/
/***** FINE TESTO *****/
/***** ANIMAZIONI *****/
/***** FINE ANIMAZIONI *****/
/***** FLEX *****/
/***** FINE FLEX *****/
ul.MenuLv1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  background-color: #999;
  border: 0;
  list-style-type: none;
  padding: 0; }
  ul.MenuLv1 li {
    position: relative;
    border-style: none;
    border-bottom: 1px solid #fff;
    margin: 0; }
    ul.MenuLv1 li:hover {
      background-color: #d61920; }
    ul.MenuLv1 li a {
      display: block;
      color: #fff;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 14px;
      text-decoration: none;
      padding: 10px 20px; }
    ul.MenuLv1 li ul {
      display: none;
      position: absolute;
      background-color: #4a4a48;
      border-radius: 0;
      border: 0;
      min-width: 200px;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      ul.MenuLv1 li ul.MenuLv2 {
        top: calc(100% - 1px);
        left: 0; }
      ul.MenuLv1 li ul.MenuLv3 {
        top: 0;
        left: 200px; }
  ul.MenuLv1 > li {
    border: 0; }
    ul.MenuLv1 > li:hover ul.MenuLv2 {
      display: block; }
    ul.MenuLv1 > li > ul.MenuLv2 li:hover ul.MenuLv3 {
      display: block; }
  ul.MenuLv1 ul.MenuLv2 li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    ul.MenuLv1 ul.MenuLv2 li span {
      color: #fff;
      font-size: 10px;
      padding: 0 10px; }
