﻿<%@ Page Language="C#" MasterPageFile="~/Zeus/SiteMaster/Zeus1.master" Title="Untitled Page" CodeFile="SendMail_Web.aspx.cs"
    Inherits="Communicator_SendMail_Web"
    Theme="Zeus" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ZeusContent" runat="Server">
    <asp:HiddenField ID="TitleField" runat="server" Visible="False" />
    <asp:HiddenField ID="PZD_MailPerLottoHiddeField" runat="server" />
    <asp:HiddenField ID="ZMCD_UnsubscribeLink" runat="server" />
    <asp:HiddenField ID="ZMCD_WebLink" runat="server" />
    <asp:HiddenField ID="ZMCD_UrlDomain" runat="server" />
</asp:Content>
